chatApplication/dev2/force-app/main/default/flows/Account_DC_TSM_SO_Roll_up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Account_Parsed_Data_Assign</name>
        <label>Account Parsed Data Assign</label>
        <locationX>339</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>AccountDCVAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountDCParsed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSalesOfficeVAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSOParsed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTSMVAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountTSMParsed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCGVAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountCGParsed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountDCTSM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountDCTSMParsed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountsFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountBlockedAccounts</name>
        <label>CountBlockedAccounts</label>
        <locationX>796</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>CountBlocked</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopBlockedAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountofChildren</name>
        <label>CountofChildren</label>
        <locationX>413</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>CountAllChildren</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopChildAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DChlDataAssign</name>
        <label>AccountDataAssign</label>
        <locationX>92</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>DCSOTSMVAR</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!AccountDCVAR}-{!AccountCGVAR}-{!AccountTSMVAR}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DCSOTSMVAR</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTSMUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountTSMVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTSMUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSOUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountSalesOfficeVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSOUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountDCUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountDCVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountDCUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCGUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountCGVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCGUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountDCTSMUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_TSM_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughDChlAccounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountsFound</name>
        <label>AccountsFound</label>
        <locationX>248</locationX>
        <locationY>565</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DChlAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DChlDataAssign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountCGParsed</name>
        <dataType>String</dataType>
        <expression>LEFT({!DChlData.Customer_group__c}, (FIND(&quot;-&quot;,{!DChlData.Customer_group__c})-2))</expression>
    </formulas>
    <formulas>
        <name>AccountDCParsed</name>
        <dataType>String</dataType>
        <expression>LEFT({!DChlData.DC__c}, (FIND(&quot;-&quot;,{!DChlData.DC__c})-2))</expression>
    </formulas>
    <formulas>
        <name>AccountDCTSMParsed</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!DChlData.Sales_district__c}, FIND(&quot; -&quot;, {!DChlData.Sales_district__c})))</expression>
    </formulas>
    <formulas>
        <name>AccountSOParsed</name>
        <dataType>String</dataType>
        <expression>LEFT({!DChlData.Sales_Office__c}, (FIND(&quot;-&quot;,{!DChlData.Sales_Office__c})-2))</expression>
    </formulas>
    <formulas>
        <name>AccountTSMParsed</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!DChlData.Sales_district__c}, (LEN({!DChlData.Sales_district__c})-FIND(&quot;- &quot;, {!DChlData.Sales_district__c}))))</expression>
    </formulas>
    <interviewLabel>Account - DC TSM SO Roll up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - DC TSM SO Roll up</label>
    <loops>
        <name>LoopBlockedAccounts</name>
        <label>LoopBlockedAccounts</label>
        <locationX>625</locationX>
        <locationY>436</locationY>
        <assignNextValueToReference>DChlBlockedData</assignNextValueToReference>
        <collectionReference>DChlBlockedAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountBlockedAccounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContactAccountDCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopChildAccounts</name>
        <label>LoopChildAccounts</label>
        <locationX>273</locationX>
        <locationY>196</locationY>
        <assignNextValueToReference>DCChildAccounts</assignNextValueToReference>
        <collectionReference>ChildAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountofChildren</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LookupParentAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughDChlAccounts</name>
        <label>LoopThroughDChlAccounts</label>
        <locationX>198</locationX>
        <locationY>353</locationY>
        <assignNextValueToReference>DChlData</assignNextValueToReference>
        <collectionReference>DChlAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Parsed_Data_Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LookupBlockedChildren</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_TSM_User</name>
        <label>Lookup TSM User</label>
        <locationX>753</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Sales_District_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountDCTSM</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LookupAllChildren</name>
        <label>LookupAllChildren</label>
        <locationX>304</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopChildAccounts</targetReference>
        </connector>
        <filters>
            <field>Managed_Service_Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012j0000000uXzbAAE</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ChildAccounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupBlockedChildren</name>
        <label>LookupBlockedChildren</label>
        <locationX>407</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopBlockedAccounts</targetReference>
        </connector>
        <filters>
            <field>Managed_Service_Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012j0000000uXzbAAE</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>DChlBlockedAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DC__c</queriedFields>
        <queriedFields>Order_Block__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupParentAccount</name>
        <label>LookupParentAccount</label>
        <locationX>123</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughDChlAccounts</targetReference>
        </connector>
        <filters>
            <field>Managed_Service_Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Block__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012j0000000uXzbAAE</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>DChlAccounts</outputReference>
        <queriedFields>DC__c</queriedFields>
        <queriedFields>Relationship__c</queriedFields>
        <queriedFields>Sales_Office__c</queriedFields>
        <queriedFields>Sales_district__c</queriedFields>
        <queriedFields>Customer_group__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContactAccountDCs</name>
        <label>UpdateContactAccountDCs</label>
        <locationX>542</locationX>
        <locationY>180</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Blocked_Children__c</field>
            <value>
                <elementReference>CountBlocked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Customer_Groups__c</field>
            <value>
                <elementReference>AccountCGUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_DCs__c</field>
            <value>
                <elementReference>AccountDCUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_of_Children__c</field>
            <value>
                <elementReference>CountAllChildren</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>LookupAllChildren</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCGUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountCGVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountDCTSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountDCTSMUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>AccountDCTSMUpdate2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountDCUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountDCVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountIDVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountSalesOfficeVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountSOUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountTSMs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountTSMUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountTSMVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChildAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountAllChildren</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountBlocked</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DCChildAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DChlAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DChlBlockedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DChlBlockedData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DChlData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DChlUpdateData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DCInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DCSOTSMVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesDataUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
