chatApplication/dev2/force-app/main/default/flows/Assign_Case_To_CG1_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Account_DC_Null</name>
        <label>Account DC Null</label>
        <locationX>245</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Queue_or_SFUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.CG1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.Grp3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.DC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Child_Account</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>513</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 OR ( 2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.CG1__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>-</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.Grp3__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>-</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_With_Queue_Owner</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_or_SFUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CG1_or_CG3</name>
        <label>CG1 or CG3</label>
        <locationX>724</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CG1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailFieldMap.Routing_Individual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CG1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupUsers</targetReference>
            </connector>
            <label>CG1</label>
        </rules>
        <rules>
            <name>CG3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailFieldMap.Routing_Individual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CG3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupUsers2</targetReference>
            </connector>
            <label>CG3</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_User_Is_Found_User_2</name>
        <label>If No User Is Found User 2</label>
        <locationX>1092</locationX>
        <locationY>482</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_User_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Users2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_With_Queue_Owner_2</targetReference>
            </connector>
            <label>No User 2</label>
        </rules>
        <rules>
            <name>User_Found_and_Active_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Users2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Users2.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_2</targetReference>
            </connector>
            <label>User Found and Active 2</label>
        </rules>
        <rules>
            <name>User_Found_and_Inactive_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Users2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Users2.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Email_Field_Map_2</targetReference>
            </connector>
            <label>User Found and Inactive 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_User_Is_Found_User_1</name>
        <label>No User Is Found User 1</label>
        <locationX>342</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_User_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_With_Queue_Owner_1</targetReference>
            </connector>
            <label>No User 1</label>
        </rules>
        <rules>
            <name>User_Found_and_Active1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>User Found and Active 1</label>
        </rules>
        <rules>
            <name>User_Found_and_Inactive_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Email_Field_Map_1</targetReference>
            </connector>
            <label>User Found and Inactive 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_or_SFUser</name>
        <label>Queue or SFUser</label>
        <locationX>245</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailFieldMap.Routing_Individual__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CG1_or_CG3</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>No_Routing_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailFieldMap.Routing_Individual__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Case_to_Queue</targetReference>
            </connector>
            <label>No Routing Individual</label>
        </rules>
    </decisions>
    <interviewLabel>Assign Case To CG1 User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Case To CG1 User</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Child_Account</name>
        <label>Lookup Child Account</label>
        <locationX>510</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filters>
            <field>DC__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>CaseDC</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>CG1__c</queriedFields>
        <queriedFields>Grp3__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Email_Field_Map_1</name>
        <label>Lookup Email Field Map 1</label>
        <locationX>410</locationX>
        <locationY>626</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_With_Originating_Queue_1</targetReference>
        </connector>
        <filters>
            <field>GDI_From_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </filters>
        <object>Email_Field_Map__c</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Email_Field_Map_2</name>
        <label>Lookup Email Field Map 2</label>
        <locationX>1028</locationX>
        <locationY>626</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_with_Originating_Queue_2</targetReference>
        </connector>
        <filters>
            <field>GDI_From_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </filters>
        <object>Email_Field_Map__c</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupAccount</name>
        <label>LookupAccount</label>
        <locationX>241</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_DC_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>CG1__c</queriedFields>
        <queriedFields>Grp3__c</queriedFields>
        <queriedFields>DC__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupEmailFieldMap</name>
        <label>LookupEmailFieldMap</label>
        <locationX>40</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupAccount</targetReference>
        </connector>
        <filters>
            <field>Brand_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </filters>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerName</elementReference>
            </value>
        </filters>
        <object>Email_Field_Map__c</object>
        <outputReference>EmailFieldMap</outputReference>
        <queriedFields>Routing_Individual__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupUsers</name>
        <label>LookupUsers</label>
        <locationX>566</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_User_Is_Found_User_1</targetReference>
        </connector>
        <filters>
            <field>Customer_Group_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.CG1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Group_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Default_Product_Category__c</queriedFields>
        <queriedFields>Department__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupUsers2</name>
        <label>LookupUsers2</label>
        <locationX>879</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_No_User_Is_Found_User_2</targetReference>
        </connector>
        <filters>
            <field>Customer_Group_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Grp3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Group_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Users2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Default_Product_Category__c</queriedFields>
        <queriedFields>Department__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Return_Case_to_Queue</name>
        <label>Return Case to Queue</label>
        <locationX>0</locationX>
        <locationY>370</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CG_Code_Assignment_Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OriginalOwnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>115</locationX>
        <locationY>622</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>User.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CG_Code_Assignment_Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDI_Department__c</field>
            <value>
                <elementReference>User.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>User.Default_Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_2</name>
        <label>Update Case 2</label>
        <locationX>1318</locationX>
        <locationY>627</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>User.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CG_Code_Assignment_Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDI_Department__c</field>
            <value>
                <elementReference>User.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Users2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>User.Default_Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_With_Originating_Queue_1</name>
        <label>Update Case With Originating Queue 1</label>
        <locationX>571</locationX>
        <locationY>627</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>BrandText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CG_Code_Assignment_Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>ProductCategoryText</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_Originating_Queue_2</name>
        <label>Update Case with Originating Queue 2</label>
        <locationX>878</locationX>
        <locationY>626</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>BrandText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CG_Code_Assignment_Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>ProductCategoryText</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_With_Queue_Owner</name>
        <label>Update Case With Queue Owner</label>
        <locationX>719</locationX>
        <locationY>199</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CG_Code_Assignment_Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OriginalOwnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_With_Queue_Owner_1</name>
        <label>Update Case With Queue Owner 1</label>
        <locationX>115</locationX>
        <locationY>486</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CG_Code_Assignment_Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OriginalOwnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_With_Queue_Owner_2</name>
        <label>Update Case With Queue Owner 2</label>
        <locationX>1317</locationX>
        <locationY>485</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CG_Code_Assignment_Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OriginalOwnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>LookupEmailFieldMap</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to populate Brand for deactivated users.</description>
        <name>BrandText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailFieldMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Email_Field_Map__c</objectType>
    </variables>
    <variables>
        <name>FromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OriginalOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OriginatingQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to populate Product Category for deactivated users.</description>
        <name>ProductCategoryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Users2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
