chatApplication/dev2/force-app/main/default/flows/Awaiting_On_Contact_Field_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignAwaitingOnContactBlank</name>
        <label>AssignAwaitingOnContactBlank</label>
        <locationX>77</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>ParentCase.Awaiting_On_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookupRelatedCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactToVariable</name>
        <label>AssignContactToVariable</label>
        <locationX>128</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>AIContactName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactName.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AIContactName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughRelatedActionItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQueueNametoContact</name>
        <label>AssignQueueNametoContact</label>
        <locationX>645</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>AISendtoQueueName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QueueNames.Queue_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AISendtoQueueName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughRelatedActionItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUserNametoContact</name>
        <label>AssignUserNametoContact</label>
        <locationX>855</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>AISendtoUserName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserNames.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AISendtoUserName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughRelatedActionItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateContactField</name>
        <label>CreateContactField</label>
        <locationX>1186</locationX>
        <locationY>80</locationY>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AIContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AISendtoQueueName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AISendtoUserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateParentCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Waiting</name>
        <label>Waiting</label>
        <locationX>494</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>LoopThroughRelatedActionItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleActionItem.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleActionItem.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupContactName</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleActionItem.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleActionItem.Send_To_Queue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupQueue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleActionItem.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleActionItem.Send_to_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupUser</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <description>Looks for Action Items and updates the Parent Case with the Contact Name from the Action Item</description>
    <interviewLabel>Awaiting On Contact Field Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Awaiting On Contact Field Update</label>
    <loops>
        <name>LoopThroughRelatedActionItems</name>
        <label>LoopThroughRelatedActionItems</label>
        <locationX>247</locationX>
        <locationY>437</locationY>
        <assignNextValueToReference>SingleActionItem</assignNextValueToReference>
        <collectionReference>LoopThroughActionItemsofParent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Waiting</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateContactField</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupContactName</name>
        <label>LookupContactName</label>
        <locationX>349</locationX>
        <locationY>572</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContactToVariable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleActionItem.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactName</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupParentCase</name>
        <label>LookupParentCase</label>
        <locationX>71</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignAwaitingOnContactBlank</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ParentCase</outputReference>
        <queriedFields>Awaiting_On_Contact__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupQueue</name>
        <label>LookupQueue</label>
        <locationX>551</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignQueueNametoContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleActionItem.Send_To_Queue__c</elementReference>
            </value>
        </filters>
        <object>Email_Field_Map__c</object>
        <outputReference>QueueNames</outputReference>
        <queriedFields>Queue_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupRelatedCases</name>
        <label>LookupRelatedCases</label>
        <locationX>251</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughRelatedActionItems</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed as Merged</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>LoopThroughActionItemsofParent</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Send_To_Queue__c</queriedFields>
        <queriedFields>Send_to_User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupUser</name>
        <label>LookupUser</label>
        <locationX>771</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignUserNametoContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleActionItem.Send_to_User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserNames</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateParentCase</name>
        <label>UpdateParentCase</label>
        <locationX>1002</locationX>
        <locationY>79</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Awaiting_On_Contact__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>LookupParentCase</startElementReference>
    <status>Active</status>
    <variables>
        <name>AIContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AISendtoQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AISendtoUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LoopThroughActionItemsofParent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ParentCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueNames</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Email_Field_Map__c</objectType>
    </variables>
    <variables>
        <name>RelatedActionItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SingleActionItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UserNames</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
