chatApplication/dev2/force-app/main/default/flows/Connected_Customer_C360_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>AssignmentExists</name>
        <label>AssignmentExists</label>
        <locationX>247</locationX>
        <locationY>90</locationY>
        <defaultConnector>
            <targetReference>Create_Permission_Set_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckAssignments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Connected Customer C360 User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Connected Customer C360 User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Permission_Set_Assignment</name>
        <label>Create Permission Set Assignment</label>
        <locationX>461</locationX>
        <locationY>94</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>PermissionSetId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordLookups>
        <name>CheckAssignments</name>
        <label>CheckAssignments</label>
        <locationX>260</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentExists</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>PermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Permission_Set</name>
        <label>Lookup Permission Set</label>
        <locationX>79</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAssignments</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>enosiX App Standard User</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>PermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Permission_Set</startElementReference>
    <status>Active</status>
    <variables>
        <name>PermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
