chatApplication/dev2/force-app/main/default/flows/Contact_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignRelationshipToVariable</name>
        <label>AssignRelationshipToVariable</label>
        <locationX>593</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Relationship</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleActionItem.Contact_Relationship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Relationship</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughRelatedActionItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Waiting</name>
        <label>Waiting</label>
        <locationX>211</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>LoopThroughRelatedActionItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SingleActionItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleActionItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Waiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRelationshipToVariable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Relationship</label>
    <loops>
        <name>LoopThroughRelatedActionItems</name>
        <label>LoopThroughRelatedActionItems</label>
        <locationX>585</locationX>
        <locationY>309</locationY>
        <assignNextValueToReference>SingleActionItem</assignNextValueToReference>
        <collectionReference>RelatedActionItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Waiting</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateParentCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupAllRelatedActionItems</name>
        <label>LookupAllRelatedActionItems</label>
        <locationX>178</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughRelatedActionItems</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>RelatedActionItems</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Contact_Relationship__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ClearAwaitingOnField</name>
        <label>ClearAwaitingOnField</label>
        <locationX>176</locationX>
        <locationY>162</locationY>
        <connector>
            <targetReference>LookupAllRelatedActionItems</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Detail__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParentCase</name>
        <label>UpdateParentCase</label>
        <locationX>902</locationX>
        <locationY>311</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Detail__c</field>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>ClearAwaitingOnField</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedActionItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Relationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleActionItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
