chatApplication/dev2/force-app/main/default/flows/Contact_Change_Super_User_AccountShare_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Single_Records_to_Collection</name>
        <label>Add Single Records to Collection</label>
        <locationX>295</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>AllCurrentAccountShareRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCurrentAccountShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Current_AccountShare_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountShare_Records_To_Collection</name>
        <label>Assign AccountShare Records To Collection</label>
        <locationX>930</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>AccountShareRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAccountShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Each_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_to_Each_AccountShare_Record</name>
        <label>Assign Date to Each AccountShare Record</label>
        <locationX>932</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>SingleAccountShareRecord.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountShareRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountShareRecord.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AccountShare_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Records</name>
        <label>Account Records</label>
        <locationX>76</locationX>
        <locationY>955</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCurrentAccountShareRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Current_AccountShare_Records</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCurrentAccountShareRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Accounts_with_Same_Parent</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>FP_Account</name>
        <label>FP Account?</label>
        <locationX>341</locationX>
        <locationY>1002</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentAccountOfUser.Floor_Plan_Account_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_AccountShare_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Community_Super_User</name>
        <label>Is Community Super User</label>
        <locationX>289</locationX>
        <locationY>509</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommunityUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CommunityUser.Community_User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Super User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_User_s_Share_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommunityUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>Launched from PB.  When a Contact is updated with a new Account, check to see if they are a Community Super User.  If so, delete existing AccountShare records and create new ones.</description>
    <interviewLabel>Contact Change - Super User AccountShare Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Change - Super User AccountShare Record Creation</label>
    <loops>
        <name>Loop_Through_Current_AccountShare_Records</name>
        <label>Loop Through Current AccountShare Records</label>
        <locationX>294</locationX>
        <locationY>665</locationY>
        <assignNextValueToReference>SingleCurrentAccountShareRecord</assignNextValueToReference>
        <collectionReference>CurrentAccountShareRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Single_Records_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Any_Current_AccountShare_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Each_Account</name>
        <label>Loop Through Each Account</label>
        <locationX>731</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>SingleAccount</assignNextValueToReference>
        <collectionReference>ChildAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Date_to_Each_AccountShare_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateAccountShareRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAccountShareRecords</name>
        <label>CreateAccountShareRecords</label>
        <locationX>732</locationX>
        <locationY>952</locationY>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <inputReference>AccountShareRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>FP_AccountShare_Record</name>
        <label>FP AccountShare Record</label>
        <locationX>559</locationX>
        <locationY>1075</locationY>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ParentAccountOfUser.Floor_Plan_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>CommunityUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Any_Current_AccountShare_Records</name>
        <label>Delete Any Current AccountShare Records</label>
        <locationX>550</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>Lookup_Accounts_with_Same_Parent</targetReference>
        </connector>
        <inputReference>AllCurrentAccountShareRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>555</locationX>
        <locationY>948</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FP_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunityUser.Partner_Account_ID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ParentAccountOfUser</outputReference>
        <queriedFields>Floor_Plan_Account_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Accounts_with_Same_Parent</name>
        <label>Lookup Accounts with Same Parent</label>
        <locationX>551</locationX>
        <locationY>781</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Each_Account</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunityUser.Partner_Account_Parent_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ChildAccounts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_For_Community_User</name>
        <label>Lookup For Community User</label>
        <locationX>76</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Community_Super_User</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CommunityUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Community_User_Type__c</queriedFields>
        <queriedFields>Partner_Account_ID__c</queriedFields>
        <queriedFields>Partner_Account_Parent_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User_s_Share_Records</name>
        <label>Lookup User&apos;s Share Records</label>
        <locationX>78</locationX>
        <locationY>664</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Records</targetReference>
        </connector>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunityUser.Id</elementReference>
            </value>
        </filters>
        <object>AccountShare</object>
        <outputReference>CurrentAccountShareRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_For_Community_User</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountOfUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountShareRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>AllCurrentAccountShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <description>Accounts that have the same Parent Account as the Account of the Super User.</description>
        <name>ChildAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CommunityUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentAccountShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>ParentAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentAccountOfUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SingleAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SingleAccountShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>SingleCurrentAccountShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
