chatApplication/dev2/force-app/main/default/flows/cpqVCFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Header_Path_Set_Finish_to_True</name>
        <label>Header Path Set Finish to True</label>
        <locationX>188</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>isFinish</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_or_Update_Your_SAP_Sales_Org_Header_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_Set_Finish</name>
        <label>Item - Set Finish</label>
        <locationX>829</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>isFinish</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Variant_Configuration_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ItemOrHeader</name>
        <label>ItemOrHeader</label>
        <locationX>180</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Go_to_Header_Path</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isHeader</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Header_Path_Set_Finish_to_True</targetReference>
            </connector>
            <label>Go to Header Path</label>
        </rules>
        <rules>
            <name>Go_to_Item_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_Set_Finish</targetReference>
            </connector>
            <label>Go to Item Path</label>
        </rules>
    </decisions>
    <description>enosiX SAP to CPQ Integration Flow</description>
    <interviewLabel>cpqVCFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ SAP Variant Configuration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Run_Variant_Configuration_0</name>
        <label>Run Variant Configuration</label>
        <locationX>977</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SAPVCMaterialConfiguration</name>
            <extensionName>c:CMP_VCMaterialConfiguration</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>quoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerJSON</name>
                <value>
                    <elementReference>headerJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemJSON</name>
                <value>
                    <elementReference>itemJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>materialId</name>
                <value>
                    <elementReference>itemId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFinish</name>
                <value>
                    <elementReference>isFinish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>characteristicChangeCount</name>
                <value>
                    <elementReference>defaultVCUpdateNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>headerJSON</assignToReference>
                <name>headerJSON</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>itemJSON</assignToReference>
                <name>itemJSON</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>addedItemsJSON</assignToReference>
                <name>addedItemsJSON</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>itemId</assignToReference>
                <name>materialId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_or_Update_Your_SAP_Sales_Org_Header_0</name>
        <label>Select or Update Your SAP Sales Org</label>
        <locationX>188</locationX>
        <locationY>367</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Select_Sales_Area_Header</name>
            <extensionName>c:CMP_Select_Sales_Area</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>quoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerJSON</name>
                <value>
                    <elementReference>headerJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerNumber</name>
                <value>
                    <elementReference>customerNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cpqMsg</name>
                <value>
                    <elementReference>cpqMsg</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFinish</name>
                <value>
                    <elementReference>isFinish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salesDistribution</name>
                <value>
                    <elementReference>defaultDistributionChannel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salesDivision</name>
                <value>
                    <elementReference>defaultDivision</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salesOrg</name>
                <value>
                    <elementReference>defaultSalesOrg</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultShipTo</name>
                <value>
                    <elementReference>defaultShipTo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>headerJSON</assignToReference>
                <name>headerJSON</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isFinish</assignToReference>
                <name>isFinish</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ItemOrHeader</startElementReference>
    <status>Active</status>
    <variables>
        <description>JSON of product Ids added to BoM</description>
        <name>addedItemsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Messaging being passed in from CPQ</description>
        <name>cpqMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SAP Customer Number</description>
        <name>customerNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultDistributionChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>defaultDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Default Sales Document Type</description>
        <name>defaultOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>YSOR</stringValue>
        </value>
    </variables>
    <variables>
        <name>defaultPlant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Default Sales Org Value</description>
        <name>defaultSalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>1000</stringValue>
        </value>
    </variables>
    <variables>
        <name>defaultShipTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>defaultVCUpdateNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>headerJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Is end of flow</description>
        <name>isFinish</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indicates if flow is header-level</description>
        <name>isHeader</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indicates if flow is item-level</description>
        <name>isItem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Id of item to be edited/configured</description>
        <name>itemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>itemJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Id of CPQ Quote</description>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Preset to mark how often to update VC Characteristics</description>
        <name>VC_Update_Frequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>10</stringValue>
        </value>
    </variables>
</Flow>
