chatApplication/dev2/force-app/main/default/flows/Customer_Invoice_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Invoice_Values</name>
        <label>Add Invoice Values</label>
        <locationX>582</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>InvoiceTotalObject.Labor_Rate_Pay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EachInvoice.Labor_Rate_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LaborQtyPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Labor_Qty_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LaborQtyOTPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Labor_Qty_OT_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LaborQtyDTPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Labor_Qty_DT_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceTotalObject.Labor_Rate_Other_Pay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EachInvoice.Labor_Rate_Other_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LaborQtyOtherPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Labor_Qty_Other_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceTotalObject.Travel_Rate_Pay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EachInvoice.Travel_Rate_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelQtyPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Travel_Qty_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceTotalObject.Mileage_Rate_Pay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EachInvoice.Mileage_Rate_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilesPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Miles_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceTotalObject.Trip_Charge_Pay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EachInvoice.Trip_Charge_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTravelDisPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Total_Travel_Distance_Miles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTravelTimePay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Total_Travel_Time_Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartsTotalPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Parts_Total_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceTotalPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Invoice_Total_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoicePartsTotalPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Invoice_Parts_Total_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LTMTotalPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.LTM_Total_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmergencyFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Emergency_Fee_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelQtyDTPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Travel_Qty_DT_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelQtyOTPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Travel_Qty_OT_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTaxPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Total_Tax_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartsTotalRec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Parts_Total_Rec__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChampionPartsSent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Champion_Parts_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FreightCosts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice.Freight_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryRelieved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EachInvoice.Inventory_Relieved__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>939</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>UpdatedInvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Each_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Lookup_with_New_Record_ID</name>
        <label>Assign Invoice Lookup with New Record ID</label>
        <locationX>748</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>EachInvoice.Invoice__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarRecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Count</name>
        <label>Status Count</label>
        <locationX>586</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>OpenCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Invoices</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Closed</name>
        <label>All Closed</label>
        <locationX>475</locationX>
        <locationY>85</locationY>
        <defaultConnector>
            <targetReference>InvoiceRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Invoices_NOT_Closed</targetReference>
            </connector>
            <label>No1</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_Invoices_Closed</name>
        <label>All Invoices Closed</label>
        <locationX>378</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EachInvoice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Invoice_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EachInvoice.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Count</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Invoice Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Invoice Record Creation</label>
    <loops>
        <name>Loop_Through_Invoices</name>
        <label>Loop Through Invoices</label>
        <locationX>374</locationX>
        <locationY>202</locationY>
        <assignNextValueToReference>EachInvoice</assignNextValueToReference>
        <collectionReference>CaseInvoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_Invoices_Closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Closed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Each_Invoice</name>
        <label>Update Each Invoice</label>
        <locationX>747</locationX>
        <locationY>201</locationY>
        <assignNextValueToReference>EachInvoice</assignNextValueToReference>
        <collectionReference>CaseInvoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Invoice_Lookup_with_New_Record_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice_Lookup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>InvoiceRecord</name>
        <label>InvoiceRecord</label>
        <locationX>582</locationX>
        <locationY>200</locationY>
        <assignRecordIdToReference>VarRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Each_Invoice</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Champion_Parts_Sent__c</field>
            <value>
                <elementReference>ChampionPartsSent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Fee_Pay__c</field>
            <value>
                <elementReference>EmergencyFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Cost__c</field>
            <value>
                <elementReference>FreightCosts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Relieved__c</field>
            <value>
                <elementReference>InventoryRelieved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Parts_Total_Pay_New__c</field>
            <value>
                <elementReference>PartsTotalPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Parts_Total_Pay__c</field>
            <value>
                <elementReference>PartsTotalPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Parts_Total_Rec_New__c</field>
            <value>
                <elementReference>PartsTotalRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Total_Pay_New__c</field>
            <value>
                <elementReference>InvoiceTotalPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LTM_Total_Pay_New__c</field>
            <value>
                <elementReference>LTMTotalPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labor_Qty_DT_Pay__c</field>
            <value>
                <elementReference>LaborQtyDTPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labor_Qty_OT_Pay__c</field>
            <value>
                <elementReference>LaborQtyOTPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labor_Qty_Other_Pay__c</field>
            <value>
                <elementReference>LaborQtyOtherPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labor_Qty_Pay__c</field>
            <value>
                <elementReference>LaborQtyPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labor_Rate_Other_Pay__c</field>
            <value>
                <elementReference>InvoiceTotalObject.Labor_Rate_Other_Pay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labor_Rate_Pay__c</field>
            <value>
                <elementReference>InvoiceTotalObject.Labor_Rate_Pay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labor_Rate_Rec__c</field>
            <value>
                <elementReference>Account.Labor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Rate_Pay__c</field>
            <value>
                <elementReference>InvoiceTotalObject.Mileage_Rate_Pay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Rate_Rec__c</field>
            <value>
                <elementReference>Account.Mileage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Miles_Pay__c</field>
            <value>
                <elementReference>MilesPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012j00000004VmZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Center__c</field>
            <value>
                <elementReference>Case.Active_Service_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Tax_Pay__c</field>
            <value>
                <elementReference>TotalTaxPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Travel_Distance_Miles__c</field>
            <value>
                <elementReference>TotalTravelDisPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Travel_Time_Minutes__c</field>
            <value>
                <elementReference>TotalTravelTimePay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Qty_DT_Pay__c</field>
            <value>
                <elementReference>TravelQtyDTPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Qty_OT_Pay__c</field>
            <value>
                <elementReference>TravelQtyOTPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Qty_Pay__c</field>
            <value>
                <elementReference>TravelQtyPay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Rate_Pay__c</field>
            <value>
                <elementReference>InvoiceTotalObject.Travel_Rate_Pay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Rate_Rec__c</field>
            <value>
                <elementReference>Account.Travel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trip_Charge_Pay__c</field>
            <value>
                <elementReference>InvoiceTotalObject.Trip_Charge_Pay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trip_Charge_Rec__c</field>
            <value>
                <elementReference>Account.Trip_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>181</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentAccount.ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Labor__c</queriedFields>
        <queriedFields>Mileage__c</queriedFields>
        <queriedFields>Trip_Charge__c</queriedFields>
        <queriedFields>Travel__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>179</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Invoices</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Active_Service_Center__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_Invoices</name>
        <label>Lookup Case Invoices</label>
        <locationX>181</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Parent_Account</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputReference>CaseInvoices</outputReference>
        <queriedFields>Labor_Rate_Pay__c</queriedFields>
        <queriedFields>Labor_Qty_Pay__c</queriedFields>
        <queriedFields>Labor_Qty_OT_Pay__c</queriedFields>
        <queriedFields>Labor_Qty_DT_Pay__c</queriedFields>
        <queriedFields>Labor_Rate_Other_Pay__c</queriedFields>
        <queriedFields>Labor_Qty_Other_Pay__c</queriedFields>
        <queriedFields>Travel_Rate_Pay__c</queriedFields>
        <queriedFields>Travel_Qty_Pay__c</queriedFields>
        <queriedFields>Mileage_Rate_Pay__c</queriedFields>
        <queriedFields>Miles_Pay__c</queriedFields>
        <queriedFields>Trip_Charge_Pay__c</queriedFields>
        <queriedFields>Total_Travel_Distance_Miles__c</queriedFields>
        <queriedFields>Total_Travel_Time_Minutes__c</queriedFields>
        <queriedFields>Parts_Total_Pay__c</queriedFields>
        <queriedFields>Invoice_Parts_Total_Pay__c</queriedFields>
        <queriedFields>Labor_Rate_Rec__c</queriedFields>
        <queriedFields>Mileage_Rate_Rec__c</queriedFields>
        <queriedFields>Travel_Rate_Rec__c</queriedFields>
        <queriedFields>Trip_Charge_Rec__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Invoice__c</queriedFields>
        <queriedFields>Invoice_Total_Pay__c</queriedFields>
        <queriedFields>LTM_Total_Pay__c</queriedFields>
        <queriedFields>Emergency_Fee_Pay__c</queriedFields>
        <queriedFields>Travel_Qty_DT_Pay__c</queriedFields>
        <queriedFields>Travel_Qty_OT_Pay__c</queriedFields>
        <queriedFields>Total_Tax_Pay__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Parts_Total_Rec__c</queriedFields>
        <queriedFields>Champion_Parts_Sent__c</queriedFields>
        <queriedFields>Freight_Cost__c</queriedFields>
        <queriedFields>Inventory_Relieved__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_Account</name>
        <label>Lookup Parent Account</label>
        <locationX>183</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ParentAccount</outputReference>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Lookup</name>
        <label>Update Invoice Lookup</label>
        <locationX>936</locationX>
        <locationY>201</locationY>
        <inputReference>UpdatedInvoices</inputReference>
    </recordUpdates>
    <screens>
        <name>All_Invoices_NOT_Closed</name>
        <label>All Invoices NOT Closed</label>
        <locationX>746</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VendorInvoicesNotClosed</name>
            <fieldText>All Vendor Invoices are NOT Closed.

Please return to the previous tab.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Case_Invoices</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseInvoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>ChampionPartsSent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EachInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>EmergencyFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FreightCosts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InventoryRelieved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoicePartsTotalPay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceTotalObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>InvoiceTotalPay</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LaborQtyDTPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LaborQtyOtherPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LaborQtyOTPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LaborQtyPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LTMTotalPay</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MilesPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpenCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ParentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartsTotalPay</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PartsTotalRec</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ServiceCenterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SiteVisitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalTaxPay</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalTravelDisPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalTravelTimePay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TravelQtyDTPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TravelQtyOTPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TravelQtyPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TripChargePay</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpdatedInvoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>VarRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
