chatApplication/dev2/force-app/main/default/flows/Email_Message_Inactive_User_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Inactive_Owner_Found</name>
        <label>Inactive Owner Found</label>
        <locationX>326</locationX>
        <locationY>41</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InactiveOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Related_Queue</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Email Message - Inactive User Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message - Inactive User Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>144</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inactive_Owner_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>InactiveOwner</assignToReference>
            <field>Inactive_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Related_Queue</name>
        <label>Lookup Related Queue</label>
        <locationX>145</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
        <filters>
            <field>GDI_From_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignedFromAddress</elementReference>
            </value>
        </filters>
        <object>Email_Field_Map__c</object>
        <outputReference>EmailFieldMapRecord</outputReference>
        <queriedFields>Queue_ID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>327</locationX>
        <locationY>156</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EmailFieldMapRecord.Queue_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Lookup_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssignedFromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailFieldMapRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Email_Field_Map__c</objectType>
    </variables>
    <variables>
        <name>InactiveOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
