chatApplication/dev2/force-app/main/default/flows/Find_Contact_Account_for_Service_History.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>FoundContact</name>
        <label>FoundContact</label>
        <locationX>133</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateServiceHistory</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Looks for a Contact that has a matching email with Service History and add that Contact and Account to the Service History.</description>
    <interviewLabel>Find Contact &amp; Account for Service History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Contact &amp; Account for Service History</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindContact</name>
        <label>FindContact</label>
        <locationX>132</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundContact</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceHistoryEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateServiceHistory</name>
        <label>UpdateServiceHistory</label>
        <locationX>133</locationX>
        <locationY>416</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceHistoryID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Service_History__c</object>
    </recordUpdates>
    <startElementReference>FindContact</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ServiceHistoryEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceHistoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
