chatApplication/dev2/force-app/main/default/flows/In_Progress_Action_Item_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddOne</name>
        <label>AddOne</label>
        <locationX>393</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAllTasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>InProgressStatus</name>
        <label>InProgressStatus</label>
        <locationX>559</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>LoopThroughAllTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>InProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EachTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOne</targetReference>
            </connector>
            <label>InProgress</label>
        </rules>
    </decisions>
    <interviewLabel>In Progress Action Item Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>In Progress Action Item Tasks</label>
    <loops>
        <name>LoopThroughAllTasks</name>
        <label>LoopThroughAllTasks</label>
        <locationX>389</locationX>
        <locationY>148</locationY>
        <assignNextValueToReference>EachTask</assignNextValueToReference>
        <collectionReference>AllTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InProgressStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateActionItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_All_Tasks_Tied_to_the_Action_Item</name>
        <label>Lookup All Tasks Tied to the Action Item</label>
        <locationX>150</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughAllTasks</targetReference>
        </connector>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionItemID</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>AllTasks</outputReference>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateActionItem</name>
        <label>UpdateActionItem</label>
        <locationX>676</locationX>
        <locationY>148</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionItemID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Tasks__c</field>
            <value>
                <elementReference>Count</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Lookup_All_Tasks_Tied_to_the_Action_Item</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActionItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AllTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EachTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
