chatApplication/dev2/force-app/main/default/flows/LogoURL2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>LogoURL</name>
        <dataType>String</dataType>
        <expression>{!$Setup.CPQ_URL__c.Logo_Prefix__c}+ MID({!logo},  FIND(&apos;/servlet&apos;,{!logo}) ,   89)</expression>
    </formulas>
    <interviewLabel>LogoURL2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LogoURL2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Logo</name>
        <label>Get Logo</label>
        <locationX>263</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_URL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Company_Brand__c</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>logo</assignToReference>
            <field>Logo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>markup_or_margin</assignToReference>
            <field>Margin_or_Markup__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_URL</name>
        <label>Update URL</label>
        <locationX>580</locationX>
        <locationY>91</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Distributor_Logo_URL__c</field>
            <value>
                <elementReference>LogoURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Markup_or_Margin__c</field>
            <value>
                <elementReference>markup_or_margin</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Logo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>logo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>markup_or_margin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
