chatApplication/dev2/force-app/main/default/flows/MPG4_Level_Field_Updating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>MPG4 Level Field Updating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MPG4 Level Field Updating</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Specified_MPG4_Code</name>
        <label>Specified MPG4 Code</label>
        <locationX>812</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SerialNumber.MPG4_Code__c</elementReference>
            </value>
        </filters>
        <object>MPG4_Code__c</object>
        <outputReference>MPG4Code</outputReference>
        <queriedFields>Level_3__c</queriedFields>
        <queriedFields>Level_2__c</queriedFields>
        <queriedFields>Level_1__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Specified_Serial_Number</name>
        <label>Specified Serial Number</label>
        <locationX>625</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Specified_MPG4_Code</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SerialNumberID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>SerialNumber</outputReference>
        <queriedFields>MPG4_Code__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ClearCaseFields</name>
        <label>ClearCaseFields</label>
        <locationX>416</locationX>
        <locationY>159</locationY>
        <connector>
            <targetReference>Specified_Serial_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Level_1__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_2__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_3__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPG4_Code__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>812</locationX>
        <locationY>305</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Level_1__c</field>
            <value>
                <elementReference>MPG4Code.Level_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_2__c</field>
            <value>
                <elementReference>MPG4Code.Level_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_3__c</field>
            <value>
                <elementReference>MPG4Code.Level_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPG4_Code__c</field>
            <value>
                <elementReference>SerialNumber.MPG4_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>ClearCaseFields</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MPG4Code</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MPG4_Code__c</objectType>
    </variables>
    <variables>
        <name>SerialNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>SerialNumberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
