chatApplication/dev2/force-app/main/default/flows/New_Case_Notifications_Without_Contact_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Apex_to_Send_Email</name>
        <label>Run Apex to Send Email</label>
        <locationX>1011</locationX>
        <locationY>92</locationY>
        <actionName>C_Utils</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Duplicate</name>
        <label>Duplicate</label>
        <locationX>309</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DupContactFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_With_Contact</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DupContactFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origin</name>
        <label>Origin</label>
        <locationX>548</locationX>
        <locationY>96</locationY>
        <defaultConnector>
            <targetReference>LookupContactsForDups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Outlook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseSelected.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email From Outlook</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Apex_to_Send_Email</targetReference>
            </connector>
            <label>Outlook</label>
        </rules>
    </decisions>
    <interviewLabel>New Case Notifications - Without Contact Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Case Notifications - Without Contact Information</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>548</locationX>
        <locationY>371</locationY>
        <assignRecordIdToReference>CreatedContact</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>001j000000nnpBR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>CaseSelected.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Enter Last Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012j0000000L9vn</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>305</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Origin</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseSelected</outputReference>
        <queriedFields>SuppliedEmail</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupContactsForDups</name>
        <label>LookupContactsForDups</label>
        <locationX>548</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseSelected.SuppliedEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>DupContactFound</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>546</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Run_Apex_to_Send_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CreatedContact</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_With_Contact</name>
        <label>Update Case With Contact</label>
        <locationX>311</locationX>
        <locationY>496</locationY>
        <connector>
            <targetReference>Run_Apex_to_Send_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>DupContactFound.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CreatedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DupContactFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OrgWideAddressID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
