chatApplication/dev2/force-app/main/default/flows/Sales_Channel_Selection_Community.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_New_Opp</name>
        <label>Open New Opp</label>
        <locationX>2235</locationX>
        <locationY>475</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>OppCommunityURL</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Choice</name>
        <label>Assign Choice</label>
        <locationX>1398</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>SelectedSalesChannelChoicevar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstTwoLettersofDCform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Current_List_Variable</name>
        <label>Assign to Current List Variable</label>
        <locationX>1196</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>CurrentDCListvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecordvar.Child_DCs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Channel_Choice_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_1</name>
        <label>Assign Variables 1</label>
        <locationX>1766</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>OppNamevar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseDatevar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_1_0</name>
        <label>Assign Variables 1</label>
        <locationX>1761</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>OppNamevar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseDatevar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Loop_Count</name>
        <label>Increment Loop Count</label>
        <locationX>743</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>NumOfLoops</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sales_Channel_Choice_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_First_Result</name>
        <label>Remove First Result</label>
        <locationX>931</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>CurrentDCListvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChannelListOneRemoved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Values_Left</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Records_that_need_to_be_deleted</name>
        <label>Any Records that need to be deleted?</label>
        <locationX>227</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Opp_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, continue on</defaultConnectorLabel>
        <rules>
            <name>Yes_Records_to_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoicestoDeleteRecorvar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Sales_Channel_Choice_Records</targetReference>
            </connector>
            <label>Yes, Records to Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Values_Left</name>
        <label>Any Values Left?</label>
        <locationX>916</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Increment_Loop_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, Some left</defaultConnectorLabel>
        <rules>
            <name>No_none_left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDCListvar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_many_loops_did_it_take</targetReference>
            </connector>
            <label>No, none left</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_DC_Populated</name>
        <label>Child DC Populated?</label>
        <locationX>1183</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Assign_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not Populated</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_DC_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecordvar.Child_DCs__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Current_List_Variable</targetReference>
            </connector>
            <label>Yes, Child DC Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Community_User</name>
        <label>Community User?</label>
        <locationX>618</locationX>
        <locationY>88</locationY>
        <defaultConnector>
            <targetReference>Get_Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Community_UserType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>Community UserType</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_loops_did_it_take</name>
        <label>How many loops did it take?</label>
        <locationX>1317</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Channel_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zero</defaultConnectorLabel>
        <rules>
            <name>More_than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumOfLoops</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Screen</targetReference>
            </connector>
            <label>More than Zero</label>
        </rules>
    </decisions>
    <description>Removed ability to pause</description>
    <dynamicChoiceSets>
        <name>RecordTypeChoiceSetvar</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OppRecordTypeIdvar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesChannelChoiceRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Sales_Channel_Full_Name__c</displayField>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrUserform</elementReference>
            </value>
        </filters>
        <object>Sales_Channel_Choice__c</object>
        <outputAssignments>
            <assignToReference>SelectedSalesChannelChoicevar</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Sales_Channel_Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesChannelPicklistChoiceSetvar</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Channel__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ChannelListOneRemoved</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!CurrentDCListvar}, LEN({!CurrentDCListvar}) - FIND(&quot;,&quot;, {!CurrentDCListvar})))</expression>
    </formulas>
    <formulas>
        <name>ContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>CurrentRecordform</name>
        <dataType>String</dataType>
        <expression>{!$Flow.CurrentRecord}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserAcct</name>
        <dataType>String</dataType>
        <expression>{!$User.Partner_Account_ID__c}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserType</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.UserType})</expression>
    </formulas>
    <formulas>
        <name>CurrUserform</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>FirstDCinListform</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!CurrentDCListvar}, FIND(&quot;,&quot;, {!CurrentDCListvar})-1))</expression>
    </formulas>
    <formulas>
        <name>FirstTwoLettersofDCform</name>
        <dataType>String</dataType>
        <expression>LEFT({!AccountRecordvar.DC__c},2)</expression>
    </formulas>
    <formulas>
        <name>OppCommunityURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://gdiconnectedcustomer.force.com/gdiconnectedcustomer/s/opportunity/&quot; + {!OpptyID}</expression>
    </formulas>
    <formulas>
        <name>ProdAreaFullName</name>
        <dataType>String</dataType>
        <expression>CASE({!SelectedSalesChannelChoicevar},&quot;CH&quot;,
&quot;Clean Air &amp; Vac Sys&quot;,
&quot;CM&quot;, &quot;Compressor&quot;,
&quot;CP&quot;, &quot;Champion Compressor&quot;,
&quot;CY&quot;, &quot;LeRoi&quot;,
&quot;DI&quot;, &quot;Duroflow Industrial&quot;,
&quot;DS&quot;, &quot;DV Systems&quot;,
&quot;DT&quot;, &quot;Duroflow Truckblower&quot;,
&quot;DV&quot;, &quot;Dry bulk/Vacuum&quot;,
&quot;ER&quot;, &quot;Elmo-Rietschle&quot;,
&quot;FH&quot;, &quot;Food, Chem, Hydraulic&quot;,
&quot;GI&quot;, &quot;GD Indust. Blower&quot;,
&quot;GT&quot;, &quot;GD Truck Blower&quot;,
&quot;MK&quot;, &quot;Mako&quot;,
&quot;MV&quot;, &quot;Mobile Vacuum&quot;,
&quot;SB&quot;, &quot;Sutorbilt&quot;,
&quot;WT&quot;, &quot;Work Truck&quot;,NULL)</expression>
    </formulas>
    <interviewLabel>Sales Channel Selection (Community) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Channel Selection (Community)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>2131</locationX>
        <locationY>470</locationY>
        <assignRecordIdToReference>OpptyID</assignRecordIdToReference>
        <connector>
            <targetReference>Open_New_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDatevar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppNamevar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PricebookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>SalesChannelFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OppRecordTypeIdvar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__QuotePricebookId__c</field>
            <value>
                <elementReference>PricebookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Channel__c</field>
            <value>
                <elementReference>SelectedSalesChannelChoicevar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stage 1 - Qualified Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Channel_Choice_Record</name>
        <label>Create Sales Channel Choice Record</label>
        <locationX>748</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Remove_First_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FirstDCinListform</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Channel_Choice__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Sales_Channel_Choice_Records</name>
        <label>Delete Sales Channel Choice Records</label>
        <locationX>405</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Get_Sales_Opp_Record_Type</targetReference>
        </connector>
        <inputReference>ChoicestoDeleteRecorvar</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1010</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_DC_Populated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserAccountId.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DC__c</queriedFields>
        <queriedFields>Child_DCs__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>793</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_DC_Populated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DC__c</queriedFields>
        <queriedFields>Child_DCs__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Sales_Channel_Choices</name>
        <label>Get Existing Sales Channel Choices</label>
        <locationX>176</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Records_that_need_to_be_deleted</targetReference>
        </connector>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrUserform</elementReference>
            </value>
        </filters>
        <object>Sales_Channel_Choice__c</object>
        <outputReference>ChoicestoDeleteRecorvar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>1902</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSalesChannelFullName</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSalesChannelChoicevar</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>PricebookID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Channel_Choice</name>
        <label>Get Sales Channel Choice</label>
        <locationX>1407</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Screen_0</targetReference>
        </connector>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrUserform</elementReference>
            </value>
        </filters>
        <object>Sales_Channel_Choice__c</object>
        <outputAssignments>
            <assignToReference>SelectedSalesChannelChoicevar</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Opp_Record_Type</name>
        <label>Get Sales Opp Record Type</label>
        <locationX>623</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Community_User</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OppRecordTypeIdvar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1003</locationX>
        <locationY>1068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrUserform</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserRecordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Account_ID__c</queriedFields>
        <queriedFields>Test_Partner_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>880</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>UserAccountId.Id</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSalesChannelFullName</name>
        <label>GetSalesChannelFullName</label>
        <locationX>2003</locationX>
        <locationY>461</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSalesChannelChoicevar</elementReference>
            </value>
        </filters>
        <object>Distribution_Channel__mdt</object>
        <outputAssignments>
            <assignToReference>SalesChannelFullName</assignToReference>
            <field>Label</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>awdawd</name>
        <label>awd</label>
        <locationX>539</locationX>
        <locationY>859</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>awdawdafsf</name>
            <fieldText>&lt;p&gt;Current DC List: {!CurrentDCListvar}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>awldjlkjljl</name>
        <label>awldjlkjljl</label>
        <locationX>1196</locationX>
        <locationY>71</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>jdalkdjkawljkjaj</name>
            <fieldText>&lt;p&gt;Click Finish to Continue to the Opportunity Create Screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Opportunity_Screen</name>
        <label>Create Opportunity Screen</label>
        <locationX>1551</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables_1</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Segment</name>
            <choiceReferences>SalesChannelChoiceRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Segment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Opportunity_Screen_0</name>
        <label>Create Opportunity Screen</label>
        <locationX>1618</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables_1_0</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date_0</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorPage</name>
        <label>ErrorPage</label>
        <locationX>1484</locationX>
        <locationY>784</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>awdawdawdesfse</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sales_Channel_Choose_Screen</name>
        <label>Sales_Channel_Choose_Screen</label>
        <locationX>1587</locationX>
        <locationY>818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Choose_output</name>
            <fieldText>&lt;p&gt;Select the correct sales channel for the opportunity below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Channel</name>
            <choiceReferences>SalesChannelChoiceRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Formulas</name>
        <label>Show Formulas</label>
        <locationX>341</locationX>
        <locationY>933</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>currentformulas</name>
            <fieldText>&lt;p&gt;First DC In List: {!FirstDCinListform}&lt;/p&gt;&lt;p&gt;One Removed: {!ChannelListOneRemoved}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test46</name>
        <label>test46</label>
        <locationX>1283</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>test55</name>
            <fieldText>&lt;p&gt;{!UserAccountId.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test46_0</name>
        <label>test46</label>
        <locationX>1110</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>test55_0</name>
            <fieldText>&lt;p&gt;{!ContactId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>282</locationY>
        <connector>
            <targetReference>Get_Existing_Sales_Channel_Choices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ChoicestoDeleteRecorvar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Channel_Choice__c</objectType>
    </variables>
    <variables>
        <name>CloseDatevar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentDCListvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentRecordvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumOfLoops</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OppNamevar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppRecordTypeIdvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PricebookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesChannelFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesChannelRecordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Channel_Choice__c</objectType>
    </variables>
    <variables>
        <name>SelectedSalesChannelChoicevar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserAccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UserRecordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
