chatApplication/dev2/force-app/main/default/flows/Serial_Number_Contact_New_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>BothChoice</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailChoice</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>TextChoice</name>
        <choiceText>Text</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Alert_Preference</name>
        <label>Alert Preference</label>
        <locationX>404</locationX>
        <locationY>8</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TextPref</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert_Preferences_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile</targetReference>
            </connector>
            <label>TextPref</label>
        </rules>
        <rules>
            <name>EmailPref</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert_Preferences_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FormCompleted</targetReference>
            </connector>
            <label>EmailPref</label>
        </rules>
        <rules>
            <name>BothPref</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert_Preferences_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile</targetReference>
            </connector>
            <label>BothPref</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Type</name>
        <label>Contact Type</label>
        <locationX>948</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Distributor1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Company_Name</targetReference>
            </connector>
            <label>Distributor1</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundContact</name>
        <label>FoundContact</label>
        <locationX>603</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SerialNumberContactCreation</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False_Distributor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_User_Contact_Account</targetReference>
            </connector>
            <label>FalseDistributor</label>
        </rules>
        <rules>
            <name>FalseEndUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Record</targetReference>
            </connector>
            <label>FalseEndUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Found</name>
        <label>Match Found</label>
        <locationX>179</locationX>
        <locationY>232</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SerialNumberContactMatch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_SNC_Found</targetReference>
            </connector>
            <label>Match</label>
        </rules>
        <rules>
            <name>No_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SerialNumberContactMatch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactLookup</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_Value</name>
        <label>Relationship Value</label>
        <locationX>1016</locationX>
        <locationY>588</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>End_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Contact_End_User</targetReference>
            </connector>
            <label>End User</label>
        </rules>
        <rules>
            <name>Distributor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Contact_Distributor</targetReference>
            </connector>
            <label>Distributor</label>
        </rules>
    </decisions>
    <description>Canpango - N.Kemps GISI-11</description>
    <dynamicChoiceSets>
        <name>AlertPreferencePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Alert_Preferences__c</picklistField>
        <picklistObject>Serial_Number_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship__c</picklistField>
        <picklistObject>Serial_Number_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>lowercaseemail</name>
        <dataType>String</dataType>
        <expression>LOWER({!Email})</expression>
    </formulas>
    <formulas>
        <name>UserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Serial Number Contact - New record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>iConn Contact : New Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>813</locationX>
        <locationY>349</locationY>
        <assignRecordIdToReference>varContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Relationship_Value</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>001j000000iPIiqAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record_Dist</name>
        <label>Create Contact Record Dist.</label>
        <locationX>607</locationX>
        <locationY>351</locationY>
        <assignRecordIdToReference>varContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Relationship_Value</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ContactAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>SerialNumberContactCreation</name>
        <label>SerialNumberContactCreation</label>
        <locationX>949</locationX>
        <locationY>236</locationY>
        <assignRecordIdToReference>varSerialNumberContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alert_Preferences__c</field>
            <value>
                <elementReference>Alert_Preferences_Choice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship__c</field>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Enabled__c</field>
            <value>
                <elementReference>SMS_Enabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Serial_Number_Contact__c</object>
    </recordCreates>
    <recordLookups>
        <name>Asset_Record_Lookup</name>
        <label>Asset Record Lookup</label>
        <locationX>722</locationX>
        <locationY>4</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SerialNumberContactForm</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>soVarAssetId.Owner_Name__c</assignToReference>
            <field>Owner_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerName</assignToReference>
            <field>Owner_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContactLookup</name>
        <label>ContactLookup</label>
        <locationX>428</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundContact</targetReference>
        </connector>
        <filters>
            <field>Email_Address_Copy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lowercaseemail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User_Contact_Account</name>
        <label>Lookup User Contact Account</label>
        <locationX>434</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_Record_Dist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactAccount</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactAccountName</assignToReference>
            <field>Account_Name_Searchable__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Serial_Number_Contact_Lookup</name>
        <label>Serial Number Contact Lookup</label>
        <locationX>180</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_Found</targetReference>
        </connector>
        <filters>
            <field>Email_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lowercaseemail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <object>Serial_Number_Contact__c</object>
        <outputAssignments>
            <assignToReference>SerialNumberContactMatch</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Company_Name</name>
        <label>Update Company Name</label>
        <locationX>947</locationX>
        <locationY>4</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSerialNumberContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>ContactAccountName</elementReference>
            </value>
        </inputAssignments>
        <object>Serial_Number_Contact__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Contact_Distributor</name>
        <label>Update New Contact Distributor</label>
        <locationX>1191</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>SerialNumberContactCreation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Relationship__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Contact_End_User</name>
        <label>Update New Contact End User</label>
        <locationX>1039</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>SerialNumberContactCreation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Relationship__c</field>
            <value>
                <stringValue>End User</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Duplicate_SNC_Found</name>
        <label>Duplicate SNC Found</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateSerialNumberContact</name>
            <fieldText>A contact with this email is already related to this serial number.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>Error1</label>
        <locationX>1502</locationX>
        <locationY>144</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>Something went wrong.  Please give this error to your administrator:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FormCompleted</name>
        <label>FormCompleted</label>
        <locationX>333</locationX>
        <locationY>127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Serial_Number_Contact_Lookup</targetReference>
        </connector>
        <fields>
            <name>SerialNumberContactCreated</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select &amp;apos;Next&amp;apos; to create your Contact.  &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You will then return back to the start.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mobile</name>
        <label>Mobile</label>
        <locationX>183</locationX>
        <locationY>8</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FormCompleted</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>Please Confirm Your Mobile Phone #</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mobile_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Phone</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SerialNumberContactForm</name>
        <label>SerialNumberContactForm</label>
        <locationX>561</locationX>
        <locationY>6</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Alert_Preference</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Relationship</name>
            <choiceReferences>RelationshipPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varOwnerName</elementReference>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SMS_Enabled</name>
            <dataType>Boolean</dataType>
            <fieldText>SMS Enabled</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Alert_Preferences_Choice</name>
            <choiceReferences>TextChoice</choiceReferences>
            <choiceReferences>EmailChoice</choiceReferences>
            <choiceReferences>BothChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Alert Preferences</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Asset_Record_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SerialNumberContactMatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>soVarAssetId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>soVarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varAlertChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssetCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSerialNumberContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
