chatApplication/dev2/force-app/main/default/flows/Service_History_Rev_Rollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Realized_Rev</name>
        <label>Realized Rev</label>
        <locationX>903</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>RevRollUp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceHistoryRecords.Realized_Service_Part_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListRollUp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceHistoryRecords.Realized_Service_Part_List_Price_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopofServiceHistoryRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>YearlyService</name>
        <label>YearlyService</label>
        <locationX>595</locationX>
        <locationY>470</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YearlyServiceDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceHistoryRecords.Date_of_Service__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>yearago</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Realized_Rev</targetReference>
            </connector>
            <label>YearlyServiceDate</label>
        </rules>
    </decisions>
    <formulas>
        <name>AirFilterListPriceRev</name>
        <dataType>Currency</dataType>
        <expression>{!AirFilterQty}*{!AirFilterData.List_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AirFilterTotalRev</name>
        <dataType>Currency</dataType>
        <expression>{!AirFilterQty}*{!AirFilterData.Net_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Cabinetfilterlistpricerev</name>
        <dataType>Currency</dataType>
        <expression>{!CabinetFilterQy}*{!CabinetFilterPartData.List_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Cabinetfilterrevtotals</name>
        <dataType>Currency</dataType>
        <expression>{!CabinetFilterQy}*{!CabinetFilterPartData.Net_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ControlboxListPriceRev</name>
        <dataType>Currency</dataType>
        <expression>{!ControlBoxQty}*{!ControlBoxFilterData.List_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Controlboxrevtotals</name>
        <dataType>Currency</dataType>
        <expression>{!ControlBoxQty}*{!ControlBoxFilterData.Net_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LubFilterListPriceRev</name>
        <dataType>Currency</dataType>
        <expression>{!LubFitlerQty}*{!LubricantFilterData.List_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Lubfilterrevtotals</name>
        <dataType>Currency</dataType>
        <expression>{!LubFitlerQty}*{!LubricantFilterData.Net_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LubListPriceRev</name>
        <dataType>Currency</dataType>
        <expression>{!LubricantGallons}*{!LubricantData.List_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Lubricantrevtotals</name>
        <dataType>Currency</dataType>
        <expression>{!LubricantGallons}*{!LubricantData.Net_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LubricantTotals</name>
        <dataType>Currency</dataType>
        <expression>{!LubricantData.Net_Price__c}*{!LubricantGallons}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SeparatorListPriceRev</name>
        <dataType>Currency</dataType>
        <expression>{!SeparatorQty}*{!SeparatorPartNumberData.List_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Separatorrevtotals</name>
        <dataType>Currency</dataType>
        <expression>{!SeparatorQty}*{!SeparatorPartNumberData.Net_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>yearago</name>
        <dataType>Date</dataType>
        <expression>TODAY()-365</expression>
    </formulas>
    <interviewLabel>Service History Rev Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service History Rev Rollup</label>
    <loops>
        <name>LoopofServiceHistoryRecords</name>
        <label>LoopofServiceHistory</label>
        <locationX>649</locationX>
        <locationY>355</locationY>
        <assignNextValueToReference>ServiceHistoryRecords</assignNextValueToReference>
        <collectionReference>LoopofServiceHistory</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>YearlyService</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Revupdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_All_Service_Records</name>
        <label>Find All Service Records</label>
        <locationX>635</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopofServiceHistoryRecords</targetReference>
        </connector>
        <filters>
            <field>Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <object>Service_History__c</object>
        <outputReference>LoopofServiceHistory</outputReference>
        <queriedFields>Realized_Service_Part_List_Price_Revenue__c</queriedFields>
        <queriedFields>Realized_Service_Part_Revenue__c</queriedFields>
        <queriedFields>Date_of_Service__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Revupdate</name>
        <label>Revupdate</label>
        <locationX>888</locationX>
        <locationY>315</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Yearly_Service_Dnet_Revenue__c</field>
            <value>
                <elementReference>RevRollUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yearly_Service_List_Price_Revenue__c</field>
            <value>
                <elementReference>ListRollUp</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <startElementReference>Find_All_Service_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>AirFilterData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Part__c</objectType>
    </variables>
    <variables>
        <name>AirFilterFields</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Part__c</objectType>
    </variables>
    <variables>
        <name>AirFilterPartNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AirFilterQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CabinetFilterPartData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Part__c</objectType>
    </variables>
    <variables>
        <name>CabinetFilterPartnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CabinetFilterQy</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ControlBoxFilterData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Part__c</objectType>
    </variables>
    <variables>
        <name>ControlBoxFilterPartNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ControlBoxQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ListRollUp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LoopofServiceHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_History__c</objectType>
    </variables>
    <variables>
        <name>LubFitlerQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LubricantData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Part__c</objectType>
    </variables>
    <variables>
        <name>LubricantFilterData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Part__c</objectType>
    </variables>
    <variables>
        <name>LubricantFilterPartNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LubricantGallons</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LubricantPartNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LubricantTotal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RevRollUp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SeparatorPartNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SeparatorPartNumberData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Part__c</objectType>
    </variables>
    <variables>
        <name>SeparatorQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SerialNumber</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ServiceHistoryid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceHistoryRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_History__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_History__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecordsbydate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_History__c</objectType>
    </variables>
</Flow>
