chatApplication/dev2/force-app/main/default/flows/Site_Visit_Travel_Time_Distance_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Values</name>
        <label>Add Values</label>
        <locationX>708</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>TotalTravelDistance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TravelDistance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTravelTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TravelTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Records</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Site Visit Travel Time/Distance Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site Visit Travel Time/Distance Updates</label>
    <loops>
        <name>Loop_Through_Records</name>
        <label>Loop Through Records</label>
        <locationX>511</locationX>
        <locationY>198</locationY>
        <assignNextValueToReference>SingleInvoiceLink</assignNextValueToReference>
        <collectionReference>InvoiceLinkRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Site_Visit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Invoice_Link_Record_Lookup</name>
        <label>Invoice Link Record Lookup</label>
        <locationX>341</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Records</targetReference>
        </connector>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceID</elementReference>
            </value>
        </filters>
        <object>Invoice_Link__c</object>
        <outputReference>InvoiceLinkRecords</outputReference>
        <queriedFields>Site_Visit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Single_Site_Visit</name>
        <label>Single Site Visit</label>
        <locationX>514</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleInvoiceLink.Site_Visit__c</elementReference>
            </value>
        </filters>
        <object>Site_Visit__c</object>
        <outputAssignments>
            <assignToReference>TravelDistance</assignToReference>
            <field>Travel_Distance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TravelTime</assignToReference>
            <field>Travel_Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>703</locationX>
        <locationY>198</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Travel_Distance_Miles__c</field>
            <value>
                <elementReference>TotalTravelDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Travel_Time_Minutes__c</field>
            <value>
                <elementReference>TotalTravelTime</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <startElementReference>Invoice_Link_Record_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>InvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceLinkRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Link__c</objectType>
    </variables>
    <variables>
        <name>SingleInvoiceLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Link__c</objectType>
    </variables>
    <variables>
        <name>TotalTravelDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalTravelTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TravelDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TravelTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
