chatApplication/dev2/force-app/main/default/flows/Super_User_AccountShare_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Single_Records_to_Collection</name>
        <label>Add Single Records to Collection</label>
        <locationX>294</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>DeleteAccountShareRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCurrentAccountShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Current_AccountShare_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountShare_Records_To_Collection</name>
        <label>Assign AccountShare Records To Collection</label>
        <locationX>930</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>AccountShareRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAccountShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Each_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data_to_Each_AccountShare_Record</name>
        <label>Assign Data to Each AccountShare Record</label>
        <locationX>930</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>SingleAccountShareRecord.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountShareRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountShareRecord.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AccountShare_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Records</name>
        <label>Account Records</label>
        <locationX>77</locationX>
        <locationY>334</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCurrentAccountShareRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Current_AccountShare_Records</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCurrentAccountShareRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Accounts_with_Same_Parent</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Floor_Plan_Account_Exists</name>
        <label>Floor Plan Account Exists</label>
        <locationX>556</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_for_Floor_Plan_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleAccount.Floor_Plan_Account_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Floor_Plan_AccountShare</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Super User AccountShare Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Super User AccountShare Record Creation</label>
    <loops>
        <name>Loop_Through_Current_AccountShare_Records</name>
        <label>Loop Through Current AccountShare Records</label>
        <locationX>292</locationX>
        <locationY>44</locationY>
        <assignNextValueToReference>SingleCurrentAccountShareRecord</assignNextValueToReference>
        <collectionReference>CurrentAccountShareRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Single_Records_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Any_Current_AccountShare_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Each_Account</name>
        <label>Loop Through Each Account</label>
        <locationX>729</locationX>
        <locationY>161</locationY>
        <assignNextValueToReference>SingleAccount</assignNextValueToReference>
        <collectionReference>ChildAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Data_to_Each_AccountShare_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateAccountShareRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_for_Floor_Plan_Account</name>
        <label>Loop Through for Floor Plan Account</label>
        <locationX>553</locationX>
        <locationY>311</locationY>
        <assignNextValueToReference>SingleAccount</assignNextValueToReference>
        <collectionReference>ChildAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Floor_Plan_Account_Exists</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAccountShareRecords</name>
        <label>CreateAccountShareRecords</label>
        <locationX>730</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>Loop_Through_for_Floor_Plan_Account</targetReference>
        </connector>
        <inputReference>AccountShareRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Floor_Plan_AccountShare</name>
        <label>Floor Plan AccountShare</label>
        <locationX>378</locationX>
        <locationY>449</locationY>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SingleAccount.Floor_Plan_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Any_Current_AccountShare_Records</name>
        <label>Delete Any Current AccountShare Records</label>
        <locationX>548</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Lookup_Accounts_with_Same_Parent</targetReference>
        </connector>
        <inputReference>DeleteAccountShareRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Lookup_Accounts_with_Same_Parent</name>
        <label>Lookup Accounts with Same Parent</label>
        <locationX>549</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Each_Account</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentAccount</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ChildAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Floor_Plan_Account_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User_s_Share_Records</name>
        <label>Lookup User&apos;s Share Records</label>
        <locationX>76</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Records</targetReference>
        </connector>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>AccountShare</object>
        <outputReference>CurrentAccountShareRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_User_s_Share_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountShareRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>AllCurrentAccountShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <description>Accounts that have the same Parent Account as the Account of the Super User.</description>
        <name>ChildAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentAccountShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>DeleteAccountShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>FPAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ParentAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SingleAccountShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>SingleCurrentAccountShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
