chatApplication/dev2/force-app/main/default/flows/Update_Distributor_Warehouse_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>update_share</name>
        <label>update share</label>
        <locationX>377</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>share.Share_in_DW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>share.Share__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Update Distributor Warehouse from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Distributor Warehouse from Account</label>
    <loops>
        <name>loop_through_shares</name>
        <label>loop through shares</label>
        <locationX>373</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>share</assignNextValueToReference>
        <collectionReference>Get_Shares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_shares</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Shares</name>
        <label>Get Shares</label>
        <locationX>189</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_shares</targetReference>
        </connector>
        <filters>
            <field>Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.X15_digit_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset_Share__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Share__c</queriedFields>
        <queriedFields>Share_in_DW__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_shares</name>
        <label>update shares</label>
        <locationX>560</locationX>
        <locationY>49</locationY>
        <inputReference>Get_Shares</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Shares</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Assets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset_Share__c</objectType>
    </variables>
    <variables>
        <name>share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset_Share__c</objectType>
    </variables>
</Flow>
