chatApplication/dev2/force-app/main/default/flows/Update_Quote_T_s_and_C_s.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Company_Brand_Found</name>
        <label>Company Brand Found</label>
        <locationX>428</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Company_Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_0</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <description>fixed mismap</description>
    <interviewLabel>Update Quote T&apos;s and C&apos;s {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quote T&apos;s and C&apos;s</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Brand</name>
        <label>Get Account Brand</label>
        <locationX>491</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRecordvar.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <object>AccountBrand</object>
        <outputReference>AccountBrandRecordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Distributor_Terms_and_Conditions__c</queriedFields>
        <queriedFields>Proposal_Paragraph_1__c</queriedFields>
        <queriedFields>Proposal_Paragraph_2__c</queriedFields>
        <queriedFields>Proposal_Paragraph_3__c</queriedFields>
        <queriedFields>Proposal_Paragraph__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Company_Brand</name>
        <label>Get Company Brand</label>
        <locationX>241</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_Brand_Found</targetReference>
        </connector>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRecordvar.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <object>Company_Brand__c</object>
        <outputReference>companybrand</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Distributor_Terms_and_Conditions__c</queriedFields>
        <queriedFields>Proposal_Paragraph__c</queriedFields>
        <queriedFields>Proposal_Paragraph_1__c</queriedFields>
        <queriedFields>Proposal_Paragraph_2__c</queriedFields>
        <queriedFields>Proposal_Paragraph_3__c</queriedFields>
        <queriedFields>Margin_or_Markup__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>201</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Company_Brand</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>QuoteRecordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>SBQQ__Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>172</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRecordvar.CreatedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserRecordvar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Account_ID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>683</locationX>
        <locationY>41</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>My_Quote_Terms_and_Conditions__c</field>
            <value>
                <elementReference>companybrand.Distributor_Terms_and_Conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Paragraph_1__c</field>
            <value>
                <elementReference>companybrand.Proposal_Paragraph_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Paragraph_2__c</field>
            <value>
                <elementReference>companybrand.Proposal_Paragraph_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Paragraph_3__c</field>
            <value>
                <elementReference>companybrand.Proposal_Paragraph_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Paragraph__c</field>
            <value>
                <elementReference>companybrand.Proposal_Paragraph__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_0</name>
        <label>Update Quote</label>
        <locationX>605</locationX>
        <locationY>225</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Margin_or_Markup__c</field>
            <value>
                <elementReference>companybrand.Margin_or_Markup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>My_Quote_Terms_and_Conditions__c</field>
            <value>
                <elementReference>companybrand.Distributor_Terms_and_Conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Paragraph_1__c</field>
            <value>
                <elementReference>companybrand.Proposal_Paragraph_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Paragraph_2__c</field>
            <value>
                <elementReference>companybrand.Proposal_Paragraph_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Paragraph_3__c</field>
            <value>
                <elementReference>companybrand.Proposal_Paragraph_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposal_Paragraph__c</field>
            <value>
                <elementReference>companybrand.Proposal_Paragraph__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountBrandRecordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountBrand</objectType>
    </variables>
    <variables>
        <name>companybrand</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Company_Brand__c</objectType>
    </variables>
    <variables>
        <name>QuoteRecordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecordvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
