chatApplication/test2/force-app/main/default/flows/Buffalo_RFQ_RT_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Buffalo RFQ RT Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buffalo RFQ RT Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_RFQ_Record</name>
        <label>Lookup RFQ Record</label>
        <locationX>159</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_RT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Buffalo_RFQ__c</object>
        <outputAssignments>
            <assignToReference>quoteType</assignToReference>
            <field>Quote_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_RT</name>
        <label>Lookup RT</label>
        <locationX>157</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_RFQ_RT</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RTDevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buffalo_RFQ__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_RFQ_RT</name>
        <label>Update RFQ RT</label>
        <locationX>163</locationX>
        <locationY>317</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTId</elementReference>
            </value>
        </inputAssignments>
        <object>Buffalo_RFQ__c</object>
    </recordUpdates>
    <startElementReference>Lookup_RFQ_Record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>quoteType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
