chatApplication/test2/force-app/main/default/flows/Buffalo_RFQ_Complete_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetFileFoundFlag</name>
        <label>SetFileFoundFlag</label>
        <locationX>518</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>FileFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Cycle_Time</name>
        <label>Update Cycle Time</label>
        <locationX>291</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>vrCycleTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleTimeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RFQ</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_file_upload</name>
        <label>Check for file upload</label>
        <locationX>679</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>Loop_through_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote NOT Found</defaultConnectorLabel>
        <rules>
            <name>Quote_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrCollection1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFileFoundFlag</targetReference>
            </connector>
            <label>Quote Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flag_True</name>
        <label>Flag True</label>
        <locationX>291</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>No_Upload_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cycle_Time</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>CompletedDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>CycleTimeFormula</name>
        <dataType>Number</dataType>
        <expression>IF(({!$Flow.CurrentDate} - {!vrSendFormDate})&lt;1, 0, ({!$Flow.CurrentDate} - {!vrSendFormDate}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Buffalo RFQ Complete Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buffalo RFQ Complete Quote</label>
    <loops>
        <name>Loop_through_collection</name>
        <label>Loop through collection</label>
        <locationX>392</locationX>
        <locationY>221</locationY>
        <assignNextValueToReference>vrCollection1</assignNextValueToReference>
        <collectionReference>collFileId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_file_upload</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Flag_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_RFQ</name>
        <label>Lookup RFQ</label>
        <locationX>163</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Buffalo_RFQ__c</object>
        <outputAssignments>
            <assignToReference>vrCompletedDate</assignToReference>
            <field>Completed_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrDollarValue</assignToReference>
            <field>Completed_Quote_Dollar_Value__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrCompletedBy</assignToReference>
            <field>Completed_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrCycleTime</assignToReference>
            <field>Cycle_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrQuoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrQuoteStatus</assignToReference>
            <field>Quote_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrSendFormDate</assignToReference>
            <field>Send_Form_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_RFQ</name>
        <label>Update RFQ</label>
        <locationX>292</locationX>
        <locationY>599</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Quote_Dollar_Value__c</field>
            <value>
                <elementReference>Completed_Quote_Dollar_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_by__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Time__c</field>
            <value>
                <elementReference>vrCycleTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Buffalo_RFQ__c</object>
    </recordUpdates>
    <screens>
        <name>Close_Quote</name>
        <label>Close Quote</label>
        <locationX>165</locationX>
        <locationY>120</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_collection</targetReference>
        </connector>
        <fields>
            <name>CloseQuoteHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Complete Quote&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Completed_Quote_Dollar_Value</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Completed_Quote_Dollar_Value</elementReference>
            </defaultValue>
            <fieldText>Completed Quote Dollar Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Instructions</name>
            <fieldText>Please click the &apos;Upload Quote&apos; button below to attach your Quote. Select your file, once the upload is complete click &apos;Done&apos;, and then &apos;Next&apos;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadQuoteFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vrQuoteId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>collFileId</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Upload_Alert</name>
        <label>No Upload Alert</label>
        <locationX>104</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Close_Quote</targetReference>
        </connector>
        <fields>
            <name>NoUploadAlert</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please upload your quote file to Complete this quote.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_RFQ</startElementReference>
    <status>Active</status>
    <variables>
        <name>collFileId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCollection1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCompletedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCompletedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCycleTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vrDollarValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vrQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrQuoteStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrSendFormDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
