chatApplication/test2/force-app/main/default/flows/CC_Assign_Case_to_CAS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>CASChoice</name>
        <choiceText>CAS</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>MyselfChoice</name>
        <choiceText>Myself</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>Account_Record_Found</name>
        <label>Account Record Found?</label>
        <locationX>257</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>No_Account_On_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Acct Record On Case</defaultConnectorLabel>
        <rules>
            <name>Acct_Record_on_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrCaseAcctId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_My_Team</targetReference>
            </connector>
            <label>Acct Record on Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Case_box_Checked</name>
        <label>Assign Case box Checked</label>
        <locationX>712</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Box NOT Checked</defaultConnectorLabel>
        <rules>
            <name>Box_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Case_to_this_Account_Specialist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner</targetReference>
            </connector>
            <label>Box Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>CAS_Found</name>
        <label>CAS Found?</label>
        <locationX>259</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>No_CAS_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO CAS Found on My Team</defaultConnectorLabel>
        <rules>
            <name>CAS_Found_on_My_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrMyTeamUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_User</targetReference>
            </connector>
            <label>CAS Found on My Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Myself_or_CAS</name>
        <label>Myself or CAS</label>
        <locationX>439</locationX>
        <locationY>24</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Myself</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyselfChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0</targetReference>
            </connector>
            <label>Myself</label>
        </rules>
        <rules>
            <name>CAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CASChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Record_Found</targetReference>
            </connector>
            <label>CAS</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>259</locationX>
        <locationY>603</locationY>
        <defaultConnectorLabel>NO User Record Found</defaultConnectorLabel>
        <rules>
            <name>User_Record_WAS_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrCASName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Ownership_Change</targetReference>
            </connector>
            <label>User Record WAS Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>formCurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CC Assign Case to CAS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC Assign Case to CAS</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>59</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Me</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vrCaseAcctId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrCaseOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_My_Team</name>
        <label>Lookup My Team</label>
        <locationX>258</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAS_Found</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrCaseAcctId</elementReference>
            </value>
        </filters>
        <filters>
            <field>My_Team_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Account Specialist</stringValue>
            </value>
        </filters>
        <object>CC_My_Team__c</object>
        <outputAssignments>
            <assignToReference>vrCASId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrMyTeamUserId</assignToReference>
            <field>User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>259</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrMyTeamUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vrCASName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>922</locationX>
        <locationY>593</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vrMyTeamUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0</name>
        <label>Update Case Owner</label>
        <locationX>664</locationX>
        <locationY>24</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>formCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Assign_to_Me</name>
        <label>Assign to Me?</label>
        <locationX>255</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Myself_or_CAS</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Assign&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assign_Case_to</name>
            <choiceReferences>MyselfChoice</choiceReferences>
            <choiceReferences>CASChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Assign Case to -</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Ownership_Change</name>
        <label>Confirm Ownership Change</label>
        <locationX>533</locationX>
        <locationY>601</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Case_box_Checked</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The Customer Account Specialist listed on the Account team is -&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;B&gt; &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!vrCASName}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assign_Case_to_this_Account_Specialist</name>
            <dataType>Boolean</dataType>
            <fieldText>Assign Case to this Account Specialist?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Account_On_Case</name>
        <label>No Account On Case</label>
        <locationX>531</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Alert</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;An Account must be entered on this Case before assigning it to the Customer Account Specialist.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click &amp;apos;Finish&amp;apos; to end the flow.&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_CAS_Found</name>
        <label>No CAS Found</label>
        <locationX>567</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Alert2</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;NO Customer Account Specialist was found on the Account Team. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click &amp;apos;Finish&amp;apos; to end the flow.&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCaseAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCASId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCASName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrMyTeamUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
