chatApplication/test2/force-app/main/default/flows/CC_FSL_Delete_Non_Inventory_Part_from_Mobile_App.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>deleteitem</name>
        <label>deleteitem</label>
        <locationX>357</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_you_want_to_delete_the_non_inventory_part</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Non_Inventory_Part</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>CC FSL Delete Non-Inventory Part from Mobile App {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC FSL Delete Non-Inventory Part from Mobile App</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordDeletes>
        <name>Delete_Non_Inventory_Part</name>
        <label>Delete Non-Inventory Part</label>
        <locationX>488</locationX>
        <locationY>57</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNonInventoryPartId</elementReference>
            </value>
        </filters>
        <object>CC_FS_Non_Inventory_Line_Item__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Non_Inventory_Part_Id</name>
        <label>Get Non-Inventory Part Id</label>
        <locationX>136</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deletenoninventoryitem</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>CC_FS_Non_Inventory_Line_Item__c</object>
        <outputAssignments>
            <assignToReference>varNonInventoryPartId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>deletenoninventoryitem</name>
        <label>deletenoninventoryitem</label>
        <locationX>253</locationX>
        <locationY>58</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>deleteitem</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_you_want_to_delete_the_non_inventory_part</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to delete the non-inventory part?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Non_Inventory_Part_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNonInventoryPartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
