chatApplication/test2/force-app/main/default/flows/CC_FSL_Add_Pricebook2Id_to_Part_Line_Item_from_Product_Item_with_manual_entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Reset_Item_Cost</name>
        <label>Reset Item Cost</label>
        <locationX>104</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varItemCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Parts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cost</name>
        <label>Set Cost</label>
        <locationX>776</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>varItemCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varItemPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Part_Quantity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_more_parts_decision</name>
        <label>Add more parts decision</label>
        <locationX>91</locationX>
        <locationY>706</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_more_parts2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Item_Cost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CAD_ISO_Code</name>
        <label>CAD ISO Code</label>
        <locationX>656</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>Add_More_Parts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBillingAccountCurrentISOCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Part_Price_to_CAD_Price</targetReference>
            </connector>
            <label>CAD</label>
        </rules>
    </decisions>
    <decisions>
        <name>My_Location_or_All_Territory</name>
        <label>My Location or All Territory</label>
        <locationX>162</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Select_Part</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Show_All_Parts_in_my_Territory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Part_0</targetReference>
            </connector>
            <label>All Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook2_Entry_Found</name>
        <label>Pricebook2 Entry Found</label>
        <locationX>606</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>No_Pricebook_Item_found_for_this_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPB2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPricebookEntryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_PB_IS_NC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_PB_IS_NC</name>
        <label>WO PB IS NC?</label>
        <locationX>840</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Get_Item_Cost_from_NC_PB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesWOPBISNC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPricebookId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ffNCPBID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varProductItemSearch</name>
        <dataType>String</dataType>
        <displayField>CC_FSL_Part_Selection_Field__c</displayField>
        <filters>
            <field>CC_FSL_Part_Selection_Field__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Part_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>varProductItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductId</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <sortField>CC_FSL_Part_Selection_Field__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CC_FSL_Part_Selection_Field__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varProductItemSearchAllTerritory</name>
        <dataType>String</dataType>
        <displayField>CC_FSL_Part_Selection_Field__c</displayField>
        <filters>
            <field>CC_FSL_Part_Selection_Field__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Part_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTerritoryName</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>varProductItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductId</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <sortField>CC_FSL_Part_Selection_Field__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CC_FSL_Part_Selection_Field__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ffNCPBID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.CCProcessBuilderIDs__c.FS_No_Charge_Pricebook_ID__c}</expression>
    </formulas>
    <interviewLabel>CC FSL Add Pricebook2Id to Part Line Item from Product Item with manual entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC FSL Add Pricebook2Id to Part Line Item from Product Item with manual entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Part_Line_Item</name>
        <label>Create Part Line Item</label>
        <locationX>658</locationX>
        <locationY>598</locationY>
        <assignRecordIdToReference>varPartLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Account_Currency_ISO_Code</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_FSL_Create_Required_Part_for_Part_Lin__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part__c</field>
            <value>
                <elementReference>varProductItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varPricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitCost__c</field>
            <value>
                <elementReference>varItemCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Currency_ISO_Code</name>
        <label>Get Account Currency ISO Code</label>
        <locationX>659</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAD_ISO_Code</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillingAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBillingAccountCurrentISOCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Item_Cost_from_NC_PB</name>
        <label>Get Item Cost from NC PB</label>
        <locationX>900</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Part_Quantity</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ffNCPBID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductId</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varItemCost</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry_from_Part_Product_Item</name>
        <label>Get Price Book Entry from Part Product Item</label>
        <locationX>422</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook2_Entry_Found</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductId</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varCADUnitPrice</assignToReference>
            <field>CC_CAD_Unit_Price__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPricebookEntryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varItemPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Information</name>
        <label>Get Work Order Information</label>
        <locationX>50</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Parts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>varBillingAccountId</assignToReference>
            <field>Billing_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLocationName</assignToReference>
            <field>CC_FSL_Location_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTerritoryName</assignToReference>
            <field>CC_FSL_Territory_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWorkOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPricebookId</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTerritoryId</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Part_Price_to_CAD_Price</name>
        <label>Update Part Price to CAD Price</label>
        <locationX>666</locationX>
        <locationY>958</locationY>
        <connector>
            <targetReference>Add_More_Parts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPartLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>varCADUnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>Add_More_Parts</name>
        <label>Add More Parts</label>
        <locationX>328</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_more_parts_decision</targetReference>
        </connector>
        <fields>
            <name>Add_more_parts2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add more parts?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Part_Quantity</name>
        <label>Enter Part Quantity &amp; Description</label>
        <locationX>672</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Part_Line_Item</targetReference>
        </connector>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Pricebook_Item_found_for_this_product</name>
        <label>No Pricebook Item found for this product</label>
        <locationX>476</locationX>
        <locationY>401</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Parts</targetReference>
        </connector>
        <fields>
            <name>NoPricebookFound</name>
            <fieldText>&lt;p&gt;The part you selected was not found in the Pricebook associated with this Work Order or is inactive.. Click next to search for a different Part.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Parts</name>
        <label>Search Parts</label>
        <locationX>103</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>My_Location_or_All_Territory</targetReference>
        </connector>
        <fields>
            <name>Show_All_Parts_in_my_Territory</name>
            <dataType>Boolean</dataType>
            <fieldText>Show All Parts in my Territory</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Part_Number</name>
            <dataType>String</dataType>
            <fieldText>Part Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Part</name>
        <label>Select Part</label>
        <locationX>303</locationX>
        <locationY>97</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Price_Book_Entry_from_Part_Product_Item</targetReference>
        </connector>
        <fields>
            <name>TerritoryandLocation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Territory:&lt;/b&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;  {!varTerritoryName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Location: &lt;/b&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; {!varLocationName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parts_with_Locations</name>
            <choiceReferences>varProductItemSearch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parts with Locations</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MaxRecordCount</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(240, 6, 6);&quot;&gt;This list only shows the first 200 records found in the system.  If you do not see the Product you are looking for in the list, click the Previous button below and enter more of the Part Number or confirm the part number is correct.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Part_0</name>
        <label>Select Part</label>
        <locationX>302</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Price_Book_Entry_from_Part_Product_Item</targetReference>
        </connector>
        <fields>
            <name>TerritoryandLocation_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Territory:&lt;/b&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;  {!varTerritoryName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parts_with_Locations_0</name>
            <choiceReferences>varProductItemSearchAllTerritory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parts with Locations</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RecordCountAlert2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(240, 6, 6); font-size: 14px;&quot;&gt;This list only shows the first 200 records found in the system.  If you do not see the Product you are looking for in the list, click the Previous button below and enter more of the Part Number or confirm the part number is correct.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Work_Order_Information</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillingAccountCurrentISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillingAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCADUnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varItemCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varItemPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPartLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPricebookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
