chatApplication/test2/force-app/main/default/flows/CC_FSL_validate_Work_Order_and_change_statuses_to_sync_to_MAPICS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_WorkOrder_to_MAPICS</name>
        <label>Submit WorkOrder to MAPICS</label>
        <locationX>961</locationX>
        <locationY>463</locationY>
        <actionName>CC_workOrderEventHandler</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>workOrderIds</name>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>conFinishedStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Finished</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Location</name>
        <label>Has Location?</label>
        <locationX>275</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>locationrequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesithasalocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>hasbillacct</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasbillacct</name>
        <label>Has Billing Acct?</label>
        <locationX>459</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>billtorequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yeshasbillacct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBillingAcct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lease_Record_Type</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_finished</name>
        <label>Is finished?</label>
        <locationX>42</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Nature_not_populated_for_WO_not_billable_or_add_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incorrect_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrderStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>conFinishedStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusIncorrect</targetReference>
            </connector>
            <label>Incorrect Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lease_Record_Type</name>
        <label>Lease Record Type</label>
        <locationX>566</locationX>
        <locationY>149</locationY>
        <defaultConnector>
            <targetReference>Parts_Not_Consumed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012m00000009mrdAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nature_is_Lease_Exp_and_Lease_number_is_blank</targetReference>
            </connector>
            <label>Lease</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nature_is_Lease_Exp_and_Lease_number_is_blank</name>
        <label>Nature is Lease Exp and Lease number is blank</label>
        <locationX>724</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>Parts_Not_Consumed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_Lease_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNatureCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Exp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLeaseNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provide_Lease_Number</targetReference>
            </connector>
            <label>Need Lease Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nature_not_populated_for_WO_not_billable_or_add_value</name>
        <label>Nature not populated for WO (not billable or add value)</label>
        <locationX>275</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Has_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nature_Code_Required</name>
            <conditionLogic>1 AND (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>varNatureCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0120c000001q5XyAAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0120c000001q5XtAAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Naturerequired</targetReference>
            </connector>
            <label>Nature Code Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parts_Not_Consumed</name>
        <label>Parts Not Consumed</label>
        <locationX>731</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order_State_and_Work_Order_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_check_parts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPartsnotconsumed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&lt;img src=&quot;/img/samples/flag_red.gif&quot; alt=&quot;Different&quot; border=&quot;0&quot;/&gt;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Parts_Not_Consumed</targetReference>
            </connector>
            <label>Need to check parts</label>
        </rules>
    </decisions>
    <description>Updated hard coded record type IDs</description>
    <formulas>
        <description>Email address of the current User.</description>
        <name>varCurrentUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <interviewLabel>CC FSL validate Work Order and change statuses to sync to MAPICS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC FSL validate Work Order and change statuses to sync to MAPICS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Lease_Number</name>
        <label>Update Lease Number</label>
        <locationX>957</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>Update_Work_Order_State_and_Work_Order_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lease_No__c</field>
            <value>
                <elementReference>Lease_Number</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_State_and_Work_Order_Status</name>
        <label>Update Work Order State and Work Order Status</label>
        <locationX>960</locationX>
        <locationY>322</locationY>
        <connector>
            <targetReference>Submit_WorkOrder_to_MAPICS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CC_Submitter__c</field>
            <value>
                <elementReference>varCurrentUserEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>MAPICS SYNC PENDING</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>All_Parts_Not_Consumed</name>
        <label>All Parts Not Consumed</label>
        <locationX>666</locationX>
        <locationY>524</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Partsnotconsumed</name>
            <fieldText>This Work Order does not have all Stocked Parts consumed.  Review this Work Order and make the corrections as needed and then run this processes again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>billtorequired</name>
        <label>billtorequired</label>
        <locationX>402</locationX>
        <locationY>231</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LocationErr_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Work Order must include a Billing Account before it can be synced to MAPICS.  Click the Finish button and add a Billing Account to this Work Order before syncing to MAPICS.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>locationrequired</name>
        <label>locationrequired</label>
        <locationX>138</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LocationErr</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The Work Order must include a Location before it can be synced to MAPICS.  Click the Finish button and add a Location to this Work Order before syncing to MAPICS.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Naturerequired</name>
        <label>Naturerequired</label>
        <locationX>192</locationX>
        <locationY>435</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NatureError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Work Order must include a Nature code before it can be synced to MAPICS.  Click the Finish button and add a Nature Code to this Work Order before syncing to MAPICS.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provide_Lease_Number</name>
        <label>Provide Lease Number</label>
        <locationX>954</locationX>
        <locationY>45</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lease_Number</targetReference>
        </connector>
        <fields>
            <name>NatureCode</name>
            <fieldText>This Work Order is a &quot;Lease Expense&quot; Work Order and requires a Lease Number to be provided before the Work Order can be synced to MAPICS.  Provide a Lease Number below before continuing to Sync to MAPICS.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lease_Number</name>
            <dataType>String</dataType>
            <fieldText>Lease Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StatusIncorrect</name>
        <label>Status Incorrect</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>infolbl</name>
            <fieldText>&lt;p&gt;The Work Order must be in &lt;i&gt;Finished&lt;/i&gt; Status before it can be synced to MAPICS.  Please set the Status to &lt;i&gt;Finished&lt;/i&gt; and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Is_finished</startElementReference>
    <status>Active</status>
    <variables>
        <name>varBillingAcct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNatureCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPartsnotconsumed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
