chatApplication/test2/force-app/main/default/flows/CC_GPSI_Seasonal_Check_In_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_RMA_Variables</name>
        <label>Assign RMA Variables</label>
        <locationX>32</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>Case_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Case_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Units_Processed_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Installation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Units_Received</name>
        <label>Assign Units Received</label>
        <locationX>198</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>Case_Units_Received</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Units_Received</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Repair_Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unused_Return_to_Inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_SN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_RMA_Number</name>
        <label>Clear RMA Number</label>
        <locationX>194</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>Case_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Constant_EmptyString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installation_Return_Check_In_Wizard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variables</name>
        <label>Reset Vars &amp; Counter++</label>
        <locationX>593</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>VDU_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VDU_Model</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VDU_SN</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Units_Processed_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_VDUs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_VDU</name>
        <label>Set Last VDU</label>
        <locationX>791</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>Last_VDU_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VDU_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Last_VDU_SN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VDU_SN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Last_VDU_Model</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VDU_Model</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Variables</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OoS_Not_Applicable</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>OoS_Payment_Received</name>
        <choiceText>Payment Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>OoS_Pre_Approved</name>
        <choiceText>Pre-Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>OoS_Sent_Invoice</name>
        <choiceText>Sent Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>OoS_Sent_Quote_Waiting_for_Signature</name>
        <choiceText>Sent Quote - Waiting for Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Quote - Waiting for Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>OoS_Waiting_for_Quote</name>
        <choiceText>Waiting for Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting for Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_Epic_Warranty</name>
        <choiceText>Epic Warranty</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Epic Warranty</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_Installation_DOA</name>
        <choiceText>Installation DOA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Installation DOA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_OoS</name>
        <choiceText>Out of Scope</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Out of Scope</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_Refurb</name>
        <choiceText>Refurb/Conversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refurb/Conversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_Seasonal</name>
        <choiceText>Seasonal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seasonal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_Standard_RMA</name>
        <choiceText>Standard RMA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard RMA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unused_Return_to_Inventory</name>
        <choiceText>Unused - Return to Inventory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{Repair_Ticket_Category_Unused_-_Return_To_Inventory}</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_312</name>
        <choiceText>V2-312</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-312</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_312_1</name>
        <choiceText>V2-312-1</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>V2_313_1</name>
        <choiceText>V2-313-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-313-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_313R_1</name>
        <choiceText>V2-313R-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-313R-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_314</name>
        <choiceText>V2-314</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-314</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_314_1</name>
        <choiceText>V2-314-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-314-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_314_2</name>
        <choiceText>V2-314-2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-314-2</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_314R_1</name>
        <choiceText>V2-314R-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-314R-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_316</name>
        <choiceText>V2-316</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-316</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_316_1</name>
        <choiceText>V2-316-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-316-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_811</name>
        <choiceText>V2-811</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-811</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_812</name>
        <choiceText>V2-812</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-812</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_820</name>
        <choiceText>V2-820</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-820</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_831</name>
        <choiceText>V2-831</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-831</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_832</name>
        <choiceText>V2-832</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-832</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_841</name>
        <choiceText>V2-841</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-841</stringValue>
        </value>
    </choices>
    <constants>
        <name>Constant_EmptyString</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>Inventory_User</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0050a00000HrILYAA3</stringValue>
        </value>
    </constants>
    <decisions>
        <name>More_VDUs</name>
        <label>More VDUs?</label>
        <locationX>358</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Enter_SN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Process Next VDU</defaultConnectorLabel>
        <rules>
            <name>Process_Next_RMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Units_Processed_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Case_Units_Received</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RMA_Complete</targetReference>
            </connector>
            <label>Process Next RMA</label>
        </rules>
    </decisions>
    <decisions>
        <name>RMA_Exists_or_Try_Again</name>
        <label>RMA Exists or Try Again</label>
        <locationX>195</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>RMA_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RMA Not Found</defaultConnectorLabel>
        <rules>
            <name>RMA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Installation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Case_Owner</targetReference>
            </connector>
            <label>RMA Found</label>
        </rules>
    </decisions>
    <description>Installation Return to Inventory Check-in Wizard</description>
    <interviewLabel>Installation Return Check-In Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Installation Return Check-In Wizard</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Repair_Ticket</name>
        <label>Create Repair Ticket</label>
        <locationX>1144</locationX>
        <locationY>685</locationY>
        <assignRecordIdToReference>Repair_Ticket_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Change_Ticket_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Repair_Ticket_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_VDU__c</field>
            <value>
                <elementReference>VDU_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Create_Repair_Ticket_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Category__c</field>
            <value>
                <stringValue>Unused - Return to Inventory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Queue</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Repair_Ticket__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>193</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Summary</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Account_MDUType</assignToReference>
            <field>CC_GPSI_System_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_VDUType</assignToReference>
            <field>CC_GPSI_Visage_VDU_Part__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_CreditHold</assignToReference>
            <field>Credit_Hold__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Installation</name>
        <label>Find Installation</label>
        <locationX>30</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RMA_Exists_or_Try_Again</targetReference>
        </connector>
        <filters>
            <field>CaseNumber</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Case_Number</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Account_ID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Reason</assignToReference>
            <field>CC_GPSI_RMA_Case_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Units_Shipped</assignToReference>
            <field>CC_GPSI_RMA_Units_Shipped__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Units_Expected</assignToReference>
            <field>CC_GPSI_RMA_Units__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_System_Type</assignToReference>
            <field>CC_GPSI_System_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Number</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Contact_Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_VDU_to_GPSI</name>
        <label>Assign VDU to GPSI</label>
        <locationX>1000</locationX>
        <locationY>519</locationY>
        <connector>
            <targetReference>Set_Last_VDU</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VDU_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CC_Account__c</field>
            <value>
                <stringValue>0016000001K2hG6</stringValue>
            </value>
        </inputAssignments>
        <object>CC_GPSI_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Case_Owner</name>
        <label>Change Case Owner</label>
        <locationX>195</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Find_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005600000014xCQ</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Ticket_Name</name>
        <label>Change Ticket Name</label>
        <locationX>1146</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>Assign_VDU_to_GPSI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Repair_Ticket_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Case_Number} + &quot; - &quot; + {!Units_Processed_Count}</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Repair_Ticket__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>358</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>Clear_RMA_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Recieved in Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Create_Repair_Ticket_Failed</name>
        <label>Create Repair Ticket Failed</label>
        <locationX>1146</locationX>
        <locationY>812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Add_Failed_Output</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;**** Add Failed ****&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Repair_Ticket_Id: {!Repair_Ticket_Id}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case_Id: {!Case_Id}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Account_Id: {!Account_ID}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Case_Number: {!Case_Number}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;VDU_SN: {!VDU_SN}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;VDU_ID: {!VDU_ID}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Repair Ticket Name: {!Create_Repair_Ticket_Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Installation_Return_Check_In_Wizard</name>
        <label>Installation Return Check-In Wizard</label>
        <locationX>30</locationX>
        <locationY>21</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_RMA_Variables</targetReference>
        </connector>
        <fields>
            <name>Blank_Line_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Case_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Number</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Enter Install Case&lt;/B&gt; &lt;B&gt;#:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Repair_Ticket</name>
        <label>Repair Ticket</label>
        <locationX>950</locationX>
        <locationY>678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Repair_Ticket</targetReference>
        </connector>
        <fields>
            <name>Repair_Ticket_Caption</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Ready to Create Repair Ticket for VDU #{!Units_Processed_Count} of {!Case_Units_Received}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Repair_Ticket_CaseNumber_and_Name</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;RMA # {!Case_Number}&lt;/B&gt;&lt;/A&gt;&lt;B&gt;: &lt;/B&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Account_ID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;{!Account_Name}&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Repair_Ticket_VDU_Model_SN</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!VDU_Model}: {!VDU_SN}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Repair_Ticket_Category</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Repair Category: {!Repair_Category}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Out of Scope Status: {!Repair_OoS_Status}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank_Line_11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Print_Label</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;http://www.barcodesinc.com/generator/image.php?code={!VDU_SN}&amp;style=197&amp;type=C39&amp;width=500&amp;height=120&amp;xres=2&amp;font=5&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Print Temporary Serial Number Label&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Return_Summary</name>
        <label>Return Summary</label>
        <locationX>196</locationX>
        <locationY>568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Units_Received</targetReference>
        </connector>
        <fields>
            <name>RMA_Summary_Header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;RMA Summary&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Number_Account</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Installation Case &lt;/B&gt;&lt;/A&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;#{!Case_Number}&lt;/B&gt;&lt;/A&gt;&lt;B&gt; - &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Account_ID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;{!Account_Name}&lt;/B&gt;&lt;/A&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>System_Type</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;-------------------------------------------------------&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Credit Hold: {!Account_CreditHold}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;-------------------------------------------------------&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;System Type: {!Case_System_Type} &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt; - {!Account_VDUType}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;-------------------------------------------------------&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MDU_VDU_Type</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;VDU Type: {!Account_MDUType}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMA_Units_Shipped</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;(# Returned Units Shipped: {!Case_Units_Shipped})&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMA_Units_Expected_Text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;# Returned Units Expected: {!Case_Units_Expected}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Units_Received</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Case_Units_Expected</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;# VDUs Received:&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Blank_Line_10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMA_Status_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Reason: {!Case_Reason}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Status: {!Case_Status}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMA_Detail_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Subject: {!Case_Subject}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Case_Description}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RMA_Complete</name>
        <label>RMA Complete</label>
        <locationX>360</locationX>
        <locationY>262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <fields>
            <name>RMA_Complete_Caption</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Check-In Complete!&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMA_Complete_Counter</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Case_Units_Received}  VDUs Checked In for &lt;/B&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Account_ID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;{!Account_Name}&lt;/B&gt;&lt;/A&gt;&lt;B&gt; &lt;/B&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;RMA #{!Case_Number}&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank_Line_6</name>
            <fieldText>RMA Total:  {!Case_Units_Received}
Ship Count: {!Units_To_Ship}
OoS Count: {!Units_OoS}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parts_Request_Quantity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Units_To_Ship</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Parts Request Quantity&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RMA_Complete_Number</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Next to create Parts Request Task...&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RMA_Not_Found_Screen</name>
        <label>RMA Not Found</label>
        <locationX>194</locationX>
        <locationY>117</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Installation_Return_Check_In_Wizard</targetReference>
        </connector>
        <fields>
            <name>RMA_Not_Found_Text</name>
            <fieldText>RMA NOT Found!  Boo Hoo...</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Installation_Return_Check_In_Wizard</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Enter_SN</name>
        <label>Enter SN</label>
        <locationX>357</locationX>
        <locationY>681</locationY>
        <connector>
            <targetReference>Repair_Ticket</targetReference>
        </connector>
        <flowName>CC_GPSI_Process_VDU</flowName>
        <inputAssignments>
            <name>RMA_Units_Received</name>
            <value>
                <elementReference>Case_Units_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Unit_Count</name>
            <value>
                <elementReference>Units_Processed_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_VDU_ID</name>
            <value>
                <elementReference>Last_VDU_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_VDU_SN</name>
            <value>
                <elementReference>Last_VDU_SN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_VDU_Model</name>
            <value>
                <elementReference>Last_VDU_Model</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VDU_ID</assignToReference>
            <name>VDU_ID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VDU_Model</assignToReference>
            <name>VDU_Model</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VDU_SN</assignToReference>
            <name>VDU_SN</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Create_Repair_Ticket_Name</name>
        <text>{!Case_Number} - {!Units_Processed_Count}</text>
    </textTemplates>
    <textTemplates>
        <name>Parts_Request_Description</name>
        <text>Send Qty {!Parts_Request_Quantity} of VDU type {!Account_VDUType}</text>
    </textTemplates>
    <textTemplates>
        <name>Parts_Request_Subject</name>
        <text>RMA - {!Case_Units_Received}</text>
    </textTemplates>
    <variables>
        <name>Account_CreditHold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_MDUType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_VDUType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_System_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Units_Expected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Case_Units_Received</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Case_Units_Shipped</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_VDU_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_VDU_Model</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_VDU_SN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_OoS_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_Ticket_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Units_OoS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Units_Processed_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Units_To_Ship</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VDU_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VDU_Model</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VDU_SN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
