chatApplication/test2/force-app/main/default/flows/CC_GPSI_RMA_Check_In_Wizard_Master.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Last_VDU</name>
        <label>Assign Last VDU</label>
        <locationX>817</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>Last_VDU_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VDU_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Last_VDU_SN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VDU_SN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RMA_Variables</name>
        <label>Assign RMA Variables</label>
        <locationX>320</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>Case_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_RMA_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Units_Processed_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Units_OoS</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Units_To_Ship</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_GPSi_RMA_Case_Record_Type_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Units_Received</name>
        <label>Assign Units Received</label>
        <locationX>341</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>Case_Units_Received</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Units_Received</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legacy_Boxes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Legacy_Boxes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_RMA_Number</name>
        <label>Clear RMA Number</label>
        <locationX>450</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>Case_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Constant_EmptyString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RMA_Check_In_Wizard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_OoS_Count</name>
        <label>Increment OoS Count</label>
        <locationX>988</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>Units_OoS</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Last_VDU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Ship_Count</name>
        <label>Increment_Ship_Count</label>
        <locationX>987</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>Units_To_Ship</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Last_VDU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variables</name>
        <label>Reset Vars &amp; Counter++</label>
        <locationX>678</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>VDU_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VDU_Model</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VDU_SN</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Units_Processed_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_VDUs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OoS_Not_Applicable</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>OoS_Payment_Received</name>
        <choiceText>Payment Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>OoS_Pre_Approved</name>
        <choiceText>Pre-Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>OoS_Sent_Invoice</name>
        <choiceText>Sent Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>OoS_Sent_Quote_Waiting_for_Signature</name>
        <choiceText>Sent Quote - Waiting for Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent Quote - Waiting for Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>OoS_Waiting_for_Quote</name>
        <choiceText>Waiting for Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting for Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_Epic_Warranty</name>
        <choiceText>Epic Warranty (Non-DOA)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Epic Warranty (Non-DOA)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_GPSI_Warranty</name>
        <choiceText>GPSI Warranty (Non-DOA)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GPSI Warranty (Non-DOA)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_Installation_DOA</name>
        <choiceText>Installation DOA - Epic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Installation DOA - Epic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_Installation_DOA_GPSI</name>
        <choiceText>Installation DOA - GPSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Installation DOA - GPSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_OoS</name>
        <choiceText>Out of Scope</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Out of Scope</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_Refurb</name>
        <choiceText>Refurb/Conversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refurb/Conversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair_Ticket_Category_Standard_RMA</name>
        <choiceText>Standard RMA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard RMA</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_312</name>
        <choiceText>V2-312</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-312</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_312_1</name>
        <choiceText>V2-312-1</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>V2_313_1</name>
        <choiceText>V2-313-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-313-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_313R_1</name>
        <choiceText>V2-313R-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-313R-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_314</name>
        <choiceText>V2-314</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-314</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_314_1</name>
        <choiceText>V2-314-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-314-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_314_2</name>
        <choiceText>V2-314-2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-314-2</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_314R_1</name>
        <choiceText>V2-314R-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-314R-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_316</name>
        <choiceText>V2-316</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-316</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_316_1</name>
        <choiceText>V2-316-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-316-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_811</name>
        <choiceText>V2-811</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-811</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_812</name>
        <choiceText>V2-812</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-812</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_820</name>
        <choiceText>V2-820</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-820</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_831</name>
        <choiceText>V2-831</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-831</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_832</name>
        <choiceText>V2-832</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-832</stringValue>
        </value>
    </choices>
    <choices>
        <name>V2_841</name>
        <choiceText>V2-841</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V2-841</stringValue>
        </value>
    </choices>
    <constants>
        <name>Constant_EmptyString</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>Inventory_User</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0050a00000HrILYAA3</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Exception</name>
        <label>Exception</label>
        <locationX>342</locationX>
        <locationY>579</locationY>
        <defaultConnector>
            <targetReference>RMA_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exception</defaultConnectorLabel>
        <rules>
            <name>Is_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>*** Exception - See Description ***</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RMA_Exception</targetReference>
            </connector>
            <label>Is Exception</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OoS_Unit</name>
        <label>Is OoS Unit</label>
        <locationX>985</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Increment_Ship_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not OoS Unit</defaultConnectorLabel>
        <rules>
            <name>OoS_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Repair_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Repair_Ticket_Category_OoS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Repair_OoS_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OoS_Pre_Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_OoS_Count</targetReference>
            </connector>
            <label>OoS Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_VDUs</name>
        <label>More VDUs?</label>
        <locationX>523</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>Enter_SN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Process Next VDU</defaultConnectorLabel>
        <rules>
            <name>Process_Next_RMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Units_Processed_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Case_Units_Received</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RMA_Complete</targetReference>
            </connector>
            <label>Process Next RMA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Parts_Request</name>
        <label>Need Parts Request</label>
        <locationX>756</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>No_Parts_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parts Request</defaultConnectorLabel>
        <rules>
            <name>Parts_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parts_Request_Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parts_Request</targetReference>
            </connector>
            <label>Parts Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>RMA_Found</name>
        <label>RMA Found?</label>
        <locationX>27</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Find_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoRMAFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RMA_Not_Found_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>RMA_Found_by_Legacy_RMA</name>
        <label>RMA Found by Legacy RMA#?</label>
        <locationX>166</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Find_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoRMAFoundbyLegacyRMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_RMA</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_DivisionId</name>
        <label>Service Division Id</label>
        <locationX>1441</locationX>
        <locationY>456</locationY>
        <defaultConnector>
            <targetReference>No_Service_Division</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GPSI_Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_ServicingDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GPSI - Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VDU_to_GPSI_Americas</targetReference>
            </connector>
            <label>GPSI Americas</label>
        </rules>
        <rules>
            <name>GPSI_Europe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_ServicingDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GPSI - Europe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VDU_to_GPSI_Europe</targetReference>
            </connector>
            <label>GPSI Europe</label>
        </rules>
    </decisions>
    <description>Version 41 Added RMA VDU Yes</description>
    <interviewLabel>RMA Check-In Wizard (Master) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RMA Check-In Wizard (Master)</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Parts_Request</name>
        <label>Create Parts Request</label>
        <locationX>1210</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>Task_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Parts_Request_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errors</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_GPSi_Number_of_VDUs__c</field>
            <value>
                <elementReference>Units_To_Ship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_GPSi_VDU_Model_Number__c</field>
            <value>
                <elementReference>Account_VDUType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_GPSi_VDU__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Parts_Request_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Inventory_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Parts_Request_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Case_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Repair_Ticket</name>
        <label>Create Repair Ticket</label>
        <locationX>1469</locationX>
        <locationY>720</locationY>
        <assignRecordIdToReference>Repair_Ticket_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Service_DivisionId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Repair_Ticket_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_VDU__c</field>
            <value>
                <elementReference>VDU_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Out_of_Scope_Status__c</field>
            <value>
                <elementReference>Repair_OoS_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Category__c</field>
            <value>
                <elementReference>Repair_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Queue</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Repair_Ticket__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>287</locationX>
        <locationY>490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exception</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Account_CAM</assignToReference>
            <field>CAM_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_ServicingDivision</assignToReference>
            <field>CC_GPSI_Servicing_Division__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_MDUType</assignToReference>
            <field>CC_GPSI_System_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_Bumpers</assignToReference>
            <field>CC_GPSI_VDU_Bumpers__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_VDUType</assignToReference>
            <field>CC_GPSI_Visage_VDU_Part__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_CreditHold</assignToReference>
            <field>Credit_Hold__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_RMA</name>
        <label>Find RMA</label>
        <locationX>168</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RMA_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RMA_Not_Found_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>CaseNumber</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Input_RMA_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRMARecordTypeID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Account_ID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_ChargesApprovedBy</assignToReference>
            <field>CC_GPSI_Charges_Approved_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Reason</assignToReference>
            <field>CC_GPSI_RMA_Case_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Units_Shipped</assignToReference>
            <field>CC_GPSI_RMA_Units_Shipped__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Units_Expected</assignToReference>
            <field>CC_GPSI_RMA_Units__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_System_Type</assignToReference>
            <field>CC_GPSI_System_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Number</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Contact_Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_RMA_BY_LEGACY_CASE_NUMBER</name>
        <label>Find RMA BY LEGACY GPSI CASE NUMBER</label>
        <locationX>332</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RMA_Found_by_Legacy_RMA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_RMA</targetReference>
        </faultConnector>
        <filters>
            <field>CC_GPSI_Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRMARecordTypeID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Account_ID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_ChargesApprovedBy</assignToReference>
            <field>CC_GPSI_Charges_Approved_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Reason</assignToReference>
            <field>CC_GPSI_RMA_Case_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Units_Shipped</assignToReference>
            <field>CC_GPSI_RMA_Units_Shipped__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Units_Expected</assignToReference>
            <field>CC_GPSI_RMA_Units__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_System_Type</assignToReference>
            <field>CC_GPSI_System_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Number</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Contact_Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_GPSi_RMA_Case_Record_Type_ID</name>
        <label>Get GPSi RMA Case Record Type ID</label>
        <locationX>324</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_RMA_BY_LEGACY_CASE_NUMBER</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_GPSi_RMA_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRMARecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_VDU_to_GPSI_Americas</name>
        <label>Assign VDU to GPSI Americas</label>
        <locationX>1247</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Is_OoS_Unit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VDU_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GPSiRMA_ACCTID</elementReference>
            </value>
        </inputAssignments>
        <object>CC_GPSI_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_VDU_to_GPSI_Europe</name>
        <label>Assign VDU to GPSI Europe</label>
        <locationX>1238</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Is_OoS_Unit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VDU_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GPSIEUROPE_ACCTID</elementReference>
            </value>
        </inputAssignments>
        <object>CC_GPSI_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>347</locationX>
        <locationY>956</locationY>
        <connector>
            <targetReference>Enter_SN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Case_Errors</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CC_GPSI_Boxes_Received__c</field>
            <value>
                <elementReference>Legacy_Boxes</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>756</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Clear_RMA_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Recieved in Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Create_Repair_Ticket_Failed</name>
        <label>Create Repair Ticket Failed</label>
        <locationX>1476</locationX>
        <locationY>838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Add_Failed_Output</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;**** Add Failed ****&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Repair_Ticket_Id: {!Repair_Ticket_Id}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case_Id: {!Case_Id}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Account_Id: {!Account_ID}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Case_Number: {!Case_Number}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;VDU_SN: {!VDU_SN}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;VDU_ID: {!VDU_ID}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Repair Ticket Name: {!Create_Repair_Ticket_Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Errors</name>
        <label>Errors</label>
        <locationX>1403</locationX>
        <locationY>126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Parts_Requested</name>
        <label>No Parts Requested</label>
        <locationX>757</locationX>
        <locationY>128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <fields>
            <name>No_Parts_Requested_Text</name>
            <fieldText>Parts Request/Task was NOT Created!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Service_Division</name>
        <label>No Service Division</label>
        <locationX>1230</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_OoS_Unit</targetReference>
        </connector>
        <fields>
            <name>Service_Division_Missing</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;WARNING!!! Account Servicing Division is Missing!&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;VDU/Asset will NOT have an account assignment.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parts_Request_Complete</name>
        <label>Parts Request Complete</label>
        <locationX>1028</locationX>
        <locationY>18</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
        <fields>
            <name>Checkin_Summary</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Parts Request created to ship Qty {!Units_To_Ship}  VDUs to &lt;/B&gt;&lt;A HREF=&quot;{!Account_ID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;{!Account_Name}&lt;/B&gt;&lt;/A&gt;&lt;B&gt; &lt;/B&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;RMA #{&lt;/B&gt;&lt;/A&gt;&lt;A HREF=&quot;/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;!Case_Number}&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkin_Complete</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Qty {!Units_To_Ship}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Account_VDUType}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Repair_Ticket</name>
        <label>Repair Ticket</label>
        <locationX>1261</locationX>
        <locationY>749</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Repair_Ticket</targetReference>
        </connector>
        <fields>
            <name>Repair_Ticket_Caption</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Ready to Create Repair Ticket for VDU #{!Units_Processed_Count} of {!Case_Units_Received}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Repair_Ticket_CaseNumber_and_Name</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;R&lt;/B&gt;&lt;/A&gt;&lt;A HREF=&quot;/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;MA # {!Case_Number}&lt;/B&gt;&lt;/A&gt;&lt;B&gt;: &lt;/B&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Account_ID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;{&lt;/B&gt;&lt;/A&gt;&lt;A HREF=&quot;/{!Account_ID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;!Account_Name}&lt;/B&gt;&lt;/A&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Repair_Ticket_VDU_Model_SN</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!VDU_Model}: {!VDU_SN}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Repair_Ticket_Category</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Repair Category: {!Repair_Category}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Out of Scope Status: {!Repair_OoS_Status}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank_Line_11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Print_Label</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;http://www.barcodesinc.com/generator/image.php?code={!VDU_SN}&amp;style=197&amp;type=C39&amp;width=550&amp;height=100&amp;xres=2&amp;font=5&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Print Temporary Serial Number Label&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RMA_Check_In_Wizard</name>
        <label>RMA Check-In Wizard</label>
        <locationX>29</locationX>
        <locationY>19</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_RMA_Variables</targetReference>
        </connector>
        <fields>
            <name>Blank_Line_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_RMA_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Number</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Enter RMA #:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RMA_Complete</name>
        <label>RMA Complete</label>
        <locationX>526</locationX>
        <locationY>269</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Need_Parts_Request</targetReference>
        </connector>
        <fields>
            <name>RMA_Complete_Caption</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Check-In Complete!&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMA_Complete_Counter</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Case_Units_Received}  VDUs Checked In for &lt;/B&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Account_ID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;{!Account_Name}&lt;/B&gt;&lt;/A&gt;&lt;B&gt; &lt;/B&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;RMA #{!Case_Number}&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank_Line_6</name>
            <fieldText>RMA Total:  {!Case_Units_Received}
Ship Count: {!Units_To_Ship}
OoS Count: {!Units_OoS}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parts_Request_Quantity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Units_To_Ship</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Parts Request Quantity&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank_Line_12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Parts_Request_Comment</name>
            <dataType>String</dataType>
            <fieldText>Input Parts Request Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RMA_Complete_Number</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Next to create Parts Request Task...&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RMA_Exception</name>
        <label>RMA Exception</label>
        <locationX>28</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RMA_Summary</targetReference>
        </connector>
        <fields>
            <name>Text_Exception1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;*** THIS RMA IS AN EXCEPTION ***&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_Blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_CAM</name>
            <fieldText>See {!Account_CAM} for additional information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_Exception_Subject</name>
            <fieldText>{!Case_Subject}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_Exception_Description1</name>
            <fieldText>{!Case_Description}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RMA_Not_Found_Screen</name>
        <label>RMA Not Found</label>
        <locationX>26</locationX>
        <locationY>125</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RMA_Check_In_Wizard</targetReference>
        </connector>
        <fields>
            <name>RMA_Not_Found_Text</name>
            <fieldText>RMA NOT Found!  Boo Hoo...</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RMA_Summary</name>
        <label>RMA Summary</label>
        <locationX>346</locationX>
        <locationY>694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Units_Received</targetReference>
        </connector>
        <fields>
            <name>RMA_Summary_Header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;RMA Summary&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Number_Account</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;https://na4.salesforce.com/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;RMA Case &lt;/B&gt;&lt;/A&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!Case_Id}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;#{!Case_Number}&lt;/B&gt;&lt;/A&gt;&lt;B&gt; - &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;/{!Account_ID}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;{!Account_Name}&lt;/B&gt;&lt;/A&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>System_Type</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;-------------------------------------------------------&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Credit Hold: {!Account_CreditHold}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;-------------------------------------------------------&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;System Type: {!Case_System_Type} &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt; - {!Account_VDUType}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Course has Bumpers: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Account_Bumpers}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;-------------------------------------------------------&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MDU_VDU_Type</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Old MDU Type: {!Account_MDUType}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMA_Units_Shipped</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;(# RMA Units Shipped: {!Case_Units_Shipped})&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMA_Units_Expected_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;# Units Expected: {!Case_Units_Expected}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Units_Received</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Case_Units_Expected</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;# VDUs Received:&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Input_Legacy_Boxes</name>
            <dataType>Number</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Legacy Boxes&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;B&gt;:&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Blank_Line_10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMA_Status_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Reason: {!Case_Reason}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Status: {!Case_Status}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMA_Detail_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Subject: {!Case_Subject}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Charges Approved by: {!Case_ChargesApprovedBy}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Case_Description}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Servicing Division: {!Account_ServicingDivision}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Case_Errors</name>
        <label>Update Case Errors</label>
        <locationX>12</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Update_Case_Error_Text</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>RMA_Check_In_Wizard</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Enter_SN</name>
        <label>Enter SN</label>
        <locationX>533</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>VDU_Category</targetReference>
        </connector>
        <flowName>CC_GPSI_Process_VDU</flowName>
        <inputAssignments>
            <name>RMA_Units_Received</name>
            <value>
                <elementReference>Case_Units_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Unit_Count</name>
            <value>
                <elementReference>Units_Processed_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_VDU_ID</name>
            <value>
                <elementReference>Last_VDU_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_VDU_SN</name>
            <value>
                <elementReference>Last_VDU_SN</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VDU_ID</assignToReference>
            <name>VDU_ID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VDU_Model</assignToReference>
            <name>VDU_Model</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VDU_SN</assignToReference>
            <name>VDU_SN</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VDU_Category</name>
        <label>VDU_Category</label>
        <locationX>992</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Repair_Ticket</targetReference>
        </connector>
        <flowName>CC_GPSI_VDU_Category</flowName>
        <inputAssignments>
            <name>VDU_SN</name>
            <value>
                <elementReference>VDU_SN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VDU_Model</name>
            <value>
                <elementReference>VDU_Model</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Repair_Category</assignToReference>
            <name>Repair_Category</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Repair_OoS_Status</assignToReference>
            <name>OoS_Status</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Create_Repair_Ticket_Name</name>
        <text>{!Case_Number} - {!Units_Processed_Count}</text>
    </textTemplates>
    <textTemplates>
        <name>Parts_Request_Description</name>
        <text>Send Qty {!Parts_Request_Quantity} of VDU type {!Account_VDUType}

{!Input_Parts_Request_Comment}</text>
    </textTemplates>
    <textTemplates>
        <name>Parts_Request_Subject</name>
        <text>RMA VDU Request - {!Parts_Request_Quantity}</text>
    </textTemplates>
    <variables>
        <name>Account_Bumpers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_CAM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_CreditHold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_MDUType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_ServicingDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_VDUType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_ChargesApprovedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the Record Type Id.  RMA Case Type =</description>
        <name>Case_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_System_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Units_Expected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Case_Units_Received</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Case_Units_Shipped</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRMARecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GPSIEUROPE_ACCTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>001j000000p5f7JAAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>GPSiRMA_ACCTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0010a00001VUWEcAAP</stringValue>
        </value>
    </variables>
    <variables>
        <name>Last_VDU_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_VDU_SN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Legacy_Boxes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Model_Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_OoS_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_Ticket_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Units_OoS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Units_Processed_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Units_To_Ship</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VDU_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VDU_Model</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VDU_SN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
