chatApplication/test2/force-app/main/default/flows/CC_GPSI_Add_G2_Refurb_Parts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clear_Ticket_Id</name>
        <label>Clear Ticket Id</label>
        <locationX>269</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>Ticket_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Repair_Ticket_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ticket_Found</name>
        <label>Ticket Found</label>
        <locationX>269</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Not_Found_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Repair_Ticket_NOT_Found</defaultConnectorLabel>
        <rules>
            <name>Repair_Ticket_Was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ticket_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Repair_Ticket_Info</targetReference>
            </connector>
            <label>Repair Ticket Was Found</label>
        </rules>
    </decisions>
    <interviewLabel>Add G2 Refurb Parts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add G2 Refurb Parts</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_002</name>
        <label>Create G2-002</label>
        <locationX>429</locationX>
        <locationY>497</locationY>
        <connector>
            <targetReference>Create_004</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Repair_Ticket__c</field>
            <value>
                <elementReference>Ticket_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;G2-002&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Description__c</field>
            <value>
                <stringValue>01t600000064BB9</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Part_Used__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_004</name>
        <label>Create G2-004</label>
        <locationX>434</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>Create_005</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Repair_Ticket__c</field>
            <value>
                <elementReference>Ticket_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;G2-004&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Description__c</field>
            <value>
                <stringValue>01t600000064BYE</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Part_Used__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_005</name>
        <label>Create G2-005</label>
        <locationX>435</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Create_015</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Repair_Ticket__c</field>
            <value>
                <elementReference>Ticket_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;G2-005&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Description__c</field>
            <value>
                <stringValue>01t600000064BYJ</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Part_Used__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_015</name>
        <label>Create G2-015</label>
        <locationX>591</locationX>
        <locationY>502</locationY>
        <connector>
            <targetReference>Create_G2_015</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Repair_Ticket__c</field>
            <value>
                <elementReference>Ticket_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;G2-015&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Description__c</field>
            <value>
                <stringValue>01t600000064BYT</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Part_Used__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_019</name>
        <label>Create G2-019</label>
        <locationX>595</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Create_G2_019B</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Repair_Ticket__c</field>
            <value>
                <elementReference>Ticket_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;G2-019&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Description__c</field>
            <value>
                <stringValue>01t600000064BYY</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Part_Used__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_337</name>
        <label>Create V2-337</label>
        <locationX>959</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Screen_Thats_All_Folks</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Repair_Ticket__c</field>
            <value>
                <elementReference>Ticket_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;V2-337&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Description__c</field>
            <value>
                <stringValue>01t60000004HXC3</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Part_Used__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_G2_015</name>
        <label>Create G2-015</label>
        <locationX>594</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Create_019</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Repair_Ticket__c</field>
            <value>
                <elementReference>Ticket_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;G2-015&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Description__c</field>
            <value>
                <stringValue>01t600000064BYT</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Part_Used__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_G2_019B</name>
        <label>Create G2-019</label>
        <locationX>774</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Create_G2_019C</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Repair_Ticket__c</field>
            <value>
                <elementReference>Ticket_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;G2-019&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Description__c</field>
            <value>
                <stringValue>01t600000064BYY</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Part_Used__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_G2_019C</name>
        <label>Create G2-019</label>
        <locationX>772</locationX>
        <locationY>612</locationY>
        <connector>
            <targetReference>Create_G2_019D</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Repair_Ticket__c</field>
            <value>
                <elementReference>Ticket_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;G2-019&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Description__c</field>
            <value>
                <stringValue>01t600000064BYY</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Part_Used__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_G2_019D</name>
        <label>Create G2-019</label>
        <locationX>769</locationX>
        <locationY>715</locationY>
        <connector>
            <targetReference>Create_337</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Repair_Ticket__c</field>
            <value>
                <elementReference>Ticket_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;G2-019&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Description__c</field>
            <value>
                <stringValue>01t600000064BYY</stringValue>
            </value>
        </inputAssignments>
        <object>CC_Part_Used__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Repair_Ticket</name>
        <label>Find Repair Ticket</label>
        <locationX>265</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ticket_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Ticket_Number</elementReference>
            </value>
        </filters>
        <object>CC_Repair_Ticket__c</object>
        <outputAssignments>
            <assignToReference>Ticket_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Repair_Ticket_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Enter_Repair_Ticket_Number</name>
        <label>Enter Repair Ticket Number</label>
        <locationX>268</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Repair_Ticket</targetReference>
        </connector>
        <fields>
            <name>Enter_Ticket_Number</name>
            <dataType>String</dataType>
            <fieldText>Enter Ticket Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_Id</name>
            <fieldText>Ticket Id: {!Ticket_Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_Error</name>
        <label>Find Error</label>
        <locationX>84</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Error</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Found_Message</name>
        <label>Not_Found_Message</label>
        <locationX>556</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Repair_Ticket_Number</targetReference>
        </connector>
        <fields>
            <name>Text_Not_Found</name>
            <fieldText>Repair Ticket NOT Found</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Repair_Ticket_Info</name>
        <label>Repair Ticket Info</label>
        <locationX>267</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_002</targetReference>
        </connector>
        <fields>
            <name>Text_Ticket_Id</name>
            <fieldText>Ticket Id: {!Ticket_Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_TicketName</name>
            <fieldText>Ticket Name: {!Repair_Ticket_Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Thats_All_Folks</name>
        <label>Screen Thats All Folks</label>
        <locationX>958</locationX>
        <locationY>616</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_All_Done</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;All Refurb Parts Added to {!Repair_Ticket_Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Clear_Ticket_Id</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>This is the full/unique name of the repair ticket</description>
        <name>Full_Ticket_Name</name>
        <text>Ticket-{!Enter_Ticket_Number}</text>
    </textTemplates>
    <variables>
        <name>Part_Used_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Repair_Ticket_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ticket_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
