chatApplication/test2/force-app/main/default/flows/CC_Milestone_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Closed_Milestone_Values</name>
        <label>Assign Closed Milestone Values</label>
        <locationX>996</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>soCaseMilestone.IsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soCaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CaseMilestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Closed_Milestone_Values_2</name>
        <label>Assign Closed Milestone Values</label>
        <locationX>999</locationX>
        <locationY>1059</locationY>
        <assignmentItems>
            <assignToReference>soCaseMilestone.IsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soCaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CaseMilestone_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entitlement_to_Case</name>
        <label>Assign Entitlement to Case</label>
        <locationX>791</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>soCase.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vrEntitlementId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_New_CaseMilestone_Collection</name>
        <label>Build New CaseMilestone Collection</label>
        <locationX>783</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>CaseMilestonesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soCaseMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Open_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CaseMilestone_Closed_Date</name>
        <label>Update CaseMilestone Closed Date</label>
        <locationX>990</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>soCaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_New_CaseMilestone_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Completed_Date</name>
        <label>Update Completed Date</label>
        <locationX>979</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>soCaseMilestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseMilestones_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCaseMilestones_to_Update</name>
        <label>UpdateCaseMilestones to Update</label>
        <locationX>760</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>CaseMilestonesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soCaseMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CaseMilestones</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FirstContactTimeInMins</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2881.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>TotalTime</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10800.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Case_RT</name>
        <label>Check Case RT</label>
        <locationX>50</locationX>
        <locationY>1122</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Club_Car</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrCaseRTDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Club_Car_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_New_Case</targetReference>
            </connector>
            <label>Club Car</label>
        </rules>
        <rules>
            <name>CC_Custom_Solutions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrCaseRTDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Club_Car_Custom_Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_CC_Custom_Solutions_Milestone_Update</targetReference>
            </connector>
            <label>CC Custom Solutions</label>
        </rules>
        <rules>
            <name>CTS_NA_Product_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrCaseRTDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA_Completes_Product_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CTS_NA_PRoduct_Support_Milestone_Flow</targetReference>
            </connector>
            <label>CTS NA Product Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_New_Case</name>
        <label>Check for New Case</label>
        <locationX>265</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT New Case</defaultConnectorLabel>
        <rules>
            <name>Entitlement_ID_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Entitlement</targetReference>
            </connector>
            <label>Entitlement ID NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entitlement_Record_Found</name>
        <label>Entitlement Record Found</label>
        <locationX>600</locationX>
        <locationY>38</locationY>
        <defaultConnectorLabel>NOT Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrEntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Entitlement_to_Case</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fired_By_Task_Or_Email</name>
        <label>Fired By Task Or Email</label>
        <locationX>57</locationX>
        <locationY>1509</locationY>
        <defaultConnector>
            <targetReference>Lookup_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vrFiredByTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vrFiredByEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_or_Email</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Closed</name>
        <label>Is Case Closed</label>
        <locationX>266</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Status_Waiting_Customer_or_Resolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Closed</defaultConnectorLabel>
        <rules>
            <name>Case_is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_All_CaseMilestones</targetReference>
            </connector>
            <label>Case is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Status_Waiting_Customer_or_Resolved</name>
        <label>Is Case Status Waiting Customer or Resolved?</label>
        <locationX>270</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Lookup_CaseMilestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Just Status Change</defaultConnectorLabel>
        <rules>
            <name>Waiting_on_Customer_OR_Resolved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved/Monitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_CaseMilestone_1st_Contact</targetReference>
            </connector>
            <label>Waiting on Customer OR Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>763</locationX>
        <locationY>924</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Closed_Milestone_Values</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found_0</name>
        <label>Records Found 0</label>
        <locationX>631</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>NO Records Found</defaultConnectorLabel>
        <rules>
            <name>YES0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collMilestones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Open_Milestones</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found_1</name>
        <label>Records Found 1</label>
        <locationX>643</locationX>
        <locationY>653</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collMilestones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CaseMilestones</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found_2</name>
        <label>Records Found?</label>
        <locationX>758</locationX>
        <locationY>1066</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCaseMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Closed_Milestone_Values_2</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_or_Email</name>
        <label>Task or Email</label>
        <locationX>255</locationX>
        <locationY>1508</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrFiredByTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Task</targetReference>
            </connector>
            <label>Task</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrFiredByEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_EmailMessage</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <formulas>
        <name>END3CaseMilestoneTypeId</name>
        <dataType>String</dataType>
        <expression>RIGHT({!soCaseMilestone.MilestoneTypeId},3)</expression>
    </formulas>
    <formulas>
        <name>End3MilestoneTypeID</name>
        <dataType>String</dataType>
        <expression>RIGHT({!soMilestoneType.Id},3)</expression>
    </formulas>
    <formulas>
        <name>MilestoneTargetTime</name>
        <dataType>Number</dataType>
        <expression>CASE({!vrStageFromProcess},
&apos;New&apos;, 120,
&apos;Assigned&apos;, 1320,
&apos;In Progress&apos;, 2882,
&apos;Waiting on Customer&apos;, 1441,
&apos;Waiting on Internal&apos;, 1442,
&apos;Resolved/Monitor&apos;, 1443,
null)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TargetDate</name>
        <dataType>DateTime</dataType>
        <expression>{!soCase.CreatedDate} + 10080</expression>
    </formulas>
    <interviewLabel>CC Milestone Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC Milestone Update</label>
    <loops>
        <name>Loop_CaseMilestones</name>
        <label>Loop CaseMilestones</label>
        <locationX>862</locationX>
        <locationY>641</locationY>
        <assignNextValueToReference>soCaseMilestone</assignNextValueToReference>
        <collectionReference>collMilestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Completed_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update1stContactCaseMilestone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Open_Milestones</name>
        <label>Loop Through Open Milestones</label>
        <locationX>868</locationX>
        <locationY>283</locationY>
        <assignNextValueToReference>soCaseMilestone</assignNextValueToReference>
        <collectionReference>collMilestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_CaseMilestone_Closed_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Open_CaseMilestones_to_Closed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_All_CaseMilestones</name>
        <label>Lookup All CaseMilestones</label>
        <locationX>458</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found_0</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>collMilestones</outputReference>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>59</locationX>
        <locationY>1291</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_RT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>soCase</outputReference>
        <queriedFields>IsEscalated</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>EntitlementId</queriedFields>
        <queriedFields>MilestoneStatus</queriedFields>
        <queriedFields>CC_Escalated_Date_Time__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_0</name>
        <label>Lookup Case</label>
        <locationX>497</locationX>
        <locationY>1301</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_CaseMilestone_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjEmailMessage.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjTask.WhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>soCase</outputReference>
        <queriedFields>IsEscalated</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>EntitlementId</queriedFields>
        <queriedFields>MilestoneStatus</queriedFields>
        <queriedFields>CC_Escalated_Date_Time__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_CaseMilestone</name>
        <label>Lookup CaseMilestone</label>
        <locationX>495</locationX>
        <locationY>921</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TargetResponseInMins</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneTargetTime</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>soCaseMilestone</outputReference>
        <queriedFields>CompletionDate</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>TargetResponseInMins</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_CaseMilestone_0</name>
        <label>Lookup CaseMilestone</label>
        <locationX>491</locationX>
        <locationY>1065</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found_2</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TargetResponseInMins</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstContactTimeInMins</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>soCaseMilestone</outputReference>
        <queriedFields>CompletionDate</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>TargetResponseInMins</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_CaseMilestone_1st_Contact</name>
        <label>Lookup CaseMilestone 1st Contact</label>
        <locationX>512</locationX>
        <locationY>789</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found_1</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TargetResponseInMins</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TotalTime</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>collMilestones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_EmailMessage</name>
        <label>Lookup EmailMessage</label>
        <locationX>485</locationX>
        <locationY>1507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Case_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>sObjEmailMessage</outputReference>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Entitlement</name>
        <label>Lookup Entitlement</label>
        <locationX>434</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entitlement_Record_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Club Car Case</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>vrEntitlementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Task</name>
        <label>Lookup Task</label>
        <locationX>296</locationX>
        <locationY>1348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Case_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>sObjTask</outputReference>
        <queriedFields>WhatId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update1stContactCaseMilestone</name>
        <label>Update1stContactCaseMilestone</label>
        <locationX>1170</locationX>
        <locationY>638</locationY>
        <inputReference>CaseMilestonesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Open_CaseMilestones_to_Closed</name>
        <label>Update All Open CaseMilestones to Closed</label>
        <locationX>1179</locationX>
        <locationY>281</locationY>
        <inputReference>CaseMilestonesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>982</locationX>
        <locationY>33</locationY>
        <inputReference>soCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CaseMilestone</name>
        <label>Update CaseMilestone</label>
        <locationX>1204</locationX>
        <locationY>927</locationY>
        <inputReference>soCaseMilestone</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CaseMilestone_2</name>
        <label>Update CaseMilestone</label>
        <locationX>1209</locationX>
        <locationY>1058</locationY>
        <inputReference>soCaseMilestone</inputReference>
    </recordUpdates>
    <startElementReference>Fired_By_Task_Or_Email</startElementReference>
    <status>Active</status>
    <subflows>
        <name>CTS_NA_PRoduct_Support_Milestone_Flow</name>
        <label>CTS NA PRoduct Support Milestone Flow</label>
        <locationX>28</locationX>
        <locationY>712</locationY>
        <flowName>CTS_NA_Product_Support_Milestone_Updates</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vrCaseRTDeveloperName</name>
            <value>
                <elementReference>vrCaseRTDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vrStageFromProcess</name>
            <value>
                <elementReference>vrStageFromProcess</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_CC_Custom_Solutions_Milestone_Update</name>
        <label>Run CC Custom Solutions Milestone Update</label>
        <locationX>213</locationX>
        <locationY>855</locationY>
        <flowName>CC_Custom_Solutions_Milestone_Updates</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vrCaseRTDeveloperName</name>
            <value>
                <elementReference>vrCaseRTDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vrStageFromProcess</name>
            <value>
                <elementReference>vrStageFromProcess</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseMilestonesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>collMilestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>sObjTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>soCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>soCaseMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>soCaseMilestone1stContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>soMilestoneType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MilestoneType</objectType>
    </variables>
    <variables>
        <name>vrCaseMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCaseMilestoneTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCaseRTDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrCMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCompletionDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrEntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrFiredByEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrFiredByTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrMilestoneTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrStageFromProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrTargetResponseMins</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
