chatApplication/test2/force-app/main/default/flows/CC_TASK_ALL_PROCESSES.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CC Milestone Update</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Milestone Update</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>CC_Milestone_Update</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recordId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>recordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>vrFiredByTask</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <name>vrFiredByTask</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>RecordType</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Club_Car_Tasks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CC_inContact_CallDirection__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>AIR_Rep_Quota__c;AIR_Sales_Quota__c;Account;AccountPlan__c;Account_Action_Plan__c;Account_Plan_Action_Plan__c;Account_Plan_Common_IR_Partner__c;Account_Plan_Competitor__c;Account_Plan_Customer_Project__c;Account_Plan_Discovery_Strategy__c;Account_Plan_Future_Opportunities__c;Account_Plan_Key_Initiative__c;Account_Plan_Manager_Feedback__c;Air_Treatment_Equipment__c;Asset;AssetRelationship;Bookings__c;CC_Assessment__c;CC_Asset_Analysis__c;CC_Asset_Group__c;CC_Asset__c;CC_Channel_Scorecard_Assessment__c;CC_Co_Op_Account_Summary__c;CC_Content_Publish_Email__c;CC_Coop_Claims__c;CC_Fleet_Analysis__c;CC_Fleet_Evaluation__c;CC_GPSI_Asset__c;CC_GPSI_Manufacturing_Order__c;CC_Opportunity_Investment__c;CC_Order__c;CC_Partner_User_Compliance__c;CC_Pavilion_Content__c;CC_Product_Line__c;CC_Programs_Eligibility__c;CC_Programs_Memberships__c;CC_RAIL_Detail__c;CC_RAIL__c;CC_Repair_Ticket__c;CC_Software_Module__c;CC_Tax_Certificate__c;CC_Trade_In__c;CTS_Area__c;CTS_Competitive_Quote__c;CTS_Location__c;CTS_Metric_Snapshot__c;CTS_Reman_Quote__c;Campaign;Case;ChannelProgram;ChannelProgramLevel;Contract;ContractLineItem;Cost_Center__c;Current_Customer_Projects_or_Jobs__c;Customer_Satisfaction_Results__c;D9_Opportunity_Snapshot__c;Dealer_Needs_Analysis__c;Dealer_Prospect_Questionnaire__c;Entitlement;Equipment_and_VIQ__c;Hole_In_One_Claim__c;IBP__Ifbyphone_Call__c;IRSPX_Account_Needs__c;IRSPX_Current_Issues_and_Pain_Points__c;IRSPX_Dealer_Conversion_Strategy__c;IRSPX_Onboarding_Action_Plan__c;IRSPX_Value_Drivers_and_Pain_Points__c;IR_Account_Team__c;Key_Account_Contacts__c;Key_Customer_Initiatives__c;Lead_to_Distributor_Tracking__c;Legal_Consumer_Relations_Team_Comment__c;ListEmail;LiveAgentSession;LiveChatTranscript;New_Event__c;OWP_Buying_Decision_Process__c;OWP_Competitive_Analysis__c;OWP_Competitive_Sales_Strategy__c;OWP_IR_Solution_Details__c;OWP_Politics_and_Relationships__c;Opportunity;OpportunityWinPlan__c;Opportunity_Sales_Call_Plan__c;Opportunity_Snapshot__c;Oppty_Sales_Call_Plan_Manager_Feedback__c;Order;PT_Parent_Opportunity__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;Potential_Future_Opportunities_in_the__c;Product2;QuestionAnswerMappingObject__c;QuestionsList__c;Quota_Entry__c;Quota_Management__c;Quote;Release_Mgmt__c;Rental_Contingency_Plan__c;Rental_Dryer__c;Sales_Call_Plan__c;Sales_Manager__c;ServiceContract;Service_Engineer__c;Solution;Top_Competitors_in_Account__c;copado__Compliance_Finding__c;copado__Compliance_Rule_Criteria__c;copado__Compliance_Rule_Group_Item__c;copado__Compliance_Rule__c;copado__Deployment_History__c;copado__Deployment_Job__c;copado__Deployment__c;copado__Destination_Org__c;copado__Epic__c;copado__Git_Backup__c;copado__OrgDiff__c;copado__Project__c;copado__Sprint__c;copado__Step__c;copado__Team__c;copado__User_Story_Task__c;copado__User_Story__c;echosign_dev1__Agreement_Type__c;qualtrics__Survey_Response__c;smagicinteract__Error_Log__c;smagicinteract__Incoming_Alert_Configuration__c;smagicinteract__Incoming_SMS__c;smagicinteract__Optout_Settings__c;smagicinteract__SMS_Batch_Execution_Tracker__c;smagicinteract__SMS_Template__c;smagicinteract__SenderId_Profile_Map__c;smagicinteract__forward_config__c;smagicinteract__incoming_lookup_config__c;smagicinteract__lookup_config__c;smagicinteract__smsMagic__c;smagicworkflow__Batch_Execution_Tracker__c;smagicworkflow__WorkflowXMLMap__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>AIR_Rep_Quota__c;AIR_Sales_Quota__c;Account;AccountPlan__c;Account_Action_Plan__c;Account_Plan_Action_Plan__c;Account_Plan_Common_IR_Partner__c;Account_Plan_Competitor__c;Account_Plan_Customer_Project__c;Account_Plan_Discovery_Strategy__c;Account_Plan_Future_Opportunities__c;Account_Plan_Key_Initiative__c;Account_Plan_Manager_Feedback__c;Air_Treatment_Equipment__c;Asset;AssetRelationship;Bookings__c;CC_Assessment__c;CC_Asset_Analysis__c;CC_Asset_Group__c;CC_Asset__c;CC_Channel_Scorecard_Assessment__c;CC_Co_Op_Account_Summary__c;CC_Content_Publish_Email__c;CC_Coop_Claims__c;CC_Fleet_Analysis__c;CC_Fleet_Evaluation__c;CC_GPSI_Asset__c;CC_GPSI_Manufacturing_Order__c;CC_Opportunity_Investment__c;CC_Order__c;CC_Partner_User_Compliance__c;CC_Pavilion_Content__c;CC_Product_Line__c;CC_Programs_Eligibility__c;CC_Programs_Memberships__c;CC_RAIL_Detail__c;CC_RAIL__c;CC_Repair_Ticket__c;CC_Software_Module__c;CC_Tax_Certificate__c;CC_Trade_In__c;CTS_Area__c;CTS_Competitive_Quote__c;CTS_Location__c;CTS_Metric_Snapshot__c;CTS_Reman_Quote__c;Campaign;Case;ChannelProgram;ChannelProgramLevel;Contract;ContractLineItem;Cost_Center__c;Current_Customer_Projects_or_Jobs__c;Customer_Satisfaction_Results__c;D9_Opportunity_Snapshot__c;Dealer_Needs_Analysis__c;Dealer_Prospect_Questionnaire__c;Entitlement;Equipment_and_VIQ__c;Hole_In_One_Claim__c;IBP__Ifbyphone_Call__c;IRSPX_Account_Needs__c;IRSPX_Current_Issues_and_Pain_Points__c;IRSPX_Dealer_Conversion_Strategy__c;IRSPX_Onboarding_Action_Plan__c;IRSPX_Value_Drivers_and_Pain_Points__c;IR_Account_Team__c;Key_Account_Contacts__c;Key_Customer_Initiatives__c;Lead_to_Distributor_Tracking__c;Legal_Consumer_Relations_Team_Comment__c;ListEmail;LiveAgentSession;LiveChatTranscript;New_Event__c;OWP_Buying_Decision_Process__c;OWP_Competitive_Analysis__c;OWP_Competitive_Sales_Strategy__c;OWP_IR_Solution_Details__c;OWP_Politics_and_Relationships__c;Opportunity;OpportunityWinPlan__c;Opportunity_Sales_Call_Plan__c;Opportunity_Snapshot__c;Oppty_Sales_Call_Plan_Manager_Feedback__c;Order;PT_Parent_Opportunity__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;Potential_Future_Opportunities_in_the__c;Product2;QuestionAnswerMappingObject__c;QuestionsList__c;Quota_Entry__c;Quota_Management__c;Quote;Release_Mgmt__c;Rental_Contingency_Plan__c;Rental_Dryer__c;Sales_Call_Plan__c;Sales_Manager__c;ServiceContract;Service_Engineer__c;Solution;Top_Competitors_in_Account__c;copado__Compliance_Finding__c;copado__Compliance_Rule_Criteria__c;copado__Compliance_Rule_Group_Item__c;copado__Compliance_Rule__c;copado__Deployment_History__c;copado__Deployment_Job__c;copado__Deployment__c;copado__Destination_Org__c;copado__Epic__c;copado__Git_Backup__c;copado__OrgDiff__c;copado__Project__c;copado__Sprint__c;copado__Step__c;copado__Team__c;copado__User_Story_Task__c;copado__User_Story__c;echosign_dev1__Agreement_Type__c;qualtrics__Survey_Response__c;smagicinteract__Error_Log__c;smagicinteract__Incoming_Alert_Configuration__c;smagicinteract__Incoming_SMS__c;smagicinteract__Optout_Settings__c;smagicinteract__SMS_Batch_Execution_Tracker__c;smagicinteract__SMS_Template__c;smagicinteract__SenderId_Profile_Map__c;smagicinteract__forward_config__c;smagicinteract__incoming_lookup_config__c;smagicinteract__lookup_config__c;smagicinteract__smsMagic__c;smagicworkflow__Batch_Execution_Tracker__c;smagicworkflow__WorkflowXMLMap__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>formula_2_myRule_1_1324627150</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>CC Phone Task</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;500&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_1324627150</name>
        <dataType>String</dataType>
        <expression>&quot;500&quot;</expression>
    </formulas>
    <interviewLabel>CC_TASK_ALL_PROCESSES-6_InterviewLabel</interviewLabel>
    <label>CC TASK ALL PROCESSES</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
