chatApplication/test2/force-app/main/default/flows/CC_Update_Club_Car_Price_on_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_CC_Price</name>
        <label>Update CC Price</label>
        <locationX>412</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>varClubCarRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formCCRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalCCRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varClubCarRevenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Products_Loop</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formCCRevenue</name>
        <dataType>Currency</dataType>
        <expression>{!OppProduct.Quantity} * {!OppProduct.CC_Club_Car_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CC Update Club Car Price on Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC Update Club Car Price on Opps</label>
    <loops>
        <name>Opp_Products_Loop</name>
        <label>Opp Products Loop</label>
        <locationX>187</locationX>
        <locationY>310</locationY>
        <assignNextValueToReference>OppProduct</assignNextValueToReference>
        <collectionReference>colOpportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_CC_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunity_Lookup</name>
        <label>Opportunity Lookup</label>
        <locationX>95</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Products_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varClubCarRevenue</assignToReference>
            <field>CC_Club_Car_Price_Flow__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Products_Lookup</name>
        <label>Products Lookup</label>
        <locationX>99</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Products_Loop</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>colOpportunityProducts</outputReference>
        <queriedFields>CC_Club_Car_Price__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Qty_Filled_via_Stock__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>215</locationX>
        <locationY>454</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CC_Club_Car_Price_Flow__c</field>
            <value>
                <elementReference>varTotalCCRevenue</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Opportunity_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varClubCarRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalCCRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
