chatApplication/test2/force-app/main/default/flows/CTS_RMS_Event_Handler_V4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Asset_Lookup_to_Event</name>
        <label>Add Asset Lookup to Event</label>
        <locationX>555</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>varRMSEvent.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRMSEvent.PackageCare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetIsPackageCare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RMS_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Center_ID</name>
        <label>Set Customer Center ID</label>
        <locationX>1477</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>varCustomerCenterId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Center_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_to_High1</name>
        <label>Set Priority to High</label>
        <locationX>934</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>varCasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Customer_Center_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_to_High2</name>
        <label>Set Priority to High</label>
        <locationX>952</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>varCasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Open_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_to_Low1</name>
        <label>Set Priority to Low</label>
        <locationX>945</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>varCasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Customer_Center_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_open_Cases</name>
        <label>Are there any open Cases?</label>
        <locationX>582</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Is_Trip2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoOpenCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Trip1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Customer_Center_ID</name>
        <label>Has Customer Center ID?</label>
        <locationX>1306</locationX>
        <locationY>129</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Customer_Center_ID_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Center_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Center_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Customer_Center_Name</name>
        <label>Has Customer Center Name?</label>
        <locationX>1120</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Customer_Center_Name_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCustomerCenterName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Center_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Asset_on_PackageCare</name>
        <label>Is Asset on PackageCare?</label>
        <locationX>181</locationX>
        <locationY>232</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Asset_on_PackageCare_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetIsPackageCare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RMSCustomSetting</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Trip1</name>
        <label>Is Trip?</label>
        <locationX>791</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Priority_to_Low1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTrip1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRMSEvent.Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_to_High1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Trip2</name>
        <label>Is Trip?</label>
        <locationX>792</locationX>
        <locationY>610</locationY>
        <defaultConnector>
            <targetReference>Update_Open_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTrip2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRMSEvent.Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_to_High2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Siebel_Asset_Found</name>
        <label>Siebel Asset Found?</label>
        <locationX>548</locationX>
        <locationY>47</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Siebel_Asset_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Asset_Lookup_to_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>ffCaseAlerts</name>
        <dataType>Number</dataType>
        <expression>{!varCaseAlerts} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ffCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;RMS &quot; + {!varRMSEvent.Event_Type__c} + &quot; &apos;&quot; + {!varRMSEvent.Event_Message__c} + &quot;&apos; on &quot; +{!varRMSEvent.Equipment_Serial_Number__c}</expression>
    </formulas>
    <interviewLabel>CTS RMS Event Handler - V4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTS RMS Event Handler 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1316</locationX>
        <locationY>447</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>varAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>Get_RMSCustomSetting.Business_Hours_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTS_RMS_Alert_Generation__c</field>
            <value>
                <stringValue>Gen 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTS_RMS_Customer_Center__c</field>
            <value>
                <elementReference>varCustomerCenterId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTS_RMS_Number_of_Alerts__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTS_TechDirect_Hour__c</field>
            <value>
                <elementReference>varRMSEvent.Running_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Equipment_Serial_Number__c</field>
            <value>
                <elementReference>varRMSEvent.Equipment_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Equipment_Siebel_CRMID__c</field>
            <value>
                <elementReference>varRMSEvent.Equipment_CRM_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Event_Code__c</field>
            <value>
                <elementReference>varRMSEvent.Event_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Event_ID__c</field>
            <value>
                <elementReference>varRMSEvent.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Event_Message__c</field>
            <value>
                <elementReference>varRMSEvent.Event_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Event_Timestamp__c</field>
            <value>
                <elementReference>varRMSEvent.Event_Timestamp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Event_Type__c</field>
            <value>
                <elementReference>varRMSEvent.Event_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>IoT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_RMSCustomSetting.CTS_RMS_Queue_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>varCasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RMSCustomSetting.CTS_RMS_CASE_RT_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ffCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Asset_by_CRM_Id</name>
        <label>Find Asset by CRM Id</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Siebel_Asset_Found</targetReference>
        </connector>
        <filters>
            <field>Siebel_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRMSEvent.Equipment_CRM_Id__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerCenterName</assignToReference>
            <field>Division__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetIsPackageCare</assignToReference>
            <field>IRIT_PC_Flag__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Center_ID</name>
        <label>Get Customer Center ID</label>
        <locationX>1124</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Customer_Center_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerCenterName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTS_Customer_Center__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Cases</name>
        <label>Get Open Cases</label>
        <locationX>440</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_open_Cases</targetReference>
        </connector>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RMSCustomSetting.CTS_RMS_CASE_RT_ID__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varCaseAlerts</assignToReference>
            <field>CTS_RMS_Number_of_Alerts__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCasePriority</assignToReference>
            <field>Priority</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RMSCustomSetting</name>
        <label>Get RMS Custom Setting</label>
        <locationX>189</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Cases</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LosantSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Open_Case</name>
        <label>Update Open Case</label>
        <locationX>1120</locationX>
        <locationY>607</locationY>
        <filters>
            <field>Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CTS_RMS_Number_of_Alerts__c</field>
            <value>
                <elementReference>ffCaseAlerts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTS_TechDirect_Hour__c</field>
            <value>
                <elementReference>varRMSEvent.Running_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Event_Code__c</field>
            <value>
                <elementReference>varRMSEvent.Event_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Event_ID__c</field>
            <value>
                <elementReference>varRMSEvent.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Event_Message__c</field>
            <value>
                <elementReference>varRMSEvent.Event_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Event_Timestamp__c</field>
            <value>
                <elementReference>varRMSEvent.Event_Timestamp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Losant_Event_Type__c</field>
            <value>
                <elementReference>varRMSEvent.Event_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>varCasePriority</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RMS_Event</name>
        <label>Update RMS Event</label>
        <locationX>381</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Is_Asset_on_PackageCare</targetReference>
        </connector>
        <inputReference>varRMSEvent</inputReference>
    </recordUpdates>
    <start>
        <locationX>11</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Find_Asset_by_CRM_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetIsPackageCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseAlerts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCasePriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCTSRMSCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerCenterId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTS_Customer_Center__c</objectType>
    </variables>
    <variables>
        <name>varCustomerCenterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRMSEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CTS_RMS_Event__c</objectType>
    </variables>
</Flow>
