chatApplication/test2/force-app/main/default/flows/CTS_Opp_Assessors_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_for_AE1</name>
        <label>Check for AE1</label>
        <locationX>927</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Get_UserTeamMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AE1_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrAE1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_1_Opp_Team_Member</targetReference>
            </connector>
            <label>AE1 Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_AE2</name>
        <label>Check for AE2</label>
        <locationX>639</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Check_for_AE1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO AE2 Found</defaultConnectorLabel>
        <rules>
            <name>AE2_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrAE2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2_Opp_Team_Member</targetReference>
            </connector>
            <label>AE2 Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_User_Record_Team_Member_Match</name>
        <label>Check for User Record Team Member Match</label>
        <locationX>1255</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Delete_Opp_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Team_Member_is_Assessment_Engineer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vrAE1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vrUserTeamMemberUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vrAE2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vrUserTeamMemberUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vrAE3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vrUserTeamMemberUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vrUserTeamMemberUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CTS_UserTeamMemberUpdate_Flow</targetReference>
            </connector>
            <label>User Team Member is Assessment Engineer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location2_On_User_Record</name>
        <label>Location2 On User Record?</label>
        <locationX>258</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Location_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location2 Populated</defaultConnectorLabel>
        <rules>
            <name>Location2_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrLocation2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Location2 Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Assessors_Found</name>
        <label>Number of Assessors Found</label>
        <locationX>130</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>No Assessors Found</defaultConnectorLabel>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrAE3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_3_Opp_Team_Member</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrAE2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2_Opp_Team_Member</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrAE1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_1_Opp_Team_Member</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <interviewLabel>CTS  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTS Opp Assessors Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_1_Opp_Team_Member</name>
        <label>Create 1 Opp Team Member</label>
        <locationX>935</locationX>
        <locationY>689</locationY>
        <assignRecordIdToReference>vrTeamMember1Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_UserTeamMember</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vrOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>District Assessment Engineer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>vrAE1</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_2_Opp_Team_Member</name>
        <label>Create 2 Opp Team Member</label>
        <locationX>644</locationX>
        <locationY>522</locationY>
        <assignRecordIdToReference>vrTeamMember2Id</assignRecordIdToReference>
        <connector>
            <targetReference>Check_for_AE1</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vrOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>District Assessment Engineer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>vrAE2</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_3_Opp_Team_Member</name>
        <label>Create 3 Opp Team Member</label>
        <locationX>461</locationX>
        <locationY>409</locationY>
        <assignRecordIdToReference>vrOppTeamMemberId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_for_AE2</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vrOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>District Assessment Engineer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>vrAE3</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Opp_Team_Member</name>
        <label>Delete Opp Team Member</label>
        <locationX>1274</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>CTS_UserTeamMemberUpdate_Flow</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrOppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrUserTeamMemberUserId</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_UserTeamMember</name>
        <label>Get UserTeamMember</label>
        <locationX>1109</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_User_Record_Team_Member_Match</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrOppOwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>District Assessment Engineer</stringValue>
            </value>
        </filters>
        <object>UserTeamMember</object>
        <outputAssignments>
            <assignToReference>vrUserTeamMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrUserTeamMemberUserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Location_Lookup</name>
        <label>Location Lookup</label>
        <locationX>120</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Assessors_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrLocation2</elementReference>
            </value>
        </filters>
        <object>CTS_Location__c</object>
        <outputAssignments>
            <assignToReference>vrArea</assignToReference>
            <field>Area__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrAE1</assignToReference>
            <field>Assessment_Engineer1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrAE2</assignToReference>
            <field>Assessment_Engineer2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrAE3</assignToReference>
            <field>Assessment_Engineer3__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Lookup</name>
        <label>Opportunity Lookup</label>
        <locationX>180</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vrOppOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>User_Lookup</name>
        <label>User Lookup</label>
        <locationX>371</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location2_On_User_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrOppOwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vrLocation1</assignToReference>
            <field>Location_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrLocation2</assignToReference>
            <field>Location_2__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Opportunity_Lookup</startElementReference>
    <status>Active</status>
    <subflows>
        <name>CTS_UserTeamMemberUpdate_Flow</name>
        <label>CTS UserTeamMemberUpdate Flow</label>
        <locationX>1447</locationX>
        <locationY>520</locationY>
        <flowName>CTS_UserTeamMemberUpdate</flowName>
        <inputAssignments>
            <name>vrAE1</name>
            <value>
                <elementReference>vrAE1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vrAE2</name>
            <value>
                <elementReference>vrAE2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vrAE3</name>
            <value>
                <elementReference>vrAE3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vrOppId</name>
            <value>
                <elementReference>vrOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vrOppOwnerId</name>
            <value>
                <elementReference>vrOppOwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>vrAE1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrAE2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrAE3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrAssessorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrLocation1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrLocation2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrNASalesOpsRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrOppOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrOppTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrTeamMember1Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrTeamMember2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrUserTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrUserTeamMemberUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
