chatApplication/test2/force-app/main/default/flows/CTS_Case_Email_Flag_Reset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Email_Flag</name>
        <label>Set Email Flag</label>
        <locationX>163</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>vrUnreadEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTriggeredbyUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formCurrentUserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_User_Owner</name>
        <label>Is User Owner?</label>
        <locationX>389</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Update_Case_User_not_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>User_is_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TrucateOwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Flag</targetReference>
            </connector>
            <label>User is Owner</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>formCurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&apos; &apos;&amp;{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>TrucateOwnerId</name>
        <dataType>String</dataType>
        <expression>LEFT({!vrOwnerId},15)</expression>
    </formulas>
    <interviewLabel>CTS Case Email Flag Reset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTS Case Email Flag Reset</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Case_Lookup</name>
        <label>Case Lookup</label>
        <locationX>164</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vrUser</assignToReference>
            <field>CurrentUserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFlowTriggeredbyUser</assignToReference>
            <field>Flow_Triggered_By_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vrUnreadEmail</assignToReference>
            <field>Unread_Email_box__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>163</locationX>
        <locationY>493</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Triggered_By_User__c</field>
            <value>
                <elementReference>formCurrentUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unread_Email_box__c</field>
            <value>
                <elementReference>vrUnreadEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_User_not_Owner</name>
        <label>Update Case User not Owner</label>
        <locationX>420</locationX>
        <locationY>421</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Triggered_By_User__c</field>
            <value>
                <elementReference>formCurrentUserName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Case_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>varFlowTriggeredbyUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrUnreadEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
