chatApplication/test2/force-app/main/default/flows/CTS_Update_Active_Service_Agreement_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Check_Active_Service_Agreement</name>
        <label>Check Active Service Agreement</label>
        <locationX>1148</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>sObjAccount.CTS_Active_Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Active_Service_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Count_of_Active_Agreements</name>
        <label>Get Count of Active Agreements</label>
        <locationX>1290</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>ServiceAgreementCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Service_Agreement_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Active_Service_Agreement</name>
        <label>Uncheck Active Service Agreement</label>
        <locationX>680</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>sObjAccount.CTS_Active_Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Active_Service_Agreement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>847</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_Greater_than_or_equal_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAgreementCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Active_Service_Agreement</targetReference>
            </connector>
            <label>Count Greater than or equal to 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Agreements_Found</name>
        <label>Service Agreements Found</label>
        <locationX>681</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Active_Service_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Service Agreement</defaultConnectorLabel>
        <rules>
            <name>Active_Agreements_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAgreementRecordsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Service_Agreement_Records</targetReference>
            </connector>
            <label>Active Agreements Found</label>
        </rules>
    </decisions>
    <interviewLabel>CTS Find Active Service Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTS Update Active Service Agreement on Account</label>
    <loops>
        <name>Loop_Through_Service_Agreement_Records</name>
        <label>Loop Through Service Agreement Records</label>
        <locationX>922</locationX>
        <locationY>70</locationY>
        <assignNextValueToReference>ServiceAgreementRecord</assignNextValueToReference>
        <collectionReference>ServiceAgreementRecordsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Count_of_Active_Agreements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>390</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Agreements</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sObjAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Agreements</name>
        <label>Get Service Agreements</label>
        <locationX>536</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Agreements_Found</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agreement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PackageCARE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PartsCARE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PlannedCARE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preventive Maintenance</stringValue>
            </value>
        </filters>
        <object>Service_Agreement__c</object>
        <outputReference>ServiceAgreementRecordsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Agreement_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Active_Service_Agreement</name>
        <label>Update Active Service Agreement</label>
        <locationX>1314</locationX>
        <locationY>471</locationY>
        <inputReference>sObjAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceAgreementCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ServiceAgreementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement__c</objectType>
    </variables>
    <variables>
        <name>ServiceAgreementRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement__c</objectType>
    </variables>
    <variables>
        <name>sObjAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vrAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
