chatApplication/test2/force-app/main/default/flows/CTS_ALP_Records_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_New_Collection_to_Update</name>
        <label>Add to New Collection to Update</label>
        <locationX>1593</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>ALPRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjALPRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_ALP_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_New_Collection_to_Update_0</name>
        <label>Add to New Collection to Update</label>
        <locationX>968</locationX>
        <locationY>1099</locationY>
        <assignmentItems>
            <assignToReference>ALPRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjALPRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_ALP_Records_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ALP_Status_to_Closed</name>
        <label>Set ALP Status to Closed</label>
        <locationX>1662</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>sObjAssetLifePlan.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ALP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Disposition</name>
        <label>Set Disposition</label>
        <locationX>742</locationX>
        <locationY>1114</locationY>
        <assignmentItems>
            <assignToReference>sObjALPRecord.Disposition_Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispositionReasonFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjALPRecord.Disposition_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispositionCommentFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Collection_to_Update_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Closed</name>
        <label>Set Status to Closed</label>
        <locationX>1578</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>sObjALPRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjALPRecord.Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClosedDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjALPRecord.Disposition_Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispositionReasonFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjALPRecord.Disposition_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispositionCommentFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Collection_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ALP_Found</name>
        <label>ALP Found?</label>
        <locationX>817</locationX>
        <locationY>481</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_ALP_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjAssetLifePlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Asset_Life_Plan_Records</targetReference>
            </connector>
            <label>YES ALP Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>ALP_Records_Closed</name>
        <label>ALP Records Closed</label>
        <locationX>1533</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrCloseRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ALP_Status_to_Closed</targetReference>
            </connector>
            <label>Records Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ALP_Records_Found</name>
        <label>ALP Records Found?</label>
        <locationX>1028</locationX>
        <locationY>699</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_ALP_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetLifePlanRecordsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Records</targetReference>
            </connector>
            <label>YES ALP Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Close_Records</name>
        <label>Close Records</label>
        <locationX>1198</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrCloseRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_ALP_Records</targetReference>
            </connector>
            <label>Close</label>
        </rules>
        <rules>
            <name>Don_t_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrCloseRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_ALP_Records_0</targetReference>
            </connector>
            <label>Don&apos;t Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fired_By_Which_Object</name>
        <label>Fired By Which Object</label>
        <locationX>403</locationX>
        <locationY>177</locationY>
        <defaultConnectorLabel>No Qualifying Record</defaultConnectorLabel>
        <rules>
            <name>Task_or_Event</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Asset_Life_Plan_0</targetReference>
            </connector>
            <label>Task or Event</label>
        </rules>
        <rules>
            <name>ALP_Record_Fired_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrFiredByALPRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Asset_Life_Plan</targetReference>
            </connector>
            <label>ALP Record Fired Flow</label>
        </rules>
    </decisions>
    <description>New version: to close ALP when F2F call is logged from opportunity and populate comments through disposition</description>
    <formulas>
        <name>ClosedDateFormula</name>
        <dataType>DateTime</dataType>
        <expression>IF({!vrCloseRecords}=TRUE, {!$Flow.CurrentDateTime}, null)</expression>
    </formulas>
    <formulas>
        <name>ClosedFormula</name>
        <dataType>String</dataType>
        <expression>IF({!vrCloseRecords}=TRUE, &apos;Closed&apos;, TEXT({!sObjALPRecord.Status__c}))</expression>
    </formulas>
    <formulas>
        <name>DispositionCommentFormula</name>
        <dataType>String</dataType>
        <expression>IF( {!vrFiredByALPRecord} = TRUE, {!vrDispositionComments}, &quot;Comment added by automated process&quot;)</expression>
    </formulas>
    <formulas>
        <name>DispositionReasonFormula</name>
        <dataType>String</dataType>
        <expression>IF({!vrFiredByALPRecord}=TRUE, {!vrDispositionReason},  &apos;Customer Contacted per Activity Logged&apos;)</expression>
    </formulas>
    <interviewLabel>CTS ALP Records Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTS ALP Records Closed</label>
    <loops>
        <name>Loop_Through_ALP_Records</name>
        <label>Loop Through ALP Records</label>
        <locationX>1339</locationX>
        <locationY>526</locationY>
        <assignNextValueToReference>sObjALPRecord</assignNextValueToReference>
        <collectionReference>AssetLifePlanRecordsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_to_Closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ALP_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_ALP_Records_0</name>
        <label>Loop Through ALP Records</label>
        <locationX>929</locationX>
        <locationY>876</locationY>
        <assignNextValueToReference>sObjALPRecord</assignNextValueToReference>
        <collectionReference>AssetLifePlanRecordsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Disposition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ALP_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Asset_Life_Plan</name>
        <label>Lookup Asset Life Plan</label>
        <locationX>868</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ALP_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrALP</elementReference>
            </value>
        </filters>
        <object>Asset_Life_Plan__c</object>
        <outputReference>sObjAssetLifePlan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Asset_Life_Plan_0</name>
        <label>Lookup Asset Life Plan</label>
        <locationX>420</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ALP_Found</targetReference>
        </connector>
        <filters>
            <field>Ship_to_Customer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrRelatedTo</elementReference>
            </value>
        </filters>
        <object>Asset_Life_Plan__c</object>
        <outputReference>sObjAssetLifePlan</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Asset_Life_Plan_Records</name>
        <label>Lookup Asset Life Plan Records</label>
        <locationX>853</locationX>
        <locationY>678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ALP_Records_Found</targetReference>
        </connector>
        <filters>
            <field>Asset_Life_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjAssetLifePlan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>CTS_Asset_Life_Plan_Records__c</object>
        <outputReference>AssetLifePlanRecordsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Closed_Date__c</queriedFields>
        <queriedFields>Disposition_Reasons__c</queriedFields>
        <queriedFields>Disposition_Comments__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_ALP</name>
        <label>Update ALP</label>
        <locationX>1521</locationX>
        <locationY>1109</locationY>
        <inputReference>sObjAssetLifePlan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ALP_Records</name>
        <label>Update ALP Records</label>
        <locationX>1382</locationX>
        <locationY>885</locationY>
        <connector>
            <targetReference>ALP_Records_Closed</targetReference>
        </connector>
        <inputReference>ALPRecordsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Fired_By_Which_Object</startElementReference>
    <status>Active</status>
    <variables>
        <name>ALPRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTS_Asset_Life_Plan_Records__c</objectType>
    </variables>
    <variables>
        <name>AssetLifePlanRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTS_Asset_Life_Plan_Records__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjALPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTS_Asset_Life_Plan_Records__c</objectType>
    </variables>
    <variables>
        <name>sObjAssetLifePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset_Life_Plan__c</objectType>
    </variables>
    <variables>
        <name>vrALP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrCloseRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrDispositionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrDispositionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrFiredByALPRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vrRelatedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
