chatApplication/test2/force-app/main/default/flows/ETO_RFQ_Chatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ETO RFQ Attachments</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>ETO RFQ Attachments</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ETO_RFQ_Attachments</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recordId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>recordId</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>AIR_Rep_Quota__c;AIR_Sales_Quota__c;APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Composer_Settings__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXTConga4__Conga_Merge_Query__c;APXTConga4__Conga_Solution_Email_Template__c;APXTConga4__Conga_Solution_Parameter__c;APXTConga4__Conga_Solution_Query__c;APXTConga4__Conga_Solution_Report__c;APXTConga4__Conga_Solution_Template__c;APXTConga4__Conga_Solution__c;APXTConga4__Conga_Solutions_Settings__c;APXTConga4__Conga_Template__c;Account;AccountPlan__c;Account_Action_Plan__c;Account_Initiatives_Junction__c;Account_Plan_Action_Plan__c;Account_Plan_Common_IR_Partner__c;Account_Plan_Competitor__c;Account_Plan_Customer_Project__c;Account_Plan_Discovery_Strategy__c;Account_Plan_Future_Opportunities__c;Account_Plan_Goals_and_Objectives__c;Account_Plan_Key_Initiative__c;Account_Plan_Manager_Feedback__c;Account_Plan_SWOT__c;Account_Team__c;Account_Whitespace__c;Actions_Tactics__c;Air_Treatment_Equipment__c;Apex_Log__c;Asset;AssetRelationship;Assignment_Group_Name__c;Assignment_Group_Queues__c;Assignment_Groups__c;Bookings__c;Buffalo_RFQ_Rejection_Reasons__c;Buffalo_RFQ__c;Buying_Decision_Process__c;CC_Account_Address__c;CC_Assessment__c;CC_Asset_Analysis__c;CC_Asset_Group__c;CC_Asset__c;CC_Car_Feature__c;CC_Car_Item__c;CC_Carriers__c;CC_Channel_Scorecard_Assessment__c;CC_Co_Op_Account_Summary__c;CC_Comparative_Dealer__c;CC_Content_Publish_Email__c;CC_Coop_Claims__c;CC_Counties__c;CC_Data_Snapshot__c;CC_Dealer_Locator_Settings__c;CC_Enterprise_Code_to_Type_Mapping__c;CC_Fleet_Analysis__c;CC_Fleet_Evaluation__c;CC_Hole_in_One__c;CC_Invoice2__c;CC_My_Team__c;CC_Opportunity_Investment__c;CC_Order_Comments__c;CC_Order_Item__c;CC_Order_Shipment_Item__c;CC_Order_Shipment__c;CC_Order__c;CC_Partner_User_Compliance__c;CC_Parts_Calendar__c;CC_Parts_Cross_Reference__c;CC_Pavilion_Co_Op_Product_Mapping__c;CC_Pavilion_Content__c;CC_Payment_Profile__c;CC_Plan__c;CC_PostalCode__c;CC_Product_Line__c;CC_Product_Rule__c;CC_Programs_Eligibility__c;CC_Programs_Memberships__c;CC_Purchase_Type_to_Product_Map__c;CC_RAIL_Detail__c;CC_RAIL__c;CC_Sales_Rep__c;CC_Shipping_Methods__c;CC_SpeedCodeHistory__c;CC_Statements__c;CC_Tax_Certificate__c;CC_Territory__c;CC_Trade_In__c;CC_Training_Request__c;CC_Vehicle__c;CC_Warranty_Labor_Rate__c;CRMC_PP__ActionGrid_Features__c;CRMC_PP__ActionGrid_Request__c;CRMC_PP__ActionGrid_Requestee__c;CRMC_PP__GridView__c;CRMC_PP__Grid_Setting__c;CRMC_PP__View_Category__c;CSI_Historical_Data__c;CTS_Area__c;CTS_Competitive_Quote__c;CTS_Location__c;CTS_Metric_Snapshot__c;CTS_Performance_Tracking__c;CTS_Reman_Quote__c;CTS_Shipped_Assets_Email__c;Campaign;Can_We_Win_the_Opp__c;Case;ChannelProgram;ChannelProgramLevel;Close_Won_Pipeline_Snapshot__c;Club_Car_Payment_Terms__c;Club_Car_Product_to_Asset_Map__c;CollaborationGroup;Common_Partners_in_Account__c;Competitive_Anaysis__c;Compressor__c;Contact;ContentDocument;Contract;Cost_Center__c;Current_Customer_Projects_or_Jobs__c;Customer_Satisfaction_Results__c;D9_Opportunity_Snapshot__c;Dashboard;DashboardComponent;Dealer_Needs_Analysis__c;Dealer_Prospect_Questionnaire__c;District_Division__c;Do_We_Have_a_Sol__c;ETO_RFQ_Rejection_History__c;ETO_RFQ__c;Enterprise_Adoption_Metrics__c;Entitlement__c;Equipment_and_VIQ__c;Event;Finance_Approval__c;GAMEFFECTIVE__CSS_adjustments__c;GAMEFFECTIVE__Game__c;GBLite__GBTestSettings__c;GBLite__GB_Global_Meta__c;GBLite__GB_Grid_Folder__c;GBLite__GB_Load_Cache__c;GBLite__GB_Save_Cache__c;GBLite__GB_User_Field_Settings__c;GBLite__GB_User_Filter_Settings__c;GBLite__GridBuddySettings__c;GridBuddy_Usage_Analytics__c;Hole_In_One_Claim__c;IBP__Ifbyphone_Call__c;IBP__Ifbyphone_Match_Field__c;IBP__Ifbyphone_Match_Object__c;IRSPX_Account_Needs__c;IRSPX_Current_Issues_and_Pain_Points__c;IRSPX_Dealer_Conversion_Strategy__c;IRSPX_Onboarding_Action_Plan__c;IR_API_Bypass__c;IR_Account_Team__c;IR_Employee__c;Is_the_Value_There__c;Is_the_opp_real__c;Key_Account_Contacts__c;Key_Customer_Initiatives__c;Key_Initiatives__c;Key_Win_Themes__c;Knowledge__ka;Lead;Lead_to_Distributor_Tracking__c;LinkedArticle;Marketing_Promotion_Form__c;OBM_Notifier__c;OWP_Actions_to_Advance_Opportunity__c;OWP_Buying_Decision_Process__c;OWP_Competitive_Analysis__c;OWP_Competitive_Sales_Strategy__c;OWP_IR_Solution_Details__c;OWP_Key_Win_Theme__c;OWP_Manager_Feedback__c;OWP_Politics_and_Relationships__c;OWP_Primary_Evaluation_Criteria__c;Opportunity;OpportunityWinPlan__c;Opportunity_Line_Item__c;Opportunity_Revenue_Schedule__c;Opportunity_Sales_Call_Plan__c;Opportunity_Snapshot__c;Opportunity_Strategic_Customer__c;Opportunity__c;Oppty_Sales_Call_Plan_Manager_Feedback__c;Order;OrderItem;Order_SalesRep__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;PavilionSettings__c;Pavilion_Navigation_Profile__c;Politics_and_Relationships__c;Potential_Future_Opportunities_in_the__c;Primary_Evaluation_Criteria__c;Product2;ProductLineToMarketType__c;QuestionAnswerMappingObject__c;QuestionsList__c;Quota_Entry__c;Quota_Management__c;Quote;Quote_Line_Item__c;Quote__c;RSHVAC_Order__c;RSHVAC_Properties__c;RSHVAC_Quote__c;RS_Builder_Contracts__c;RS_CRS_Properties__c;RS_District_Seasonal_Schedule__c;RS_Payment__c;Release_Mgmt__c;Rental_Contingency_Plan__c;Rental_Dryer__c;Report;Residential_Quota__c;Revenue__c;SDOC__SDField__c;SDOC__SDJob__c;SDOC__SDRelationship__c;SDOC__SDTemplate__c;SDOC__SDoc__c;SDOC__SDocsSettings__c;Sales_Call_Plan_Manager_Feedback__c;Sales_Call_Plan__c;Sales_Manager__c;Scheduled_Flow__c;Service_Activities__c;Service_Agreement__c;Service_Contract_Split__c;Service_Engineer__c;Service_Request__c;Siebel_Order__c;Site;Snapshot_Test__c;SocialPost;Solution;StatesCountries__c;Task;Top_Competitors_in_Account__c;Topic;Trigger_Soft_Disable__c;User;VIQContactAssociation__c;X3_Month_Pipeline__c;copado__Apex_Test_Result__c;copado__AuxiliaryObject__c;copado__Branch_Management_Permission__c;copado__Build_Task__c;copado__Change_Management_Settings__c;copado__Compliance_Finding__c;copado__Compliance_Rule_Criteria__c;copado__Compliance_Rule_Group_Item__c;copado__Compliance_Rule_Group__c;copado__Compliance_Rule__c;copado__Compliance_Scan_Result__c;copado__Continuous_Integration_Permission__c;copado__Continuous_Integration__c;copado__Copado_Notification__c;copado__Deployment_Flow_Step__c;copado__Deployment_Flow__c;copado__Deployment_History__c;copado__Deployment_Job__c;copado__Deployment_Task__c;copado__Deployment__c;copado__Destination_Org__c;copado__Environment__c;copado__Environmental_Variable__c;copado__Epic__c;copado__External_CI_Job_Result__c;copado__External_CI_Job__c;copado__External_CI_Setting__c;copado__Git_Backup__c;copado__Git_Commit__c;copado__Git_Org_Commit__c;copado__Git_Repository__c;copado__Kanban_Board__c;copado__OrgDiff__c;copado__Org__c;copado__Persona_Permission__c;copado__Persona__c;copado__Personal_Settings__c;copado__Project__c;copado__Promoted_User_Story__c;copado__Promotion__c;copado__Pull_Request_Review__c;copado__Pull_Request__c;copado__Release__c;copado__Scheduled_Job_Run__c;copado__Scheduled_Job__c;copado__Selenium_Group_Org_Credential__c;copado__Selenium_Group_Test_Suite__c;copado__Selenium_Group_Variable__c;copado__Selenium_Locator_Reference__c;copado__Selenium_Locator__c;copado__Selenium_Settings__c;copado__Selenium_Test_Case_Per_Suite__c;copado__Selenium_Test_Case__c;copado__Selenium_Test_Group__c;copado__Selenium_Test_Result__c;copado__Selenium_Test_Run__c;copado__Selenium_Test_Suite__c;copado__Snapshot_Difference__c;copado__Sprint__c;copado__Static_Code_Analysis_Result__c;copado__Static_Code_Analysis_Rule__c;copado__Static_Code_Analysis_Settings__c;copado__Step__c;copado__Team_Dependency__c;copado__Team_Member__c;copado__Team__c;copado__Test_Run_Step__c;copado__Test_Run__c;copado__Test_Script_Step__c;copado__Test_Script__c;copado__User_Persona_Assignment__c;copado__User_Story_Commit__c;copado__User_Story_Metadata__c;copado__User_Story_Selenium_Test__c;copado__User_Story_Task__c;copado__User_Story__c;ddcAssess__Assessment_Summary__c;ddcAssess__Entity_Assessment__c;ddcAssess__Field_Assessment__c;ddcAssess__Matched_Record__c;icAgentConsole__incAgentConfigEntity__c;icAgentConsole__incAgentConfigField__c;icAgentConsole__incAgentConfiguration__c;silverpop__Email_Link__c;silverpop__Silverpop_Email_Activity__c;silverpop__Silverpop_Email_Campaign_Activity__c;silverpop__Silverpop_Email_Campaign_Link__c;silverpop__Silverpop_PH__c;silverpop__Silverpop_Settings__c;sma__AvailableField__c;sma__MAAJAXDebugLog__c;sma__MAAnalytic__c;sma__MAArcGISBatchPushLog__c;sma__MAArcGISBatchPushSetting__c;sma__MAArcGISBatchPushTest__c;sma__MAAssignmentDebugLog__c;sma__MAAssignmentPlan__c;sma__MAAssignmentRule__c;sma__MABaseObject__c;sma__MAButtonSet__c;sma__MACache__c;sma__MAClick2Create__c;sma__MACustomAction__c;sma__MADataLayerSetting__c;sma__MADataLoadSegment__c;sma__MADataLoad__c;sma__MADriveProfile__c;sma__MAEventBaseObj__c;sma__MAEventLookup__c;sma__MAExportRow__c;sma__MAExport__c;sma__MAFolderPermission__c;sma__MAFolder__c;sma__MALayer__c;sma__MALocationFolder__c;sma__MALocation__c;sma__MALog__c;sma__MAMiniMapSetting__c;sma__MARelatedList__c;sma__MARoute__c;sma__MASavedQryComponent__c;sma__MASavedQry__c;sma__MAScheduledJob__c;sma__MASettingsAssignments__c;sma__MASettingsGroup__c;sma__MATerritoryCollectionBaseObject__c;sma__MATerritoryCollectionFieldUpdate__c;sma__MATerritoryCollection__c;sma__MATerritoryGeometry__c;sma__MATerritoryRollupComponent__c;sma__MATerritoryRollupFolder__c;sma__MATerritoryRollupRun__c;sma__MATerritoryRollupValue__c;sma__MATerritoryRollup__c;sma__MATerritory__c;sma__MAWaypoint__c;smagicinteract__Acknowledgement_Popup_Setting__c;smagicinteract__Conversation_View_Setting__c;smagicinteract__Duration_To_View_History__c;smagicinteract__Error_Log__c;smagicinteract__Filter_Setting__c;smagicinteract__Incoming_Alert_Configuration__c;smagicinteract__Incoming_SMS__c;smagicinteract__List_View_Configuration__c;smagicinteract__List_View_Execution__c;smagicinteract__Optout_Settings__c;smagicinteract__SMS_Batch_Execution_Tracker__c;smagicinteract__SMS_Magic_Package_Type__c;smagicinteract__SMS_Magic_SetUp_Tracker__c;smagicinteract__SMS_SenderId__c;smagicinteract__SMS_Template_Type__c;smagicinteract__SMS_Template__c;smagicinteract__Scheduled_SMS__c;smagicinteract__SenderId_Profile_Map__c;smagicinteract__Update_Related_Lists__c;smagicinteract__forward_config__c;smagicinteract__incoming_lookup_config__c;smagicinteract__lookup_config__c;smagicinteract__smsMagic__c;smagicworkflow__Batch_Execution_Tracker__c;smagicworkflow__Error_Log__c;smagicworkflow__WorkflowSMSConfig__c;smagicworkflow__WorkflowXMLMap__c;smagicworkflow__packagePrefix__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a6J</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>ETO Feed Item</label>
        </rules>
    </decisions>
    <interviewLabel>ETO_RFQ_Chatter-2_InterviewLabel</interviewLabel>
    <label>ETO RFQ Chatter</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>FeedItem</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
