chatApplication/test2/force-app/main/default/flows/ETO_RFQ_Attachments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Count_Documents</name>
        <label>Count Documents</label>
        <locationX>387</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>vrAttachmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collContentDocumentLinks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attachment_greater_than_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Attachmnt_Count</name>
        <label>Set New Attachmnt Count</label>
        <locationX>381</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>sObjETO_RFQ.Attachment_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vrAttachmentCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjETO_RFQ.Quote_Attached__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ETO_RFQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Zero_Attachment_Count</name>
        <label>Zero Attachment Count</label>
        <locationX>395</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>vrAttachmentCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_ETO_RFQ</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>1</description>
        <name>One</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Attachment_greater_than_0</name>
        <label>Attachment greater than 0</label>
        <locationX>382</locationX>
        <locationY>529</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrAttachmentCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>One</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Attachmnt_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>ETO RFQ Attachments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ETO RFQ Attachments</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Content_Link</name>
        <label>Lookup Content Link</label>
        <locationX>391</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Documents</targetReference>
        </connector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>collContentDocumentLinks</outputReference>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>LinkedEntityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_ETO_RFQ</name>
        <label>Lookup ETO RFQ</label>
        <locationX>396</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Content_Link</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ETO_RFQ__c</object>
        <outputReference>sObjETO_RFQ</outputReference>
        <queriedFields>Attachment_Count__c</queriedFields>
        <queriedFields>Quote_Attached__c</queriedFields>
        <queriedFields>DSM_Email__c</queriedFields>
        <queriedFields>BDM_Email__c</queriedFields>
        <queriedFields>Salesperson_Email__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_ETO_RFQ</name>
        <label>Update ETO RFQ</label>
        <locationX>574</locationX>
        <locationY>662</locationY>
        <inputReference>sObjETO_RFQ</inputReference>
    </recordUpdates>
    <startElementReference>Zero_Attachment_Count</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <text>Attachment(s) have been added to an ETO RFQ. Here is a link to the RFQ -</text>
    </textTemplates>
    <textTemplates>
        <name>FeedItemBody</name>
        <text>@{!sObjETO_RFQ.Salesperson_Name__c} An attachment has been added.</text>
    </textTemplates>
    <variables>
        <name>collAttachments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedAttachment</objectType>
    </variables>
    <variables>
        <name>collContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>collEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collFeedItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>collRelatedRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collsObjContentDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjAttachment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>sObjCollAttachments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>sObjETO_RFQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ETO_RFQ__c</objectType>
    </variables>
    <variables>
        <name>sObjFeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>vrAttachmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vrFeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
