chatApplication/test2/force-app/main/default/flows/TK_PDI_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_PDI_to_PDR</name>
        <label>Assign PDI to PDR</label>
        <locationX>691</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>sObjPDR.PDI_Selection_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjPDI.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjPDR.Install__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjPDI.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PDR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>PDI_Record_Found</name>
        <label>PDI Record Found?</label>
        <locationX>528</locationX>
        <locationY>136</locationY>
        <defaultConnectorLabel>No PDI Found</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjPDI.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PDI_to_PDR</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <formulas>
        <name>ProdFamilyFormula</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(TEXT({!sObjPDR.Product_Family__c}), &quot;Truck&quot;), &quot;Truck&quot;,
IF(CONTAINS(TEXT({!sObjPDR.Product_Family__c}), &quot;Trailer&quot;), &quot;Trailer&quot;,
null))</expression>
    </formulas>
    <interviewLabel>TK PDI Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TK PDI Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_PDI</name>
        <label>Lookup PDI</label>
        <locationX>393</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PDI_Record_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjPDR.TK_PDI_Selection__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProdFamilyFormula</elementReference>
            </value>
        </filters>
        <object>TK_PDI__c</object>
        <outputReference>sObjPDI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>Year__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_PDR</name>
        <label>Lookup PDR</label>
        <locationX>228</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_PDI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TK_Transport_PDR__c</object>
        <outputReference>sObjPDR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PDI_Selection__c</queriedFields>
        <queriedFields>PDI_Selection_Value__c</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>TK_PDI_Selection__c</queriedFields>
        <queriedFields>Install__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_PDR</name>
        <label>Update PDR</label>
        <locationX>833</locationX>
        <locationY>151</locationY>
        <inputReference>sObjPDR</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_PDR</startElementReference>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjPDI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TK_PDI__c</objectType>
    </variables>
    <variables>
        <name>sObjPDR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TK_Transport_PDR__c</objectType>
    </variables>
</Flow>
