chatApplication/test2/force-app/main/default/flows/TK_Shipment_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reload_Record_After_Update</name>
        <label>Reload Record After Update</label>
        <locationX>949</locationX>
        <locationY>1746</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Apr_Shipment_Schedule_CY</name>
        <label>Assign Apr Shipment Schedule CY</label>
        <locationX>559</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Apr_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Apr_Shipment_Schedule_NY</name>
        <label>Assign Apr Shipment Schedule NY</label>
        <locationX>559</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Aug_Shipment_Schedule_CY</name>
        <label>Assign Aug Shipment Schedule CY</label>
        <locationX>1110</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Aug_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Aug_Shipment_Schedule_NY</name>
        <label>Assign Aug Shipment Schedule NY</label>
        <locationX>1114</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul8</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dec_Shipment_Schedule_CY</name>
        <label>Assign Dec Shipment Schedule CY</label>
        <locationX>1614</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Dec_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dec_Shipment_Schedule_NY</name>
        <label>Assign Dec Shipment Schedule NY</label>
        <locationX>1620</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov12</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Feb_Shipment_Schedule_CY</name>
        <label>Assign Feb Shipment Schedule CY</label>
        <locationX>296</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Feb_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Feb_Shipment_Schedule_NY</name>
        <label>Assign Feb Shipment Schedule NY</label>
        <locationX>296</locationX>
        <locationY>1051</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Jan_Shipment_Schedule</name>
        <label>Assign Jan Shipment Schedule</label>
        <locationX>177</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Jul_Shipment_Schedule_CY</name>
        <label>Assign Jul Shipment Schedule CY</label>
        <locationX>980</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Jul_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Jul_Shipment_Schedule_NY</name>
        <label>Assign Jul Shipment Schedule NY</label>
        <locationX>981</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Jun_Shipment_Schedule_CY</name>
        <label>Assign Jun Shipment Schedule CY</label>
        <locationX>846</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Jun_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Jun_Shipment_Schedule_NY</name>
        <label>Assign Jun Shipment Schedule NY</label>
        <locationX>849</locationX>
        <locationY>1033</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mar_Shipment_Schedule_CY</name>
        <label>Assign Mar Shipment Schedule CY</label>
        <locationX>427</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Mar_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mar_Shipment_Schedule_NY</name>
        <label>Assign Mar Shipment Schedule NY</label>
        <locationX>431</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_May_Shipment_Schedule_CY</name>
        <label>Assign May Shipment Schedule CY</label>
        <locationX>716</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_May_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_May_Shipment_Schedule_NY</name>
        <label>Assign May Shipment Schedule NY</label>
        <locationX>712</locationX>
        <locationY>1038</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nov_Shipment_Schedule_CY</name>
        <label>Assign Nov Shipment Schedule CY</label>
        <locationX>1499</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Nov_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nov_Shipment_Schedule_NY</name>
        <label>Assign Nov Shipment Schedule NY</label>
        <locationX>1503</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct11</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oct_Shipment_Schedule_CY</name>
        <label>Assign Oct Shipment Schedule CY</label>
        <locationX>1369</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Oct_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oct_Shipment_Schedule_NY</name>
        <label>Assign Oct Shipment Schedule NY</label>
        <locationX>1373</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sep_Shipment_Schedule_CY</name>
        <label>Assign Sep Shipment Schedule CY</label>
        <locationX>1236</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Sep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sep9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Oct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oct9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Nov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nov9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Dec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dec9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjShipmentSchedule.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrScheduleYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Sep_Shipment_Schedule_NY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sep_Shipment_Schedule_NY</name>
        <label>Assign Sep Shipment Schedule NY</label>
        <locationX>1236</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jan9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.PDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDRFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSchedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NYScheduleIDFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Feb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feb9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Mar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mar9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Apr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apr9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.May__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>May9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jun9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Jul__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jul9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjNYSch.Aug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aug9</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Current_Month</name>
        <label>Current Month</label>
        <locationX>817</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Jan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jan_Shipment_Schedule</targetReference>
            </connector>
            <label>Jan</label>
        </rules>
        <rules>
            <name>Feb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feb_Shipment_Schedule</targetReference>
            </connector>
            <label>Feb</label>
        </rules>
        <rules>
            <name>Mar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mar_Shipment_Schedule</targetReference>
            </connector>
            <label>Mar</label>
        </rules>
        <rules>
            <name>Apr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apr_Shipment_Schedule</targetReference>
            </connector>
            <label>Apr</label>
        </rules>
        <rules>
            <name>May</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>May_Shipment_Schedule</targetReference>
            </connector>
            <label>May</label>
        </rules>
        <rules>
            <name>Jun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jun_Shipment_Schedule</targetReference>
            </connector>
            <label>Jun</label>
        </rules>
        <rules>
            <name>Jul</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jul_Shipment_Schedule</targetReference>
            </connector>
            <label>Jul</label>
        </rules>
        <rules>
            <name>Aug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aug_Shipment_Schedule</targetReference>
            </connector>
            <label>Aug</label>
        </rules>
        <rules>
            <name>Sep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sep_Shipment_Schedule</targetReference>
            </connector>
            <label>Sep</label>
        </rules>
        <rules>
            <name>Oct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oct_Shipment_Schedule</targetReference>
            </connector>
            <label>Oct</label>
        </rules>
        <rules>
            <name>Nov</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nov_Shipment_Schedule</targetReference>
            </connector>
            <label>Nov</label>
        </rules>
        <rules>
            <name>Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_Shipment_Schedule</targetReference>
            </connector>
            <label>Dec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NY_Shipment_Schedule_ID_Blank</name>
        <label>Is NY Shipment Schedule ID Blank?</label>
        <locationX>948</locationX>
        <locationY>1553</locationY>
        <defaultConnector>
            <targetReference>Update_Shipment_Schedule_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Blank</defaultConnectorLabel>
        <rules>
            <name>Blank_NY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjNYSch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shipment_Schedule_0</targetReference>
            </connector>
            <label>Blank NY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Shipment_Schedule_ID_Blank</name>
        <label>Is Shipment Schedule ID Blank?</label>
        <locationX>945</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Update_Shipment_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjShipmentSchedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Shipment_Schedule</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Found</name>
        <label>Opp Found?</label>
        <locationX>974</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>No Opp Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjOpp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_CY_Shipment_Schedule</targetReference>
            </connector>
            <label>Yes Opp Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_or_PDR</name>
        <label>Opp or PDR?</label>
        <locationX>699</locationX>
        <locationY>37</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrOppOrPDR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Opp</targetReference>
            </connector>
            <label>Opp</label>
        </rules>
        <rules>
            <name>PDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vrOppOrPDR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_PDR</targetReference>
            </connector>
            <label>PDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>PDR_Found</name>
        <label>PDR Found?</label>
        <locationX>436</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>No PDR Found</defaultConnectorLabel>
        <rules>
            <name>Yes_PDR_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjPDR.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_CY_Shipment_Schedule_0</targetReference>
            </connector>
            <label>Yes PDR Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CurrentYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>CurrScheduleYear</name>
        <dataType>String</dataType>
        <expression>IF({!sObjShipmentSchedule.Year__c}=null, {!CurrentYear}, {!sObjShipmentSchedule.Year__c})</expression>
    </formulas>
    <formulas>
        <name>CYScheduleIDFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!sObjShipmentSchedule.Id}), &quot;&quot;, {!sObjShipmentSchedule.Id})</expression>
    </formulas>
    <formulas>
        <name>NextSchedYear</name>
        <dataType>String</dataType>
        <expression>IF({!sObjNYSch.Year__c}=null, {!NY}, {!sObjNYSch.Year__c})</expression>
    </formulas>
    <formulas>
        <name>NY</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate})+1)</expression>
    </formulas>
    <formulas>
        <name>NYScheduleIDFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!sObjNYSch.Id}), &quot;&quot;, {!sObjNYSch.Id})</expression>
    </formulas>
    <formulas>
        <name>OppFormula</name>
        <dataType>String</dataType>
        <expression>IF({!vrOppOrPDR}=&quot;Opp&quot;, {!recordId}, {!sObjPDR.Opportunity__c})</expression>
    </formulas>
    <formulas>
        <name>PDRFormula</name>
        <dataType>String</dataType>
        <expression>IF({!vrOppOrPDR}=&quot;PDR&quot;, {!recordId}, null)</expression>
    </formulas>
    <interviewLabel>Shipment Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Shipment_Schedule</name>
        <label>Create Shipment Schedule</label>
        <locationX>680</locationX>
        <locationY>1453</locationY>
        <connector>
            <targetReference>Is_NY_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
        <inputReference>sObjShipmentSchedule</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Shipment_Schedule_0</name>
        <label>Create Shipment Schedule</label>
        <locationX>679</locationX>
        <locationY>1602</locationY>
        <connector>
            <targetReference>Reload_Record_After_Update</targetReference>
        </connector>
        <inputReference>sObjNYSch</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_CY_Shipment_Schedule</name>
        <label>Lookup CY Shipment Schedule</label>
        <locationX>786</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_NY_Shipment_Schedule_0_0</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjOpp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentYear</elementReference>
            </value>
        </filters>
        <object>TK_Shipment_Schedule__c</object>
        <outputReference>sObjShipmentSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Jan__c</queriedFields>
        <queriedFields>Feb__c</queriedFields>
        <queriedFields>Mar__c</queriedFields>
        <queriedFields>Apr__c</queriedFields>
        <queriedFields>May__c</queriedFields>
        <queriedFields>Jun__c</queriedFields>
        <queriedFields>Jul__c</queriedFields>
        <queriedFields>Aug__c</queriedFields>
        <queriedFields>Sep__c</queriedFields>
        <queriedFields>Oct__c</queriedFields>
        <queriedFields>Nov__c</queriedFields>
        <queriedFields>Dec__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Year__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_CY_Shipment_Schedule_0</name>
        <label>Lookup CY Shipment Schedule</label>
        <locationX>618</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_NY_Shipment_Schedule_0</targetReference>
        </connector>
        <filters>
            <field>PDR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjPDR.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentYear</elementReference>
            </value>
        </filters>
        <object>TK_Shipment_Schedule__c</object>
        <outputReference>sObjShipmentSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Jan__c</queriedFields>
        <queriedFields>Feb__c</queriedFields>
        <queriedFields>Mar__c</queriedFields>
        <queriedFields>Apr__c</queriedFields>
        <queriedFields>May__c</queriedFields>
        <queriedFields>Jun__c</queriedFields>
        <queriedFields>Jul__c</queriedFields>
        <queriedFields>Aug__c</queriedFields>
        <queriedFields>Sep__c</queriedFields>
        <queriedFields>Oct__c</queriedFields>
        <queriedFields>Nov__c</queriedFields>
        <queriedFields>Dec__c</queriedFields>
        <queriedFields>PDR__c</queriedFields>
        <queriedFields>Year__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_NY_Shipment_Schedule_0</name>
        <label>Lookup NY Shipment Schedule</label>
        <locationX>454</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Month</targetReference>
        </connector>
        <filters>
            <field>PDR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjPDR.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NY</elementReference>
            </value>
        </filters>
        <object>TK_Shipment_Schedule__c</object>
        <outputReference>sObjNYSch</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Jan__c</queriedFields>
        <queriedFields>Feb__c</queriedFields>
        <queriedFields>Mar__c</queriedFields>
        <queriedFields>Apr__c</queriedFields>
        <queriedFields>May__c</queriedFields>
        <queriedFields>Jun__c</queriedFields>
        <queriedFields>Jul__c</queriedFields>
        <queriedFields>Sep__c</queriedFields>
        <queriedFields>Oct__c</queriedFields>
        <queriedFields>Nov__c</queriedFields>
        <queriedFields>Dec__c</queriedFields>
        <queriedFields>Year__c</queriedFields>
        <queriedFields>PDR__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_NY_Shipment_Schedule_0_0</name>
        <label>Lookup NY Shipment Schedule</label>
        <locationX>985</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Month</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjOpp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NY</elementReference>
            </value>
        </filters>
        <object>TK_Shipment_Schedule__c</object>
        <outputReference>sObjNYSch</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Jan__c</queriedFields>
        <queriedFields>Feb__c</queriedFields>
        <queriedFields>Mar__c</queriedFields>
        <queriedFields>Apr__c</queriedFields>
        <queriedFields>May__c</queriedFields>
        <queriedFields>Jun__c</queriedFields>
        <queriedFields>Jul__c</queriedFields>
        <queriedFields>Sep__c</queriedFields>
        <queriedFields>Oct__c</queriedFields>
        <queriedFields>Nov__c</queriedFields>
        <queriedFields>Dec__c</queriedFields>
        <queriedFields>Year__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp</name>
        <label>Lookup Opp</label>
        <locationX>965</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sObjOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_PDR</name>
        <label>Lookup PDR</label>
        <locationX>437</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PDR_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TK_Transport_PDR__c</object>
        <outputReference>sObjPDR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shipment_Schedule</name>
        <label>Update Shipment Schedule</label>
        <locationX>1273</locationX>
        <locationY>1443</locationY>
        <connector>
            <targetReference>Is_NY_Shipment_Schedule_ID_Blank</targetReference>
        </connector>
        <inputReference>sObjShipmentSchedule</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipment_Schedule_0</name>
        <label>Update Shipment Schedule</label>
        <locationX>1192</locationX>
        <locationY>1604</locationY>
        <connector>
            <targetReference>Reload_Record_After_Update</targetReference>
        </connector>
        <inputReference>sObjNYSch</inputReference>
    </recordUpdates>
    <screens>
        <name>Apr_Shipment_Schedule</name>
        <label>Apr Shipment Schedule</label>
        <locationX>565</locationX>
        <locationY>810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Apr_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>Apr4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.May__c</elementReference>
            </defaultValue>
            <fieldText>May</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BS41</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NY4</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS42</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar4</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Aug_Shipment_Schedule</name>
        <label>Aug Shipment Schedule</label>
        <locationX>1112</locationX>
        <locationY>805</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Aug_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>Aug8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BS8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NY8</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS82</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.May__c</elementReference>
            </defaultValue>
            <fieldText>May</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul8</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dec_Shipment_Schedule</name>
        <label>Dec Shipment Schedule</label>
        <locationX>1610</locationX>
        <locationY>811</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Dec_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>Dec12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BS12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NY12</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS121</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.May__c</elementReference>
            </defaultValue>
            <fieldText>May {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov12</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feb_Shipment_Schedule</name>
        <label>Feb Shipment Schedule</label>
        <locationX>299</locationX>
        <locationY>805</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Feb_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>Feb_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.May__c</elementReference>
            </defaultValue>
            <fieldText>May</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BlankSpace2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NextYear2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Jan_Shipment_Schedule</name>
        <label>Jan Shipment Schedule</label>
        <locationX>180</locationX>
        <locationY>803</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Jan_Shipment_Schedule</targetReference>
        </connector>
        <fields>
            <name>Jan1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.May__c</elementReference>
            </defaultValue>
            <fieldText>May</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Jul_Shipment_Schedule</name>
        <label>Jul Shipment Schedule</label>
        <locationX>982</locationX>
        <locationY>801</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Jul_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>Jul7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NY7</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.May__c</elementReference>
            </defaultValue>
            <fieldText>May {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun7</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Jun_Shipment_Schedule</name>
        <label>Jun Shipment Schedule</label>
        <locationX>845</locationX>
        <locationY>804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Jun_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>Jun6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BS6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NY6</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS62</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May6</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.May__c</elementReference>
            </defaultValue>
            <fieldText>May {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mar_Shipment_Schedule</name>
        <label>Mar Shipment Schedule</label>
        <locationX>427</locationX>
        <locationY>808</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Mar_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>Mar3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.May__c</elementReference>
            </defaultValue>
            <fieldText>May</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>YearDivider</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb3</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>May_Shipment_Schedule</name>
        <label>May Shipment Schedule</label>
        <locationX>716</locationX>
        <locationY>801</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_May_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>May5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.May__c</elementReference>
            </defaultValue>
            <fieldText>May</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NY5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr5</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nov_Shipment_Schedule</name>
        <label>Nov Shipment Schedule</label>
        <locationX>1500</locationX>
        <locationY>808</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Nov_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>Nov11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NY11</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.May__c</elementReference>
            </defaultValue>
            <fieldText>May {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct11</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Oct_Shipment_Schedule</name>
        <label>Oct Shipment Schedule</label>
        <locationX>1370</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Oct_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>Oct10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BS10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NY10</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS101</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.May__c</elementReference>
            </defaultValue>
            <fieldText>May {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sep10</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sep_Shipment_Schedule</name>
        <label>Sep Shipment Schedule</label>
        <locationX>1240</locationX>
        <locationY>804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Sep_Shipment_Schedule_CY</targetReference>
        </connector>
        <fields>
            <name>Sep9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Sep__c</elementReference>
            </defaultValue>
            <fieldText>Sep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Oct9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Oct__c</elementReference>
            </defaultValue>
            <fieldText>Oct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nov9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Nov__c</elementReference>
            </defaultValue>
            <fieldText>Nov</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dec9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjShipmentSchedule.Dec__c</elementReference>
            </defaultValue>
            <fieldText>Dec</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NY9</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NY}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Jan9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jan__c</elementReference>
            </defaultValue>
            <fieldText>Jan {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feb9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Feb__c</elementReference>
            </defaultValue>
            <fieldText>Feb {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mar9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Mar__c</elementReference>
            </defaultValue>
            <fieldText>Mar {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Apr9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Apr__c</elementReference>
            </defaultValue>
            <fieldText>Apr {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>May9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.May__c</elementReference>
            </defaultValue>
            <fieldText>May {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jun9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jun__c</elementReference>
            </defaultValue>
            <fieldText>Jun {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Jul9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Jul__c</elementReference>
            </defaultValue>
            <fieldText>Jul {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Aug9</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sObjNYSch.Aug__c</elementReference>
            </defaultValue>
            <fieldText>Aug {!NY}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Opp_or_PDR</startElementReference>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjNYSch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TK_Shipment_Schedule__c</objectType>
    </variables>
    <variables>
        <name>sObjOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sObjPDR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TK_Transport_PDR__c</objectType>
    </variables>
    <variables>
        <name>sObjShipmentSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TK_Shipment_Schedule__c</objectType>
    </variables>
    <variables>
        <name>vrOppOrPDR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
