chatApplication/test2/force-app/main/default/flows/Update_Business_Hour_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Business_Hour_Id</name>
        <label>Check Business Hour Id</label>
        <locationX>343</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Id_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessHourId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Business_Hours</targetReference>
            </connector>
            <label>Id Found</label>
        </rules>
    </decisions>
    <description>Update Business Hour Id on case to calculate case Age</description>
    <interviewLabel>Update Business Hour Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Business Hour Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Business_Hour_Id</name>
        <label>Get Business Hour Id</label>
        <locationX>188</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Business_Hour_Id</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessHourName</elementReference>
            </value>
        </filters>
        <object>BusinessHours</object>
        <outputAssignments>
            <assignToReference>BusinessHourId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_Hours</name>
        <label>Update Business Hours</label>
        <locationX>620</locationX>
        <locationY>250</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>BusinessHourId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Business_Hour_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BusinessHourId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessHourName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
